<div class="row" id="child_items">

	<div id="item-description" class="col-md-3">
		<%= render partial: 'catalog/sidebar_panels/item_map', locals: { document: document } %>
		<% geo_facet_fields_to_show = {'subject_hierarchical_geographic_neighborhood_ssim' => 'Neighborhood', 'subject_hierarchical_geographic_borough_ssim' => 'Borough', 'subject_hierarchical_geographic_city_ssim' => 'City'} %>
		<% geo_non_facet_fields_to_show = {'subject_hierarchical_geographic_street_ssim' => 'Address', 'geo' => 'Coordinates'} %>
		<%= render partial: 'catalog/sidebar_panels/location_data', locals: { document: document, geo_facet_fields_to_show: geo_facet_fields_to_show, geo_non_facet_fields_to_show: geo_non_facet_fields_to_show } %>
		<%= render partial: 'catalog/sidebar_panels/links', locals: { document: document, configured_links: [:persistent, :mods] } %>

	</div>

	<div class="col-md-9 ls-controls-dark">
		<%= render partial: 'catalog/content_aggregator/content_aggregator_viewer', locals: { document: document } %>

			<div class="inner" style="margin-top:1em;">
				<dl class="dl-horizontal">
					<% document_show_fields(document).each do |solr_fname, field| %>
						<% if solr_fname.to_s == 'dynamically_generated_published_field' %>
							<% publisher_field_value = combined_field_published_string(document) %>
							<% if publisher_field_value.present? %>
								<dt><%= render_document_show_field_label document, :field => solr_fname %></dt>
								<dd><%= publisher_field_value %></dd>
							<% end %>
						<% elsif should_render_show_field?(document, field) %>
							<dt class="blacklight-<%= solr_fname.parameterize %>"><%= render_document_show_field_label document, :field => solr_fname %></dt>
							<dd class="blacklight-<%= solr_fname.parameterize %>"><%= render_document_show_field_value document, :field => solr_fname %></dd>
						<% end %>
					<% end %>
				</dl>
				<%= render_url_and_catalog_links(document) %>
			</div>

	</div>

</div>
