<div id="content">
<div id="hometn" class="home inner">
	<div id="site-banner" style="padding-top:0;padding-bottom:0;border:0;">
        <div class="row">
            <div class="col-sm-8">
                            <%= render 'site_title' %>
            </div>
            <div class="col-sm-4">
                            <div id="search-navbar" class="navbar navbar-default slim" role="navigation">
                                    <%= render_search_bar(false)  %>
                            </div>
            </div>
		</div>
	</div>
	<%= render 'secondary_nav' %>
	<div class="featured-outer">
		<img class="img-responsive" alt="" src="<%= asset_path("carnegie/carnegie-logo.svg") %>">
	</div>
	<div id="home-map-container">
		<script>
			DCV.mapCoordinateSearchUrl = decodeURIComponent('<%= CGI.escape(url_for(params.merge(:action => 'index', :lat => '_lat_', :long => '_long_', :search_field => params[:search_field] || 'all_text_teim', :q => params[:q] || ''))) %>');
		</script>
		<% map_search_settings = map_search_settings_for_subsite %>
		<%#= render partial: 'map_search', locals: {
			map_data_json: @map_data_json,
			map_default_center_lat: map_search_settings['default_lat'] || 0,
			map_default_center_long: map_search_settings['default_long'] || 0,
			map_default_zoom_level: map_search_settings['default_zoom'] || 11,
			force_use_default_center: true
		} %>
	</div>
</div>
 <div class="row">
  <div class="col-md-4">
    <div class="home inner">
		<h2 class="h5 text-uppercase">About the Project</h2>
			<p>
			Carnegie, an extraordinary resource for research in Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc augue elit, consectetur id commodo eu, faucibus at ligula. Curabitur est mauris, accumsan ut tincidunt eget, convallis non lacus. Donec tincidunt neque lacus, sit amet pellentesque risus suscipit ut.
			</p>
			<p>
			The data that constitutes the Carnegie was collected from Aliquam eget tortor quis velit mattis vulputate. Pellentesque eget tempus diam, a condimentum sapien. Aenean bibendum in mauris dictum rutrum. Curabitur condimentum augue eget nisl lacinia eleifend. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed finibus id nunc nec dignissim. Sed vehicula nulla vel porta tincidunt.
			</p>
			<p>
			A comprehensive guide to the use of the digitized materials on this site can be found here: <a href="http://guides.library.columbia.edu/carnegie">http://guides.library.columbia.edu/carnegie</a>.
			</p>
			<p>
			A finding aid to the complete physical archive can be found here: <a href="http://findingaids.cul.columbia.edu/">http://findingaids.cul.columbia.edu/</a>.
			</p>
			<p>
			For any questions or comments, please contact us at <a href="mailto:carnegie@library.columbia.edu">carnegie@library.columbia.edu</a>.
			</p>
    </div>
  </div>
	<div class="col-md-4">
		 <div class="home inner">
				<h2 class="h5 text-uppercase">About the Carnegie Corporation</h2>
				<p>
				Donec rutrum tellus mollis interdum ultricies. Donec feugiat finibus sapien, sit amet vulputate nulla. Vivamus dictum ante eu condimentum pretium.
				</p>
				<ul class="list-unstyled">
				  <li>Lorem ipsum dolor sit amet</li>
				  <li>Consectetur adipiscing elit</li>
				  <li>Integer molestie lorem at massa</li>
				  <li>Facilisis in pretium nisl aliquet</li>
				  <li>Nulla volutpat aliquam velit
				    <ul>
				      <li>Phasellus iaculis neque</li>
				      <li>Purus sodales ultricies</li>
				      <li>Vestibulum laoreet porttitor sem</li>
				      <li>Ac tristique libero volutpat at</li>
				    </ul>
				  </li>
				  <li>Faucibus porta lacus fringilla vel</li>
				  <li>Aenean sit amet erat nunc</li>
				  <li>Eget porttitor lorem</li>
				</ul>
		 </div> <!--/.inner-->
	</div><!--/-->
  <div class="col-md-4">
     <div class="home inner">
        <h2 class="h5 text-uppercase">BROWSE THE COLLECTION</h2>
        <%= render partial: 'facets', locals: {hide_refine_heading: true, no_id_attr: true} %>
     </div> <!--/.inner-->
  </div><!--/-->

</div>
</div>
