<div class="form-group card swatch-info scope_filter" id="scope_filters_<%= filter_form.index %>">
	<div class="card-header form-inline">
		<span class="badge badge-pill badge-success"><%= filter_form.object.new_record? ? 'New' : filter_form.object.filter_type.titlecase %> Filter</span>
	</div>
	<div class="card-body" id="scope_filters_<%= filter_form.index %>_atts">
		<%- if filter_form.object.new_record? %>
		<div class="form-group">
			<label for="site[scope_filters_attributes][<%= filter_form.index %>][filter_type]">Filter Type <span class="fa fa-question-circle" data-tooltip="tooltip-scope-filters-type"></span></label>
			<%= filter_form.select :filter_type, ScopeFilter::VALID_TYPES %>
		</div>
		<%- end %>
		<div class="form-group">
			<%- unless filter_form.object.new_record? %>
				<%= filter_form.hidden_field :filter_type %>
			<%- end %>
			<label for="site[scope_filters_attributes][<%= filter_form.index %>][value]">Filter Value <span class="fa fa-question-circle" data-tooltip="tooltip-scope-filters-value"></span></label>
			<%= filter_form.text_field :value, class: 'form-control' %>
		</div>
		<div class="form-group">
			<button class="btn btn-danger" type="button" onclick="$(this).closest('.scope_filter').remove();">
			<span class="fa fa-remove"></span> Remove Filter
			</button>
		</div>
	</div>
</div>
