<%- 
	if @subsite.slug =~ /restricted\//
		slug_param = @subsite.slug.sub('restricted/', '')
		form_url = restricted_site_scope_filters_path(site_slug: slug_param)
	else
		form_url = site_scope_filters_path(site_slug: @subsite.slug)
	end
-%>
<h1>Configuring <%= @subsite.slug %> site scope</h1>
<%= render partial: "sites/edit/edit_buttons" %>
<div class="container">
	<div class="card bg-info" id="site_edit_context_about">
		<div class="card-header"><h2 class="card-title">About Site Scope <button type="button" class="btn btn-primary collapse-toggle collapsed" data-toggle="collapse" data-target="#site_edit_context_about_content" aria-expanded="false" aria-controls="site_edit_context_about_content" data-parent="site_edit_context_about"></button></h2></div>
		<div class="card-body collapse collapsed" id="site_edit_context_about_content">
			<p>The scope of content presented for a site is determined by metadata attributes such as project, collection, or repository. These attributes are the default filters used to search the site's content.</p>
			<p>Items matching at least one scope filter from each configured category will be included in the site's search results. When there are no attributes configured as scope filters, the site is considered to be only a splash page, and presumed to link to content outside the DLC.</p>
		</div>
	</div>
</div>
<div class="container"><%= form_for @subsite, url: {action: :update} do |site_form| %>
	<div class="panel bg-primary">
		<div class="card-header"><h2 class="card-title">Content Scope Filters</h2></div>
		<div class="card-body scope_filters">
			<%= site_form.fields_for :scope_filters, include_id: false do |filter_form| %>
				<%= render partial: "sites/scope_filters/scope_filter_form", locals: {filter_form: filter_form} %>
			<%- end %>
			<button type="button" onclick="addScopeFilterFields(this);" class="btn btn-info" id="site-add-scope-filter">
				<span class="fa fa-plus"></span> Add Scope Filter
			</button>
			<input type="hidden" name="site[empty]" />
		</div>
	</div>
	<div class="card">
		<div class="card-body">
			<%= submit_tag "Update Scope", {class: ['btn', 'btn-secondary']} %>
		</div>
	</div>
<%- end %></div>
<div class="hide widget-templates">
<%- buffer = "" %>
<%- form_for @subsite, url: form_url do |site_form| %>
	<%- site_form.fields_for :scope_filters, ScopeFilter.new, include_id: false, child_index: '9fieldIndex9' do |filter_form| %>
		<%- buffer << render(partial: 'sites/scope_filters/scope_filter_form', locals: {filter_form: filter_form}) %>
	<%- end %>
<%- end %>
<%= buffer.html_safe %>
</div>
