<h3 class="nomar-t">About the Collection: Overview and History</h3>

<div class="col-xs-6 col-sm-4 pull-right">
	<div class="thumbnail" style="background-color:white;text-align:center;">
		<img src="<%= asset_path("nyre/YR.0656.BR.005.jpg") %>" alt="">
		<div class="caption" style="color:#888;">
		"Lincoln Place Prospect Heights"<br>
		375 Lincoln Pl, Brooklyn
		</div>
	</div>
</div>

<p>
The New York Real Estate Brochure Collection, housed in <a href="http://library.columbia.edu/indiv/avery/classics/">Avery Architectural &amp; Fine Arts Library's Classics Department</a>, consists of over 9,200 advertising brochures, floor plans, price lists, and related materials that document residential and commercial real estate development in the five boroughs of New York and outlying vicinities from the 1920s to the 1970s. The majority of the collection is offerings for apartment and other residential spaces. 
</p>

<p>
This collection of ephemeral advertising material constitutes an invaluable resource for researching New York City architecture.  The brochures and related materials provide architects' and agents' names, illustrate interior and exterior views of buildings, display typical floor plans, and list prominent features of the buildings.  In addition, the breadth of the collection provides a panoply of information covering a range of areas from the growth of New York City to advertising techniques from the 1920s to the 1970s.
</p> 

<p>
Yale Robbins, Henry Robbins, and David Magier donated this archive to <a href="http://library.columbia.edu/indiv/avery/">Avery Architectural &amp; Fine Arts Library</a> in 1986.  The printing firm (the founding company and its successor) that produced the brochures kept examples of every item they made. The donors acquired the collection directly from the successor firm, a brilliant coup and a great service to scholarship. 
</p>

<div class="clearfix"></div>

<h3>Note About the Digitized Items</h3>

<p>Digitization of this collection has proved challenging due to the physical structure of the brochures.  The brochures are usually composed of a single sheet, often folded in a complex manner.  The single sheet may be folded multiple times and contain four or more individual parts that had to be imaged.  One common format is a single sheet folded in four with a floor plan printed on the "inner page."  Parkway Apartments at 1171-1185 Ocean Parkway in Brooklyn (<a href="/projects/view/461">YR.0465.BR</a>) is one such example. This item consists of four images: (1) the front, measuring 8 1/2 x 11 inches (2) the double page, measuring 8 1/2 x 22 inches (3) the floor plan, measuring 17 x 22 inches and (4) the back, measuring 8 1/2 x 11 inches.</p> 


<p>The size of the each image can vary widely as the brochure is unfolded requiring the photographer to reposition the camera.  Floor plans are often included within the brochure but at a different orientation than the text, analogous to street map folds. The brochures were photographed from the perspective of the viewer unfolding the items in sequence.  Folds that contained text or graphics, no matter how minimal, were photographed.  However, completely blank folds, usually the verso or last "page," were not imaged.</p>

<a name="example"></a>
<h4>Example: Parkway Apartments</h4>
<table width="100%" cellpadding="6" cellspacing="3" align="center">
<tbody><tr>
<td valign="top" width="30%"> 
<img src="<%= asset_path("nyre/3fold-1.jpg") %>" alt=""></td>
<td valign="top">
1. <img src="http://www.columbia.edu/cgi-bin/dlo?obj=ldpd_YR_0465_BR_001_001&amp;size=thumb" class="thumbnail"><br></td>
</tr>
<tr>
<td valign="top">
<img src="<%= asset_path("nyre/3fold-2.jpg") %>" alt=""></td>
<td valign="top">
2. <img src="http://www.columbia.edu/cgi-bin/dlo?obj=ldpd_YR_0465_BR_001_002&amp;size=thumb" class="thumbnail"><img src="http://www.columbia.edu/cgi-bin/dlo?obj=ldpd_YR_0465_BR_001_003&amp;size=thumb" class="thumbnail"><br></td>
</tr>
<tr>
<td valign="top">
<img src="<%= asset_path("nyre/3fold-3.jpg") %>" alt=""></td>
<td valign="top">
3. <img src="http://www.columbia.edu/cgi-bin/dlo?obj=ldpd_YR_0465_BR_001_004&amp;size=thumb" width="300"><br></td>
</tr>
<tr>
<td valign="top">
<img src="<%= asset_path("nyre/3fold-4.jpg") %>" alt=""></td>
<td valign="top">
4. <img src="http://www.columbia.edu/cgi-bin/dlo?obj=ldpd_YR_0465_BR_001_005&amp;size=thumb" class="thumbnail"><br></td>
</tr>
</tbody></table>
