<div id="content">
<div id="hometn" class="home inner">
	<div id="site-banner" style="padding-top:0;padding-bottom:0;border:0;">
        <div class="row">
            <div class="col-sm-8">
                            <%= link_to 'THE LANGUAGE AND CULTURE ARCHIVE OF ASHKENAZIC JEWRY'.html_safe, lcaaj_index_path, { :id => 'site-title' } %>
            </div>
            <div class="col-sm-4">
                            <div id="search-navbar" class="navbar navbar-default slim" role="navigation">
                                    <%= render_search_bar(false)  %>
                            </div>
            </div>
		</div>
	</div>
	<%= render 'secondary_nav' %>
	<img class="img-responsive" alt="" src="<%= asset_path("lcaaj/lcaaj-c1.png") %>">
	<div id="home-map-container">
		<script>
			DCV.mapCoordinateSearchUrl = decodeURIComponent('<%= CGI.escape(url_for(params.merge(:action => 'index', :lat => '_lat_', :long => '_long_', :search_field => params[:search_field] || 'all_text_teim', :q => params[:q] || ''))) %>');
		</script>
		<% map_search_settings = map_search_settings_for_subsite %>
	</div>
</div>
 <div class="row">
  <div class="col-md-8">
    <div class="home inner">
		<h5>ABOUT THE LANGUAGE AND CULTURE ARCHIVE OF ASHKENAZIC JEWRY</h5>
			<p>
			The Language and Culture Archive of Ashkenazic Jewry (LCAAJ), an extraordinary resource for research in Yiddish studies, consists of 5,755 hours of audio tape field interviews with Yiddish speaking informants collected between 1959 and 1972 and ca. 100,000 pages of accompanying linguistic field notes. The Archive does not include transcriptions of the interviews.
			</p>
			<p>
			The data that constitutes the LCAAJ was collected from 603 locations in Central and Eastern Europe carefully chosen to reflect the distribution of the Yiddish speaking population on the eve of World War II. In a series of interviews lasting anywhere from 2.5 to 16 hours, informants answered questions on a wide variety of topics concerning Yiddish language and culture. The project was designed by Professor Uriel Weinreich, then Chairman of Columbia University's Department of Linguistics, and continued after his death in 1967 under the direction of Dr. Marvin Herzog, Atran Professor Emeritus of Yiddish Studies at Columbia University, who donated the Archive to the Columbia University Libraries in 1995. Dr. Herzog passed away in 2013.
			</p>
			<p>
			This digital collection contains images of the written data portion of the archive. Please note that the written data is mostly single word answers, as would have been necessary for use by the project directors. For the entire audio of the interviews, please go to the EYDES (Evidence for Yiddish Documentation in European Society) website: <a href="http://eydes.de/Usr08DEA512IY/">http://eydes.de/Usr08DEA512IY/</a>.
			</p>
            <p>
            This digitization and web publishing project was carried out under a 2015 award of $150,000 to Columbia University Libraries by the National Endowment for the Humanities under its Humanities Collections and Reference Resources Program.
            </p>
			<p>
			A comprehensive guide to the use of the digitized materials on this site can be found here: <a href="http://guides.library.columbia.edu/lcaaj">http://guides.library.columbia.edu/lcaaj</a>.
			</p>
			<p>
			A finding aid to the complete physical archive can be found here: <a href="http://findingaids.cul.columbia.edu/ead/nnc-rb/ldpd_4079907/">http://findingaids.cul.columbia.edu/ead/nnc-rb/ldpd_4079907/</a>.
			</p>
			<p>
			For any questions or comments, please contact us at <a href="mailto:lcaaj@libraries.cul.columbia.edu">lcaaj@libraries.cul.columbia.edu</a>.
			</p>
    </div>
  </div>
  <div class="col-md-4">
     <div class="home inner">
        <h5 class="">BROWSE THE COLLECTION</h5>
        <%= render partial: 'facets', locals: {hide_refine_heading: true, no_id_attr: true} %>
     </div> <!--/.inner-->
  </div><!--/-->

</div>
</div>
