<%
repository_key = params[:repository_id] || params[:site_slug] || controller.subsite_key
%>
<% if repository_key && (current_page?(repository_url(repository_key)) or current_page?(repository_reading_room_url(repository_id: repository_key))) %>
	<nav class="navbar navbar-expand d-flex flex-column" id="site-banner">
		<h1>Columbia University Libraries Digital Collections</h1>
		<h2><%= repository_physical_location(repository_key) %></h2>
	</nav>
<% elsif repository_key %>
	<nav class="navbar navbar-expand d-flex flex-md-row flex-sm-column" id="site-banner">
		<a href="<%= repository_path(repository_key) %>" id="site-title" class="navbar-brand text-lg-left"><%= repository_physical_location(repository_key) %></a>
		<%= render Dcv::SearchBar::RepositoriesComponent.new(
			url: search_repository_search_path(repository_id: repository_key),
			advanced_search_url: search_repository_search_path(repository_id: repository_key, action: 'advanced_search'),
			params: search_state.params_for_search.except(:qt),
			autocomplete_path: search_action_path(action: :suggest),
			content_availability: 'onsite'
		) if repository_key -%>
	</nav>
<% end %><%= render("secondary_nav") if repository_key %>
<% if controller.reading_room_client? -%>
	<div class="note">This workstation provides access to content that can only be viewed on-site in the reading room.</div>
<% end -%>
