<nav id="secondary-nav" class="navbar d-flex px-0">
	<%- cache @subsite do -%>
		<ul class="nav nav-pills mr-auto">
			<li class="nav-item">
				<a href="<%= repository_reading_room_url(repository_id: @subsite.repository_id) %>" class="nav-link" title="Online Reading Room Home"><i class="fa fa-home"></i></a>
			</li>
			<%- @subsite.nav_menus.each do |nav_menu| -%>
				<%- if nav_menu.length > 1 -%>
					<li class="dropdown">
						<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><%=nav_menu.label %> <b class="caret"></b></a>
						<ul class="dropdown-menu list-unstyled dropdown-menu-left">
							<%- nav_menu.links.each do |nav_link| -%>
								<li><%= link_to_nav(nav_link, link_class: "dropdown-item", site_slug: params[:repository_id]) %></li>
							<%- end -%>
						</ul>
					</li>
				<%- else -%>
					<li class="nav-item"><%= link_to_nav(nav_menu.links[-1]) %></li>
				<%- end -%>
			<%- end -%>
		</ul>
	<%- end -%>
	<%- if map_search_settings_for_subsite.present? -%>
		<ul class="nav nav-pills">
			<li class="nav-item"><a href="<%= '/' + @subsite.slug + '/map_search' %>" class="nav-link mx-auto px-md-1"><span class="fa fa-map-marker"></span> Map<span class="d-md-none d-lg-inline"> All Items</span></a></li>
		</ul>
	<%- end -%>
	<ul class="nav nav-pills">
		<li class="nav-item">
			<a href="/restricted" class="nav-link" title="List Online Reading Rooms"><i class="fa fa-list-alt"></i></a>
		</li>
	</ul>
</nav>
