<%= form_for @page, url: { action: (@page.new_record? ? "create" : "update")  }, html: { } do |page_form| %>
<div class="panel panel-primary">
	<div class="panel-heading"><h2 class="panel-title">Page Properties</h2></div>
	<div class="panel-body page_properties">
		<div class="form-group">
			<label for="page_slug">Slug <span class="glyphicon glyphicon-question-sign" data-tooltip="tooltip-slug"></label>
			<%= page_form.text_field :slug, class: ['form-control'] %>
			<label for="page_title">Title <span class="glyphicon glyphicon-question-sign" data-tooltip="tooltip-page-title"></label>
			<%= page_form.text_field :title, class: ['form-control'] %>
		</div>
		<label for="site[show_facets]">Text Columns <span class="glyphicon glyphicon-question-sign" data-tooltip="tooltip-page-columns"></span></label>
		<div class="radio">
			<label>
				<%= page_form.radio_button :use_multiple_columns, false %>Show text in one column
			</label>
		</div>
		<div class="radio">
			<label>
				<%= page_form.radio_button :use_multiple_columns, true %>Show text in multiple columns
			</label>
		</div>
	</div>
</div>
<div class="panel panel-primary">
	<div class="panel-heading"><h2 class="panel-title">Text Blocks</h2></div>
	<div class="panel-body site_text_blocks">
		<%= page_form.fields_for :site_text_blocks, include_id: false do |site_text_block_form| %>
			<div class="panel panel-info site_text_block" id="site_text_block_<%= site_text_block_form.index %>">
				<div class="panel-heading form-inline">
					<div class="form-group">
						<span class="glyphicon glyphicon-move site_text_block_handle"></span>
						<label for="site_page[site_text_blocks_attributes][<%= site_text_block_form.index %>][sort_label]">Block Label <span class="glyphicon glyphicon-question-sign" data-tooltip="tooltip-block-label"></label>
						<%= site_text_block_form.text_field :label, class: ['form-control'] %>
						<button type="button" class="btn btn-primary collapse-toggle collapsed" data-toggle="collapse" data-target="#site_page_text_block_<%= site_text_block_form.index %>_markdown" aria-expanded="false" aria-controls="site_page_text_blocks_<%= site_text_block_form.index %>" data-parent="site_text_block_<%= site_text_block_form.index %>">Content</button>
					</div>
					<div class="pull-right">
						<a class="btn btn-danger remove" onclick="removeTextBlock(this); return false;"><span class="glyphicon glyphicon-remove"></span> Remove Block</a>
					</div>
				</div>
				<div class="panel-body collapse site_navigation_links" id="site_page_text_block_<%= site_text_block_form.index %>_markdown">
					<%= site_text_block_form.text_area :markdown, rows: 5, class: ['form-control'] %>
				</div>
			</div>
		<% end %>
		<input type="button" onclick="addTextBlock(this);" value="Add Text Block" class="btn btn-info" id="site-page-add-block"/>
	</div>
</div>

<div class="panel">
	<%= submit_tag "#{@page.new_record? ? "Create" : "Update"} Page", {class: ['btn', 'btn-default']} %>
</div>
<% end %>

<div class="hidden new-block-template">
	<div class="panel panel-info site_text_block" id="site_text_block_9blockIndex9">
		<div class="panel-heading form-inline">
			<div class="form-group">
				<span class="glyphicon glyphicon-move site_text_block_handle"></span>
				<label for="site_page[site_text_blocks_attributes][9blockIndex9][sort_label]">Block Label <span class="glyphicon glyphicon-question-sign" data-tooltip="tooltip-block-label"></label>
				<input class="form-control" type="text" value="" name="site_page[site_text_blocks_attributes][9blockIndex9][label]" id="site_page_site_text_blocks_attributes_9blockIndex9_label" />
				<button type="button" class="btn btn-primary collapse-toggle collapsed" data-toggle="collapse" data-target="#site_page_text_block_9blockIndex9_markdown" aria-expanded="false" aria-controls="site_page_text_blocks_9blockIndex9" data-parent="site_text_block_9blockIndex9">Content</button>
			</div>
			<div class="pull-right">
				<a class="btn btn-danger remove" onclick="removeTextBlock(this); return false;"><span class="glyphicon glyphicon-remove"></span> Remove Block</a>
			</div>
		</div>
		<div class="panel-body collapse site_navigation_links" id="site_page_text_block_9blockIndex9_markdown">
			<textarea rows="5" class="form-control" name="site_page[site_text_blocks_attributes][9blockIndex9][markdown]" id="site_page_site_text_blocks_attributes_9blockIndex9_markdown"></textarea>
		</div>
	</div>
</div>
<div class="hidden tooltips">
	<span id="tooltip-slug" title="Slug">Slugs are the url segments identifying the page. They should be should not contain separators or punctuation besides hyphens (preferred) or underscores. Page slugs must be unique within a site.</span>
	<span id="tooltip-page-title" title="Page Title">The title or heading for the entire page.</span>
	<span id="tooltip-page-columns" title="Text Columns">Display text blocks in multiple columns if the layout supports it. Requires at least two text blocks.</span>
	<span id="tooltip-block-label" title="Block Label">The heading or label for this block of markdown. If left blank, no heading will be displayed for this block.</span>
</div>
