<%= form_for @page, url: { action: (@page.new_record? ? "create" : "update")  } do |page_form| %>
<div class="card border-secondary">
	<div class="card-header swatch-secondary"><h2 class="card-title">Page Properties</h2></div>
	<div class="card-body page_properties">
		<div class="form-group">
			<label for="page_slug">Slug <span class="fa fa-question-circle" data-tooltip="tooltip-slug"></span></label>
			<%= page_form.text_field :slug, class: ['form-control'], disabled: ('home' == @page.slug) %>
			<label for="page_title">Title <span class="fa fa-question-circle" data-tooltip="tooltip-page-title"></span></label>
			<%= page_form.text_field :title, class: ['form-control'] %>
		</div>
		<label for="page[use_multiple_columns]">Text Columns <span class="fa fa-question-circle" data-tooltip="tooltip-page-columns"></span></label>
		<div class="radio">
			<label>
				<%= page_form.radio_button :use_multiple_columns, false %>Show text in one column
			</label>
		</div>
		<div class="radio">
			<label>
				<%= page_form.radio_button :use_multiple_columns, true %>Show text in multiple columns
			</label>
		</div>
	</div>
	<div class="card-body page_images">
		<h3>Page Image</h3>
		<%= page_form.fields_for :site_page_images, @page.site_page_images[0] || SitePageImage.new do |site_page_image_form| %>
			<label for="image_identifier">Image Identifier (doi:, asset:, lweb:)</label>
			<%= site_page_image_form.text_field :image_identifier, class: ['form-control'] %>
			<% if @page.site_page_images[0] -%>
				<label for="_destroy"><span class="fa fa-remove"></span> Remove</label>
				<%= site_page_image_form.check_box(:_destroy) %>
			<% end -%>
		<% end %>
	</div>
</div>
<div class="card border-secondary">
	<div class="card-header swatch-secondary"><h2 class="card-title">Text Blocks</h2></div>
	<div class="card-body site_text_blocks">
		<%= page_form.fields_for :site_text_blocks, include_id: false do |site_text_block_form| %>
			<%= render partial: 'sites/pages/text_block_form', locals: { site_text_block_form: site_text_block_form } %>
		<% end %>
		<button type="button" onclick="addTextBlock(this);" class="btn btn-info" id="site-page-add-block">
			<span class="fa fa-plus"></span> Add Text Block

		</button>
	</div>
</div>

<div class="card">
	<div class="card-body">
		<%= submit_tag "#{@page.new_record? ? "Create" : "Update"} Page", {class: ['btn', 'btn-warning']} %>
	</div>
</div>
<% end %>

<%- buffer = "" %>
<%- form_for @page, url: { action: (@page.new_record? ? "create" : "update")  } do |page_form| %>
	<%- page_form.fields_for :site_text_blocks, SiteTextBlock.new, include_id: false, child_index: '9blockIndex9' do |site_text_block_form| %>
		<%- buffer << render(partial: 'sites/pages/text_block_form', locals: {site_text_block_form: site_text_block_form}) %>
	<%- end %>
<%- end %>
<div class="hidden new-block-template">
	<%= buffer.html_safe %>
</div>
<div class="hidden tooltips">
	<span id="tooltip-slug" title="Slug">Slugs are the url segments identifying the page. They should be should not contain separators or punctuation besides hyphens (preferred) or underscores. Page slugs must be unique within a site.</span>
	<span id="tooltip-page-title" title="Page Title">The title or heading for the entire page.</span>
	<span id="tooltip-page-columns" title="Text Columns">Display text blocks in multiple columns if the layout supports it. Requires at least two text blocks.</span>
	<span id="tooltip-block-label" title="Block Label">The heading or label for this block of markdown. If left blank, no heading will be displayed for this block.</span>
</div>
