<div class="card border-info site_text_block" id="site_text_block_<%= site_text_block_form.index %>">
	<div class="card-header swatch-info form-inline">
		<div class="form-group">
			<span class="fa fa-arrows site_text_block_handle"></span>
			<label for="site_page[site_text_blocks_attributes][<%= site_text_block_form.index %>][sort_label]">Block Label <span class="fa fa-question-circle" data-tooltip="tooltip-block-label"></span></label>
			<%= site_text_block_form.text_field :label, class: ['form-control'] %>
			<button type="button" class="btn btn-primary collapse-toggle collapsed" data-toggle="collapse" data-target="#site_page_text_block_image_<%= site_text_block_form.index %>_markdown" aria-expanded="false" aria-controls="site_page_text_block_image_<%= site_text_block_form.index %>" data-parent="#site_text_block_<%= site_text_block_form.index %>"><%= collapse_labels("Images") %></button>
			<button type="button" class="btn btn-primary collapse-toggle collapsed" data-toggle="collapse" data-target="#site_page_text_block_<%= site_text_block_form.index %>_markdown" aria-expanded="false" aria-controls="site_page_text_blocks_<%= site_text_block_form.index %>" data-parent="#site_text_block_<%= site_text_block_form.index %>"><%= collapse_labels("Content") %></button>
		</div>
		<div class="float-right">
			<a class="btn btn-danger remove" onclick="removeTextBlock(this); return false;"><span class="fa fa-remove"></span> Remove</a>
		</div>
	</div>
	<div class="card-body collapse site_page_text_block_images" id="site_page_text_block_image_<%= site_text_block_form.index %>_markdown">
		<%= site_text_block_form.fields_for :site_page_images, site_text_block_form.object.site_page_images[0] || SitePageImage.new, include_id: true do |image_form| %>
			<label for="image_identifier">Image Identifier (doi:, asset:, lweb:)</label>
			<%= image_form.text_field :image_identifier, class: ['form-control'] %>
			<label for="caption">Image Caption</label>
			<%= image_form.text_field :caption, class: ['form-control'] %>
			<label for="alt_text">Image Alt Text</label>
			<%= image_form.text_field :alt_text, class: ['form-control'] %>
			<% if site_text_block_form.object.site_page_images[0] -%>
				<label for="_destroy"><span class="fa fa-remove"></span> Remove</label>
				<%= image_form.check_box(:_destroy) %>
			<% end -%>
			<label for="style">Image Style</label>
			<div class="radio">
				<label>
					<%= image_form.radio_button :style, "hero" %>Hero
				</label>
			</div>
			<div class="radio">
				<label>
					<%= image_form.radio_button :style, "inset" %>Inset
				</label>
			</div>
		<% end %>
	</div>
	<div class="card-body collapse site_text_blocks" id="site_page_text_block_<%= site_text_block_form.index %>_markdown">
		<%= site_text_block_form.text_area :markdown, rows: 5, class: ['form-control'] %>
	</div>
</div>
