<div class="row">
	<div id="content" class="col-md-12 show-document">
		<div id="item-show">
			<% @page_title = t('blacklight.search.show.title', :document_title => document_show_html_title, :application_name => application_name).html_safe -%>
			<% content_for(:head) { render_link_rel_alternates } -%>
			<div id="document" class="document <%= render_document_class %>" itemscope  itemtype="https://schema.org/CollectionPage">
				<div id="doc_<%= @subsite.slug.to_s.parameterize %>">
					<div class="inner">
						<div id="show-concept">
							<div class="col-xs-12 col-sm-6 pull-right">
								<%- image_pid = @subsite.image_uri.split('/')[-1] if @subsite.image_uri -%>
								<%- if image_pid -%>
									<div class="show-representative-image mb-2"><%= image_tag(get_asset_url(id: image_pid, size: 768, type: 'full', format: 'jpg'), :itemprop => 'image', :class => 'img-responsive w-100') if image_pid %><div class="clearfix"></div></div>
								<%- end -%>
							</div>
							<div class="col-xs-12 col-sm-6 pl-0">
							<%- @page.site_text_blocks.sort { |a,b| a.sort_label <=> b.sort_label }.each do |text_block| -%>
								<%- if text_block.label.present? -%>
									<h2 class="h5 text-uppercase"><%= text_block.label %></h2>
								<%- end -%>
								<%= controller.render_markdown(text_block.markdown) %>
							<%- end -%>
							<p>
								<%- if (about_link = @subsite.about_link) -%>
									<%= link_to("Read more &raquo;".html_safe, site_page_path(site_slug: @subsite.slug, slug: about_link.link), class: ["btn", "btn-primary"]) %>
								<%- end -%>
								<%= link_to("Browse content &raquo;".html_safe, search_action_url, class: ["btn", "btn-primary"]) %>
							</p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
		<%= render partial: 'opengraph_document_metadata' %>
		<%= render partial: 'openurl_coins_document_metadata' %>
	</div>
</div>
