<li><a href="<%=ifp_partner_path(:key => 'brazil')%>"><img src="<%= asset_path("ifp/office-flags/brazil-f.png") %>" alt="">Brazil</a></li>
<li><a href="<%=ifp_partner_path(:key => 'chile')%>"><img src="<%= asset_path("ifp/office-flags/chile-f.png") %>" alt="">Chile</a></li>
<li><a href="<%=ifp_partner_path(:key => 'china')%>"><img src="<%= asset_path("ifp/office-flags/china-f.png") %>" alt="">China</a></li>
<li><a href="<%=ifp_partner_path(:key => 'egypt')%>"><img src="<%= asset_path("ifp/office-flags/egypt-f.png") %>" alt="">Egypt</a></li>
<li><a href="<%=ifp_partner_path(:key => 'ghana')%>"><img src="<%= asset_path("ifp/office-flags/ghana-f.png") %>" alt="">Ghana</a></li>
<li><a href="<%=ifp_partner_path(:key => 'guatemala')%>"><img src="<%= asset_path("ifp/office-flags/guatemala-f.png") %>" alt="">Guatemala</a></li>
<li><a href="<%=ifp_partner_path(:key => 'india')%>"><img src="<%= asset_path("ifp/office-flags/india-f.png") %>" alt="">India</a></li>
<li><a href="<%=ifp_partner_path(:key => 'indonesia')%>"><img src="<%= asset_path("ifp/office-flags/indonesia-f.png") %>" alt="">Indonesia</a></li>
<li><a href="<%=ifp_partner_path(:key => 'kenya')%>"><img src="<%= asset_path("ifp/office-flags/kenya-f.png") %>" alt="">Kenya</a></li>
<li><a href="<%=ifp_partner_path(:key => 'mexico')%>"><img src="<%= asset_path("ifp/office-flags/mexico-f.png") %>" alt="">Mexico</a></li>
<li><a href="<%=ifp_partner_path(:key => 'mozambique')%>"><img src="<%= asset_path("ifp/office-flags/mozambique-f.png") %>" alt="">Mozambique </a></li>
<li><a href="<%=ifp_partner_path(:key => 'nigeria')%>"><img src="<%= asset_path("ifp/office-flags/nigeria-f.png") %>" alt="">Nigeria</a></li>
<li><a href="<%=ifp_partner_path(:key => 'palestine')%>"><img src="<%= asset_path("ifp/office-flags/palestine-f.png") %>" alt="">Palestine</a></li>
<li><a href="<%=ifp_partner_path(:key => 'peru')%>"><img src="<%= asset_path("ifp/office-flags/peru-f.png") %>" alt="">Peru</a></li>
<li><a href="<%=ifp_partner_path(:key => 'philippines')%>"><img src="<%= asset_path("ifp/office-flags/philippines-f.png") %>" alt="">Philippines</a></li>
<li><a href="<%=ifp_partner_path(:key => 'russia')%>"><img src="<%= asset_path("ifp/office-flags/russia-f.png") %>" alt="">Russia</a></li>
<li><a href="<%=ifp_partner_path(:key => 'senegal')%>"><img src="<%= asset_path("ifp/office-flags/senegal-f.png") %>" alt="">Senegal</a></li>
<li><a href="<%=ifp_partner_path(:key => 'southafrica')%>"><img src="<%= asset_path("ifp/office-flags/southafrica-f.png") %>" alt="">South Africa</a></li>
<li><a href="<%=ifp_partner_path(:key => 'tanzania')%>"><img src="<%= asset_path("ifp/office-flags/tanzania-f.png") %>" alt="">Tanzania</a></li>
<li><a href="<%=ifp_partner_path(:key => 'thailand')%>"><img src="<%= asset_path("ifp/office-flags/thailand-f.png") %>" alt="">Thailand</a></li>
<li><a href="<%=ifp_partner_path(:key => 'uganda')%>"><img src="<%= asset_path("ifp/office-flags/uganda-f.png") %>" alt="">Uganda</a></li>
<li><a href="<%=ifp_partner_path(:key => 'vietnam')%>"><img src="<%= asset_path("ifp/office-flags/vietnam-f.png") %>" alt="">Vietnam</a></li>

<li style="width:100%;margin-bottom:2em;"><a href="<%=ifp_partner_path(:key => 'secretariat')%>"><img src="<%= asset_path("ifp/office-flags/secretariat-f.png") %>" alt="">Secretariat</a><div class="clearfix"></div></li>
