<li><%= link_to_partner('brazil') %></li>
<li><%= link_to_partner('chile') %></li>
<li><%= link_to_partner('china') %></li>
<li><%= link_to_partner('egypt') %></li>
<li><%= link_to_partner('ghana') %></li>
<li><%= link_to_partner('guatemala') %></li>
<li><%= link_to_partner('india') %></li>
<li><%= link_to_partner('indonesia') %></li>
<li><%= link_to_partner('kenya') %></li>
<li><%= link_to_partner('mexico') %></li>
<li><%= link_to_partner('mozambique') %></li>
<li><%= link_to_partner('nigeria') %></li>
<li><%= link_to_partner('palestine') %></li>
<li><%= link_to_partner('peru') %></li>
<li><%= link_to_partner('philippines') %></li>
<li><%= link_to_partner('russia') %></li>
<li><%= link_to_partner('senegal') %></li>
<li><%= link_to_partner('southafrica') %></li>
<li><%= link_to_partner('tanzania') %></li>
<li><%= link_to_partner('thailand') %></li>
<li><%= link_to_partner('uganda') %></li>
<li><%= link_to_partner('vietnam') %></li>
<li style="display:block;margin-bottom:2em;"><%= link_to_partner('secretariat') %><div class="clearfix"></div></li>