<li><%= link_to_partner('brazil', class: 'brazil') %></li>
<li><%= link_to_partner('chile', class: 'chile') %></li>
<li><%= link_to_partner('china', class: 'china') %></li>
<li><%= link_to_partner('egypt', class: 'egypt') %></li>
<li><%= link_to_partner('ghana', class: 'ghana') %></li>
<li><%= link_to_partner('guatemala', class: 'guatemala') %></li>
<li><%= link_to_partner('india', class: 'india') %></li>
<li><%= link_to_partner('indonesia', class: 'indonesia') %></li>
<li><%= link_to_partner('kenya', class: 'kenya') %></li>
<li><%= link_to_partner('mexico', class: 'mexico') %></li>
<li><%= link_to_partner('mozambique', class: 'mozambique') %></li>
<li><%= link_to_partner('nigeria', class: 'nigeria') %></li>
<li><%= link_to_partner('palestine', class: 'palestine') %></li>
<li><%= link_to_partner('peru', class: 'peru') %></li>
<li><%= link_to_partner('philippines', class: 'philippines') %></li>
<li><%= link_to_partner('russia', class: 'russia') %></li>
<li><%= link_to_partner('senegal', class: 'senegal') %></li>
<li><%= link_to_partner('southafrica', class: 'southafrica') %></li>
<li><%= link_to_partner('tanzania', class: 'tanzania') %></li>
<li><%= link_to_partner('thailand', class: 'thailand') %></li>
<li><%= link_to_partner('uganda', class: 'uganda') %></li>
<li><%= link_to_partner('vietnam', class: 'vietnam') %></li>
<li style="display:block;margin-bottom:2em;"><%= link_to_partner('secretariat', class: 'secretariat') %><div class="clearfix"></div></li>