<nav id="secondary-nav" class="navbar d-flex px-0">
	<ul class="nav nav-pills mr-auto">
		<li class="nav-item"><a href="<%= ifp_path %>" class="nav-link"><i class="fa fa-home"></i></a>
		</li>
		<li class="nav-item"><a href="<%=ifp_about_the_ifp_path()%>" title="About the IFP" class="nav-link"><i class="fa fa-info-circle"></i></a>
		</li>
	</ul>
	<ul class="nav nav-pills" id="user_util_links">
		<li class="nav-item dropdown">
			<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">IFP Countries <b class="caret"></b></a>
			<ul class="dropdown-menu dropdown-menu-end list-inline" id="partner-dropdown"><%= render :partial => 'ifp/partners_flags_list' %></ul>
		</li>
		<%- if params[:action] == 'home' && @subsite.persistent_url -%>
			<li class="nav-item"><button data-copy="<%= @subsite.persistent_url %>" title="Click to copy to clipboard" class="btn-secondary nav-link mx-auto" onclick="clipboardFromElement(this);"><span class="fa fa-copy"></span> Permanent URL</button></li>
		<%- elsif @document&.has_persistent_url? -%>
			<li class="nav-item"><button data-copy="<%= @document.persistent_url %>" title="Click to copy to clipboard" class="btn-secondary nav-link mx-auto" onclick="clipboardFromElement(this);"><span class="fa fa-copy"></span> Permanent URL</button></li>
		<%- end -%>
	</ul>
</nav>
