<h2 class="nomar-t">About the IFP</h2>
<p>
In 2001 the Ford Foundation awarded the largest single grant in its history — $280 million over 10 years — to launch the new kind of fellowship program for social justice leaders from the world’s most vulnerable populations in Asia, Africa, Latin America, the Middle East, and Russia. Geared toward grassroots leaders and social innovators, the IFP was based on an inclusive higher education model that prioritized social commitment over traditional selection criteria. Its underlying assumption was that, given the right tools, socially committed individuals from disadvantaged communities could succeed in postgraduate studies and would advance social change upon returning home. In addition to academic and leadership potential, candidates were selected from groups and communities that lack systematic access to higher education, such as women, indigenous people, and residents of rural areas. <a href="#full-entry" class="scrollto small">More &raquo;</a>
</p>
<div class="row">
	<div id="partner-image-grid" class="col-sm-12">
		<div class="col-xs-6 col-md-2 nopad"><a><span class="lead">Ford IFP International Partners</span></a></div>
		<div class="col-xs-6 col-md-2 nopad"><a href="<%=ifp_partner_path(:key => 'brazil')%>" style='background-image:url("<%= asset_path("ifp/partner_pics/brazil-01.jpg") %>");'><span>Brazil</span></a></div>
		<div class="col-xs-6 col-md-2 nopad"><a href="<%=ifp_partner_path(:key => 'chile')%>" style='background-image:url("<%= asset_path("ifp/partner_pics/chile-01.jpg") %>");'><span>Chile</span></a></div>
		<div class="col-xs-6 col-md-2 nopad"><a href="<%=ifp_partner_path(:key => 'china')%>" style='background-image:url("<%= asset_path("ifp/partner_pics/china-01.jpg") %>");'><span>China</span></a></div>
		<div class="col-xs-6 col-md-2 nopad"><a href="<%=ifp_partner_path(:key => 'egypt')%>" style='background-image:url("<%= asset_path("ifp/partner_pics/egypt-01.jpg") %>");'><span>Egypt</span></a></div>
		<div class="col-xs-6 col-md-2 nopad"><a href="<%=ifp_partner_path(:key => 'ghana')%>" style='background-image:url("<%= asset_path("ifp/partner_pics/ghana-01.jpg") %>");'><span>Ghana</span></a></div>
		<div class="col-xs-6 col-md-2 nopad"><a href="<%=ifp_partner_path(:key => 'guatemala')%>" style='background-image:url("<%= asset_path("ifp/partner_pics/guatemala-01.jpg") %>");'><span>Guatemala</span></a></div>
		<div class="col-xs-6 col-md-2 nopad"><a href="<%=ifp_partner_path(:key => 'india')%>" style='background-image:url("<%= asset_path("ifp/partner_pics/india-01.jpg") %>");'><span>India</span></a></div>
		<div class="col-xs-6 col-md-2 nopad"><a href="<%=ifp_partner_path(:key => 'indonesia')%>" style='background-image:url("<%= asset_path("ifp/partner_pics/indonesia-01.jpg") %>");'><span>Indonesia</span></a></div>
		<div class="col-xs-6 col-md-2 nopad"><a href="<%=ifp_partner_path(:key => 'kenya')%>" style='background-image:url("<%= asset_path("ifp/partner_pics/kenya-01.jpg") %>");'><span>Kenya</span></a></div>
		<div class="col-xs-6 col-md-2 nopad"><a href="<%=ifp_partner_path(:key => 'mexico')%>" style='background-image:url("<%= asset_path("ifp/partner_pics/mexico-01.jpg") %>");'><span>Mexico</span></a></div>
		<div class="col-xs-6 col-md-2 nopad"><a href="<%=ifp_partner_path(:key => 'mozambique')%>" style='background-image:url("<%= asset_path("ifp/partner_pics/mozambique-01.jpg") %>");'><span>Mozambique </span></a></div>
		<div class="col-xs-6 col-md-2 nopad"><a href="<%=ifp_partner_path(:key => 'nigeria')%>" style='background-image:url("<%= asset_path("ifp/partner_pics/nigeria-01.jpg") %>");'><span>Nigeria</span></a></div>
		<div class="col-xs-6 col-md-2 nopad"><a href="<%=ifp_partner_path(:key => 'palestine')%>" style='background-image:url("<%= asset_path("ifp/partner_pics/palestine-01.jpg") %>");'><span>Palestine</span></a></div>
		<div class="col-xs-6 col-md-2 nopad"><a href="<%=ifp_partner_path(:key => 'peru')%>" style='background-image:url("<%= asset_path("ifp/partner_pics/peru-01.jpg") %>");'><span>Peru</span></a></div>
		<div class="col-xs-6 col-md-2 nopad"><a href="<%=ifp_partner_path(:key => 'philippines')%>" style='background-image:url("<%= asset_path("ifp/partner_pics/philippines-01.jpg") %>");'><span>Philippines</span></a></div>
		<div class="col-xs-6 col-md-2 nopad"><a href="<%=ifp_partner_path(:key => 'russia')%>" style='background-image:url("<%= asset_path("ifp/partner_pics/russia-01.jpg") %>");'><span>Russia</span></a></div>
		<div class="col-xs-6 col-md-2 nopad"><a href="<%=ifp_partner_path(:key => 'senegal')%>" style='background-image:url("<%= asset_path("ifp/partner_pics/senegal-01.jpg") %>");'><span>Senegal</span></a></div>
		<div class="col-xs-6 col-md-2 nopad"><a href="<%=ifp_partner_path(:key => 'southafrica')%>" style='background-image:url("<%= asset_path("ifp/partner_pics/southafrica-01.jpg") %>");'><span>South Africa</span></a></div>
		<div class="col-xs-6 col-md-2 nopad"><a href="<%=ifp_partner_path(:key => 'tanzania')%>" style='background-image:url("<%= asset_path("ifp/partner_pics/tanzania-01.jpg") %>");'><span>Tanzania</span></a></div>
		<div class="col-xs-6 col-md-2 nopad"><a href="<%=ifp_partner_path(:key => 'thailand')%>" style='background-image:url("<%= asset_path("ifp/partner_pics/thailand-01.jpg") %>");'><span>Thailand</span></a></div>
		<div class="col-xs-6 col-md-2 nopad"><a href="<%=ifp_partner_path(:key => 'uganda')%>" style='background-image:url("<%= asset_path("ifp/partner_pics/uganda-01.jpg") %>");'><span>Uganda</span></a></div>
		<div class="col-xs-6 col-md-2 nopad"><a href="<%=ifp_partner_path(:key => 'vietnam')%>" style='background-image:url("<%= asset_path("ifp/partner_pics/vietnam-01.jpg") %>");'><span>Vietnam</span></a></div>
		<div class="col-xs-6 col-md-2 nopad"><a href="<%=ifp_partner_path(:key => 'secretariat')%>" style='background-image:url("<%= asset_path("ifp/partner_pics/secretariat-01.jpg") %>");'><span>Secretariat</span></a></div>
        <div class="clearfix"></div>
	</div>
</div>
<div class="clearfix"></div>
<div id="full-entry">
<p>
The IFP program began in November 1600 with four pilot sites. In Asia, the program was initiated in Vietnam.  In Africa, the first competition was held in West Africa (Ghana, Nigeria and Senegal).  In Latin America, IFP began in the Andean Region as Southern Cone (Chile and Peru).  Russia was the final pilot site.  The first 96 Fellows from these countries were named in 2001.  In February 2002, 173 new Fellows from the pilot site countries and from India, China, Kenya, Tanzania, Uganda, Mexico and Guatemala were announced.  During 2002, the program expanded to seven additional countries and territories: Brazil, Egypt, Indonesia, Mozambique, Palestine, Philippines and South Africa.  For the selections in 2003, the program expanded to Thailand.
</p>
<p>
In line with the general principles of IFP the candidates could continue their studies in any field that favors strengthening democratic values, reducing poverty and injustice, promote international cooperation and human development. The areas of study eligible for support included development and labor relations; financial and economic development; environment and sustainable development; community development (agriculture, rural and agribusiness);education; sexuality and reproductive health; religion, society and culture; communication; art and culture; human rights; international cooperation; government and civil society.
</p>
<p>
Major activities, conducted by the field offices and documented in the International Partner materials include outreach and announcements of the fellowships, selection process, individualized Pre Academic Training (PAT) programs; cohort building/leadership training programs; placement of fellows-elect in appropriate academic institutions,  pre-departure preparations (including visa processing and flight arrangements), and monitoring of fellows in collaboration with IIE. The monitoring included closely following their academic progress, ensuring timely financial disbursements and contract renewals, the fellows’ general welfare as well as their repatriation arrangements and re-entry issues. The offices were also involved in post-fellowship activities, supporting Fellows after their academic programs to resettle back home to pursue their career goals. The Ford Foundation recognized the importance of supporting and motivating Fellows to return to their homelands to promote issues of social justice, and provided funds to support National and Regional Associations of IFP Alumni to develop networks that will help them achieve the aims for which they were awarded the fellowships. The records of the International Partner offices contain materials in various formats, which document the activities listed above and provide information about the social characteristics, interests and academic work of the fellows.
</p>
<p>
The archival materials from the field offices were received in 2012-2014 in analog and digital formats. Relevant websites were harvested by Columbia University Libraries in 2012-2013. Information deemed too confidential to be shared at this time has been restricted until 2075; a selection of digital files are available online; the rest of digital and paper materials are available in the reading room. The offices also shared their most important materials with the Secretariat, so substantial amount of related materials can be found in the Secretariat series. 
</p>
</div>

