<div class="row">
  <div id="content" class="col-md-9">

                    <div class="home inner">

                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-format-search-url="<%= durst_image_search_url %>" style="margin-bottom:.8em;">
  <ol class="carousel-indicators hidden-xs" style="bottom:0;">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
    <li data-target="#carousel-example-generic" data-slide-to="5"></li>
    <li data-target="#carousel-example-generic" data-slide-to="6"></li>
    <li data-target="#carousel-example-generic" data-slide-to="7"></li>
  </ol>
                <!-- Wrapper for slides -->
                  <div class="carousel-inner">
                    <div class="item active">
                      <img class="" src="<%= asset_path("ifp/home-ss/home-image-1.jpg") %>">
                    </div>
                    <div class="item">
                      <img class="" src="<%= asset_path("ifp/home-ss/home-image-2.jpg") %>">
                    </div>
                    <div class="item">
                      <img class="" src="<%= asset_path("ifp/home-ss/home-image-3.jpg") %>">
                    </div>
                    <div class="item">
                      <img class="" src="<%= asset_path("ifp/home-ss/home-image-4.jpg") %>">
                    </div>
                    <div class="item">
                      <img class="" src="<%= asset_path("ifp/home-ss/home-image-5.jpg") %>">
                    </div>
                    <div class="item">
                      <img class="" src="<%= asset_path("ifp/home-ss/home-image-6.jpg") %>">
                    </div>
                    <div class="item">
                      <img class="" src="<%= asset_path("ifp/home-ss/home-image-7.jpg") %>">
                    </div>
                    <div class="item">
                      <img class="" src="<%= asset_path("ifp/home-ss/home-image-8.jpg") %>">
                    </div>
                  </div>
                  <a class=" left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                  </a>
                  <a class=" right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                  </a>
                 </div>

                    </div> <!--/.inner-->
<div class="row">
  <div id="sidebar" class="col-md-6">
    <div class="home inner">
                  <h6>ABOUT THE FORD IFP</h6>
                  <p>The International Fellowship Program of the Ford Foundation offered fellowships for post-graduate study to leaders from underserved communities in Asia, Africa, Latin America, and Russia in 2001-2013. <a href="#">Learn More &raquo;</a></p>
    </div>
  </div>

  <div id="sidebr" class="col-md-6">
    <div class="home inner">
                  <h6>ABOUT THE COLLECTION</h6>
                  <p>Their archives cover the issues of social justice, community development, and access to higher education, and include paper and digital documentation and audiovisual materials on the more than 3,300 IFP fellows as well as comprehensive planning and adminstrative files of the program. <a href="#">Learn More &raquo;</a></p>
    </div>
  </div>
</div><!--/row-->

  </div>

  <div class="col-md-3">
        <div class="home inner">
                <h6 class="">IFP OFFICES</h6>
<ul class="list-unstyled list-inline">
<li style="min-width:127px;font-size:85%;margin-bottom:1em;"><a href="#"><img style="margin-right:3px;width:45px;height:30px;" src="<%= asset_path("ifp/office-flags/brazil.png") %>" alt="">Brazil</a></li>
<li style="min-width:127px;font-size:85%;margin-bottom:1em;"><a href="#"><img style="margin-right:3px;width:45px;height:30px;" src="<%= asset_path("ifp/office-flags/chile.png") %>" alt="">Chile</a></li>
<li style="min-width:127px;font-size:85%;margin-bottom:1em;"><a href="#"><img style="margin-right:3px;width:45px;height:30px;" src="<%= asset_path("ifp/office-flags/china.png") %>" alt="">China</a></li>
<li style="min-width:127px;font-size:85%;margin-bottom:1em;"><a href="#"><img style="margin-right:3px;width:45px;height:30px;" src="<%= asset_path("ifp/office-flags/egypt.png") %>" alt="">Egypt</a></li>
<li style="min-width:127px;font-size:85%;margin-bottom:1em;"><a href="#"><img style="margin-right:3px;width:45px;height:30px;" src="<%= asset_path("ifp/office-flags/ghana.png") %>" alt="">Ghana</a></li>
<li style="min-width:127px;font-size:85%;margin-bottom:1em;"><a href="#"><img style="margin-right:3px;width:45px;height:30px;" src="<%= asset_path("ifp/office-flags/guatemala.png") %>" alt="">Guatemala</a></li>
<li style="min-width:127px;font-size:85%;margin-bottom:1em;"><a href="#"><img style="margin-right:3px;width:45px;height:30px;" src="<%= asset_path("ifp/office-flags/india.png") %>" alt="">India</a></li>
<li style="min-width:127px;font-size:85%;margin-bottom:1em;"><a href="#"><img style="margin-right:3px;width:45px;height:30px;" src="<%= asset_path("ifp/office-flags/indonesia.png") %>" alt="">Indonesia</a></li>
<li style="min-width:127px;font-size:85%;margin-bottom:1em;"><a href="#"><img style="margin-right:3px;width:45px;height:30px;" src="<%= asset_path("ifp/office-flags/kenya.png") %>" alt="">Kenya</a></li>
<li style="min-width:127px;font-size:85%;margin-bottom:1em;"><a href="#"><img style="margin-right:3px;width:45px;height:30px;" src="<%= asset_path("ifp/office-flags/mexico.png") %>" alt="">Mexico</a></li>
<li style="min-width:127px;font-size:85%;margin-bottom:1em;"><a href="#"><img style="margin-right:3px;width:45px;height:30px;" src="<%= asset_path("ifp/office-flags/mozambique.png") %>" alt="">Mozambique </a></li>
<li style="min-width:127px;font-size:85%;margin-bottom:1em;"><a href="#"><img style="margin-right:3px;width:45px;height:30px;" src="<%= asset_path("ifp/office-flags/nigeria.png") %>" alt="">Nigeria</a></li>
<li style="min-width:127px;font-size:85%;margin-bottom:1em;"><a href="#"><img style="margin-right:3px;width:45px;height:30px;" src="<%= asset_path("ifp/office-flags/palestine.png") %>" alt="">Palestine</a></li>
<li style="min-width:127px;font-size:85%;margin-bottom:1em;"><a href="#"><img style="margin-right:3px;width:45px;height:30px;" src="<%= asset_path("ifp/office-flags/peru.png") %>" alt="">Peru</a></li>
<li style="min-width:127px;font-size:85%;margin-bottom:1em;"><a href="#"><img style="margin-right:3px;width:45px;height:30px;" src="<%= asset_path("ifp/office-flags/philippines.png") %>" alt="">Philippines</a></li>
<li style="min-width:127px;font-size:85%;margin-bottom:1em;"><a href="#"><img style="margin-right:3px;width:45px;height:30px;" src="<%= asset_path("ifp/office-flags/russia.png") %>" alt="">Russia</a></li>
<li style="min-width:127px;font-size:85%;margin-bottom:1em;"><a href="#"><img style="margin-right:3px;width:45px;height:30px;" src="<%= asset_path("ifp/office-flags/senegal.png") %>" alt="">Senegal</a></li>
<li style="min-width:127px;font-size:85%;margin-bottom:1em;"><a href="#"><img style="margin-right:3px;width:45px;height:30px;" src="<%= asset_path("ifp/office-flags/southafrica.png") %>" alt="">South Africa</a></li>
<li style="min-width:127px;font-size:85%;margin-bottom:1em;"><a href="#"><img style="margin-right:3px;width:45px;height:30px;" src="<%= asset_path("ifp/office-flags/tanzania.png") %>" alt="">Tanzania</a></li>
<li style="min-width:127px;font-size:85%;margin-bottom:1em;"><a href="#"><img style="margin-right:3px;width:45px;height:30px;" src="<%= asset_path("ifp/office-flags/thailand.png") %>" alt="">Thailand</a></li>
<li style="min-width:127px;font-size:85%;margin-bottom:1em;"><a href="#"><img style="margin-right:3px;width:45px;height:30px;" src="<%= asset_path("ifp/office-flags/uganda.png") %>" alt="">Uganda</a></li>
<li style="min-width:127px;font-size:85%;margin-bottom:1em;"><a href="#"><img style="margin-right:3px;width:45px;height:30px;" src="<%= asset_path("ifp/office-flags/vietnam.png") %>" alt="">Vietnam</a></li>
</ul>
<ul class="list-unstyled"><li style="font-size:80%;"><a href="#">New York Secretariat</a></li></ul>
        </div> <!--/.inner-->
   </div><!--/#dhss-->

</div>
