<div class="row">
	<div class="col-md-6">
		<p><small>701 Dodge Hall &bull; musiclibrary@columbia.edu</small></p>
	</div>
	<div class="col-md-6 text-right">
		<p><small><%= terms_of_use_link %> | <%= library_policies_link %> | <%= feedback_modal_link %><%= site_edit_link(sep: ' | ') %></small></p>
	</div>
</div>
<div class="row">
	<div class="col col-md-6 col-lg-4">
		<address><strong><%= t('cul.archives.physical_location.NyNyCBL') %></strong><br>701 Dodge Hall<br>2960 Broadway New York, NY 10027</address>
	</div>
	<div class="col col-md-6 col-lg-4">
		<div class="row">
			<div class="col-1 d-none d-sm-block"><span class="fa fa-mobile fa-lg" aria-hidden="true"></span></div>
			<div class="col"><address><strong>Phone</strong><br><%= telephone_contact_link('NyNyCMA') %></address></div>
		</div>
		<div class="row">
			<div class="col-1 d-none d-sm-block"><span class="fa fa-envelope fa-sm" aria-hidden="true"></span></div>
			<div class="col"><address><strong>Contact Us</strong><br><%= email_contact_link('NyNyCMA') %></address></div>
		</div>
	</div>
	<div class="col">
		<ul class="list-unstyled">
			<li><%= terms_of_use_link('Terms of Use') %></li>
			<li><%= library_policies_link %></li>
			<li><%= feedback_modal_link %></li>
			<li><%= site_edit_link(sep: "", class: 'swatch-brand') %></li>
		</ul>
	</div>
</div>