<% tile_docs = featured_items.to_enum -%>
<div class="container container-fluid squares">
  <h2 class="h4 text-center text-uppercase my-3"><%= @page&.title.present? ? @page.title : 'Selected Items' -%></h2>
  <div class="row">
    <div class="col-6 col-md-3">
      <div class="row">
        <% 3.times do -%>
          <%= render Dcv::Gallery::SquareTileComponent.new(document: tile_docs.next, image_size: 256, default: 6, md: 4, hide_caption: :default) %>
        <% end -%>
        <%= render Dcv::Gallery::SquareTileComponent.new(document: tile_docs.next, image_size: 512, default: 6, md: 12, hide_caption: :sm) %>
      </div>
    </div>
    <%= render Dcv::Gallery::SquareTileComponent.new(document: tile_docs.next, image_size: 768, default: 6, md: 4) %>
    <div class="col-6 col-md-2">
      <div class="row">
        <%= render Dcv::Gallery::SquareTileComponent.new(document: tile_docs.next, image_size: 372, default: 12, downscale: false) %>
        <%= render Dcv::Gallery::SquareTileComponent.new(document: tile_docs.next, image_size: 372, default: 12, additional_classes: ["d-none", "d-md-block"]) %>
      </div>
    </div>
    <div class="col-6 col-md-3">
      <div class="row">
        <%= render Dcv::Gallery::SquareTileComponent.new(document: tile_docs.next, image_size: 512, default: 6, md: 12, hide_caption: :sm) %>
        <% 3.times do -%>
          <%= render Dcv::Gallery::SquareTileComponent.new(document: tile_docs.next, image_size: 256, default: 6, md: 4, hide_caption: :default) %>
        <% end -%>
      </div>
    </div>
  </div>
</div>

