<div id="child-viewer" class="inner">
  <% parent_title = document['title_ssm'].first.strip %>

  <% if structured_children.length == 0 %>
    <h3 id="child-viewer-title"><%= parent_title %></h3>
    <% if (iframe_url = iframe_url_for_document(document)) %>
      <iframe src="<%= iframe_url %>" class="archive_embed" frameborder="0" webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen="" sandbox="allow-forms allow-scripts allow-same-origin allow-top-navigation allow-popups"></iframe>
      <%- use_unavailable_image_placeholder = false %>
    <% end %>
    <% unless defined?(use_unavailable_image_placeholder) && use_unavailable_image_placeholder == false %>
      <div>
        <img id="image-unavailable-img" class="img-responsive" src="<%= get_asset_url(id: 'placeholder:unavailable', size: 256, type: 'full', format: 'jpg') %>" />
      </div>
    <% end %>
  <% else %>

    <div class="pull-right btn-group btn-group-xs">
      <% configured_links ||= [] %>
      <% if configured_links.include?(:mods) %>
        <%= link_to '<span class="glyphicon glyphicon-open-file"></span>'.html_safe, item_mods_path(:pid => @document.id),
        {
          :'data-display-url' => item_mods_path(:pid => @document.id, :type => 'formatted_text'),
          :'data-download-url' => item_mods_path(:pid => @document.id, :type => 'download'),
          :class => 'btn btn-default pull-right',
          :title => 'Display XML Metadata',
          :'data-tt' => 'tooltip',
          :onclick => 'return DCV.ModsDownloadModal.show($(this).attr("data-display-url"), $(this).attr("data-download-url"));'
        }
        %>
      <% end %>
      <a id="child-zoom-modal-button" class="btn btn-default item-cbox" data-original-title="<%= document_show_html_title %>" data-toggle="tooltip" title="Zoom in" href="#"><i class="glyphicon glyphicon-zoom-in"></i></a>
      <a id="child-zoom-new-window-button" class="btn btn-default" href="#" data-original-title="<%= document_show_html_title %>" data-toggle="tooltip" title="Open in new window"><i class="glyphicon glyphicon-new-window"></i></a>
      <div id="download-button-group" class="btn-group btn-group-xs pull-right">
        <button id="download-button" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" data-tt="tooltip" title="Download">
          <i class="glyphicon glyphicon-download-alt"></i> <span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul id="downloads-list" class="dropdown-menu pull-right" role="menu">
          <li><a href="#">Test</a></li>
          <li><a href="#">Test 2</a></li>
        </ul>
      </div>
      <% if has_persistent_link?(document) %>
        <a id="draggable-iiif-button" class="btn btn-default grabbable" href="<%= '#?manifest=' + CGI::escape(get_manifest_url(document))%>" title="drag-n-drop iiif manifest" data-toggle="tooltip">
          <%= image_tag('logo-iiif-34x30.png', srcset: asset_path("iiif-logo.svg"), class: "localicon-iiif") %>
        </a>
      <% end %>
    </div>
    <h3 id="child-viewer-title"><%= parent_title %></h3>
    <p id="child-viewer-subtitle">&nbsp;</p>

    <div id="child-viewer-carousel" class="carousel slide" data-ride="carousel">

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <% structured_children.each_with_index do |child, ix| %>
          <% next if child[:pid].blank? # Skip rendering of unpublished children %>
          <% child_title = child[:title].present? ? child[:title].strip : '' %>
          <% item_in_context_url = document.self_and_child_pids_to_item_in_context_urls.key?(child[:id]) ? document.self_and_child_pids_to_item_in_context_urls[child[:id]] : document.item_in_context_url %>
          <div class="item <%= ix == 0 ? 'active' : '' %>"
            data-child-number="<%= ix %>"
            data-child-title="<%= child_title == parent_title || child_title.blank? ? '&nbsp'.html_safe : h(child_title) %>"
            data-has-details="<%= ['StillImage','Text'].include? child[:dc_type] %>"
            data-has-iiif="<%= child[:dc_type] == 'StillImage' %>"
            data-zoom-url="<%= details_path(id: (child[:dc_type] == 'StillImage' ? document[:id] : child[:pid]), layout:(request.path.split('/')[1]), initial_page: ix) %>"
            data-iiif-info-url="<%= get_resolved_asset_info_url(id: child[:id], image_format: 'jpg') %>"
            data-object-in-context-url="<%= h(item_in_context_url) %>"
            data-download-content-url="<%= child[:dc_type] == 'StillImage' ? '' : bytestream_content_url({catalog_id: child[:pid], filename: child[:label_ssi], bytestream_id: preferred_content_bytestream(child, /\.pdf$/i), download: true}) %>"
            >
            <div class="child-content">
              <% dc_type_string = child[:dc_type].present? ? child[:dc_type].underscore.gsub(/\s+/, '_') : '' %>
              <% if ['sound', 'moving_image', 'software'].include?(dc_type_string) %>
                <%= render partial: "catalog/content_aggregator/child_viewer/#{dc_type_string}", locals: { child: child } %>
              <% else %>
                <% # Render image (or placeholder) %>
                <img class="<%= ['StillImage','Text'].include?(child[:dc_type]) ? 'zoomable' : '' %>" src="<%= get_resolved_asset_url(id: child[:id], size: 768, type: 'full', format: 'jpg') %>" />
              <% end %>
            </div>
          </div>
        <% end %>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#child-viewer-carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#child-viewer-carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <p class="aligncenter"> <a id="child-viewer-object-in-context" target="_blank">&nbsp;</a></p>

    <%= render_document_partials document, ['gallery'] %>
  <% end %>
</div>
