<div class="input-group-prepend p-0 flex-grow-1 collapseSearch collapse show" id="collapsePag">
  <% if params[:return_to_filesystem].present? %>
    <%= link_to('<i class="fa fa-reply-all"></i>'.html_safe, params[:return_to_filesystem], class: 'btn bg-body btn-outline-info rounded-0', :"data-toggle" => 'tooltip', "aria-label": t('views.pagination.return_to_filesystem'), title: t('views.pagination.return_to_filesystem')) %>
  <% else %>
    <% if @search_context[:prev] || @search_context[:next] %>
        <%= helpers.link_back_to_catalog(label: "#{item_page_entry_info} <i class=\"fa fa-reply-all\"></i>".html_safe, class: 'btn bg-body btn-outline-info rounded-0 flex-fill', :"data-toggle" => 'tooltip', "aria-label": t('views.pagination.return_to_search'), title: t('views.pagination.return_to_search') ) %>
        <%= link_to_previous_document @search_context[:prev], "btn bg-body btn-outline-info rounded-0" %>
        <%= link_to_next_document @search_context[:next], "btn bg-body btn-outline-info rounded-right" %>
    <% else %>
        <%= helpers.link_back_to_catalog(label: '<i class="fa fa-reply-all"></i> '.html_safe, class: 'btn bg-body btn-outline-info rounded-0', :"data-toggle" => 'tooltip', "aria-label": t('views.pagination.return_to_search'), title: t('views.pagination.return_to_search') ) %>
    <% end %>
  <% end %>
</div>
