<div class="input-group-prepend">
  <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapsePrevNext" aria-expanded="true" aria-controls="collapsePrevNext" aria-pressed="true"><i class="previous fa fa-exchange-alt" title="Navigate search results" data-toggle="tooltip" data-original-title="Navigate search results"></i></button>
</div>
<div class="collapse show width input-group-prepend" id="collapsePrevNext">
  <% if params[:return_to_filesystem].present? %>
    <%= link_to('<i class="fa fa-reply-all"></i>'.html_safe, params[:return_to_filesystem], class: 'btn btn-outline-secondary rounded-0', :"data-toggle" => 'tooltip', "aria-label": t('views.pagination.return_to_filesystem'), title: t('views.pagination.return_to_filesystem')) %>
  <% else %>
    <%= helpers.link_back_to_catalog(label: '<i class="fa fa-reply-all"></i> '.html_safe, class: 'btn btn-outline-secondary rounded-0', :"data-toggle" => 'tooltip', "aria-label": t('views.pagination.return_to_search'), title: t('views.pagination.return_to_search') ) %>
    <% if @search_context[:prev] || @search_context[:next] %>
        <span class="btn btn-outline-secondary rounded-0" style="pointer-events:none;"><%= item_page_entry_info %></span>
        <%= link_to_previous_document @search_context[:prev], "btn btn-outline-secondary btn-sm rounded-0" %>
        <%= link_to_next_document @search_context[:next], "btn btn-outline-secondary btn-sm rounded-0" %>
    <% end %>
  <% end %>
</div>
