<div class="btn-toolbar justify-content-center m-1" role="toolbar" id="asset-toolbar">
  <div class="btn-group" role="group">
    <% if item_in_context_url -%>
      <%= link_to item_in_context_url, class: "btn btn-sm btn-primary", target: "_blank" do -%>
        <i class="fa fa-external-link" title="View Object in Context" data-toggle="tooltip" aria-hidden="true"></i>
        <span class="sr-only">View Object in Context</span>
      <%- end -%>
    <%- end -%>
    <% if show_zoom? -%>
      <a class="btn btn-sm btn-primary item-modal" data-modal-title="<%= @presenter.html_title %>" aria-label="Zoom in" href="#" data-toggle="modal" data-target="#dcvModal" data-modal-size="max" data-display-url="<%= zoom_url %>"><i class="fa fa-search-plus" data-toggle="tooltip" title="Zoom in"></i></a>
      <a class="btn btn-sm btn-primary" href="<%= zoom_url %>" data-original-title="<%= @presenter.html_title %>" aria-label="Open in new window" target="_blank"><i class="fa fa-plus-square" data-toggle="tooltip" title="Open in new window"></i></a>
    <% end -%>
    <% if has_chapters? %>
      <%= link_to({controller: controller_path, action: 'synchronizer', id: child[:pid], mode: 'chapters'}, class: 'btn btn-sm btn-primary', target: '_blank', aria: { label: 'View with synchronized index' }) do %>
        <i class="fa fa-list" title="View with synchronized index" data-toggle="tooltip" aria-hidden="true"></i>
      <%- end -%>
    <% end %>
    <% if has_synch? %>
      <%= link_to({controller: controller_path, action: 'synchronizer', id: child[:pid], mode: 'synchronized_transcript'}, class: 'btn btn-sm btn-primary', target: '_blank', aria: { label: 'View with synchronized transcript' }) do %>
        <i class="fa fa-file-text-o" title="View with synchronized transcript" data-toggle="tooltip" aria-hidden="true"></i>
      <%- end -%>
    <% end %>
  </div>
  <% if has_download? -%>
    <% if show_embed? -%>
      <div class="btn-group" role="group">
        <button id="embed-button" class="btn btn-primary btn-sm" aria-label="Show embed code" data-embed-url="<%= embed_url %>" data-embed-aspect-ratio="<%= embed_aspect_ratio %>" data-toggle="modal" data-target="#dcvModal" data-modal-title="Embed Media Code" data-modal-body-func="embedMediaSrc">
          <i class="fa fa-code" data-toggle="tooltip" title="Show embed code" aria-hidden="true"></i>
        </button>
      </div>
    <% end %>
    <div class="btn-group download-button-group" role="group">
        <button type="button" id="<%= id_base %>-download" class="btn btn-sm btn-primary download-button" data-toggle="modal" data-target="#dcvModal" data-modal-body-func="downloadMenu" data-modal-title="Download Options" data-download-info-url="<%= download_content_url %>" data-iiif-info-url="<%= iiif_info_url %>">
          <i class="fa fa-cloud-download" data-toggle="tooltip" title="Download Options" aria-hidden="true"></i>
          <span class="sr-only">Download Options</span>
        </button>
    </div>
  <% end -%>
</div>
