<%- 
  if @subsite.slug =~ /restricted\//
    site_edit = edit_restricted_site_path(slug: @subsite.slug.sub('restricted/', ''))
  else
    site_edit = edit_site_path(slug: @subsite.slug)
  end
-%>
<h1>Editing <%= @subsite.slug %> permissions</h1>
<%= render partial: "sites/edit/edit_buttons" %>
<%- if !@subsite.restricted %>
  <div class="container">
    <div class="panel panel-danger">
      <div class="panel-heading"><h2 class="panel-title">Configuration Will Not Apply!</h2></div>
      <div class="panel-body">The properties configured below are for restricted sites, but <%= @subsite.slug %> is a public site. If this is an error, please contact dlc-support@library.columbia.edu.</div>
    </div>
  </div>
<% end -%>
<%- if @subsite.search_type != 'local' %>
	<div class="container">
		<div class="panel panel-warning">
			<div class="panel-heading"><h2 class="panel-title">Configuration May Not Apply!</h2></div>
			<div class="panel-body">The properties configured below are for sites with a local search. This site has a <%= @subsite.search_type %> search. This can be changed in the <%= link_to('site properties', site_edit) %>.</div>
		</div>
	</div>
<% end -%>
<div class="container"><%= render 'sites/permissions/form' %></div>
<div class="hide widget-templates">
<%- buffer = "" %>
<%- buffer << render(partial: "sites/edit/text_list_value", locals: { list_name: [:permissions, :remote_roles], value: "", index: "9valueIndex9", removable: true }) %>
<%- buffer << render(partial: "sites/edit/text_list_value", locals: { list_name: [:permissions, :locations], value: "", index: "9valueIndex9", removable: true }) %>
<%= buffer.html_safe %>
</div>