<%- doc_presenter ||= index_presenter(document) %>
<%- start ||= @response.params[:start].to_i -%>
<% counter_in_results = document_counter + row_offset + 1 + start -%>
<% search_view ||= "#{controller.default_search_mode}-view" -%>
<div class="document w-100 <%= search_view %> <%= render_document_class document %>" itemscope itemtype="<%= document.itemtype %>">
  <div class="card bg-transparent <%= (document.site_result? ? 'site-result' : '') %>" data-number-of-members="<%= document[:cul_number_of_members_isi] || -1 %>">
		<% thumbnail_img_tag = doc_presenter.thumbnail.thumbnail_tag({ class: 'img-square card-img-top w-100', itemprop: 'thumbnailUrl', alt: short_title(document) }, { suppress_link: true }) %>
		<%= link_to(thumbnail_img_tag, url_for_document(document), document_link_params(document, counter: (@do_not_link_to_search ? nil : counter_in_results), class: 'thumbnail')) %>
		<div class="card-body">
			<h3 class="card-title index_title mb-0"><%= t('blacklight.search.documents.counter', counter: counter_in_results) if show_counter %>
				<%= link_to_document(document, title: document['title_ssm'].present? ? document['title_ssm'][0] : '[Title unavailable]', counter: (@do_not_link_to_search ? nil : counter_in_results)) %>
				<% if document['extent_ssim'].present? %>
					<small class="extent">&bull; <%= byte_size_to_text_string(document['extent_ssim'].first.to_i) %></small>
				<% end %>
			</h3>
			<div class="card-text index-show-grid-fields">
				<% document_tombstone_fields(document).each do |field, field_config| -%>
					<%= render_document_tombstone_field_value(document, field) %>
				<% end -%>
			</div>
			<div class="card-text index-show-list-fields">
				<%= render partial: 'index_default', locals: {document: document, } %>
				<%= render partial: 'shared/schema_org_document_metadata', locals: {document: document, doc_presenter: doc_presenter} %>

				<% if document.has_snippet? %>
					<div class="fulltext-snippet">
						&hellip;<%= render_snippet_with_post_processing(document.snippet).html_safe %>&hellip;
					</div>
				<% end %>
			</div>
		</div>
  </div>
</div>
