<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<!-- Mobile viewport optimization h5bp.com/ad -->
<meta name="HandheldFriendly" content="True">
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">

<% # Do not index search result pages %>
<% if params[:q] && params[:search_field] %>
<meta name="robots" content="noindex" />
<% end %>

<!--
DLC VERSION: <%= render :file => Rails.root.to_s+'/VERSION' %> -->

<!-- Mobile IE allows us to activate ClearType technology for smoothing fonts for easy reading -->
<!--[if IEMobile]>
	<meta http-equiv="cleartype" content="on">
<![endif]-->

<title><%= render_page_title %></title>
<%= opensearch_description_tag application_name, opensearch_catalog_path(:format => 'xml', :only_path => false) %>
<%= favicon_link_tag asset_path('favicon.ico') %>

<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
	<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<%= stylesheet_link_tag "dcv" %>
<%= stylesheet_link_tag "print", media: 'print' %>
<%= javascript_include_tag "application" %>
<%= javascript_include_tag "dcv" %>
<%= csrf_meta_tags %>
<%= content_for(:head) %>

<!-- MediaElement -->
<script src="/mediaelement/mediaelement-and-player.min.js"></script>
<link rel="stylesheet" href="/mediaelement/mediaelementplayer.css" /></code>

<!-- JW Player: Probably want to remove this if we decide not to use it -->
<script src="/jwplayer/jwplayer.js" ></script>
<script >jwplayer.key="o2AdyUuGZ5eTv/WHIgu8tlpppOwsIONjVQG9qQ==";</script>

<!-- ShareThis -->
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="https://ws.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "b2e73e99-b999-4cdb-8a0e-14bdbc67b15a", doNotHash: false, doNotCopy: false, hashAddressBar: false, onhover: false});</script>

<% if Rails.env == 'dcv_private_test' || Rails.env == 'dcv_prod' %>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-796949-25', 'auto');
		ga('send', 'pageview');
	</script>
<% end %>
