<meta charset="utf-8">

<!-- Mobile viewport optimization h5bp.com/ad -->
<meta name="HandheldFriendly" content="True">
<meta name="viewport" content="width=device-width,initial-scale=1.0">

<% # Do not index search result pages %>
<% if query_has_constraints? || (params[:q] && params[:search_field]) %>
<meta name="robots" content="noindex" />
<% end %>

<!--
DLC VERSION: <%= IO.read(Rails.root.to_s+'/VERSION') %> -->

<!-- Mobile IE allows us to activate ClearType technology for smoothing fonts for easy reading -->
<!--[if IEMobile]>
	<meta http-equiv="cleartype" content="on">
<![endif]-->

<title><%= render_page_title %></title>
<%= opensearch_description_tag application_name, opensearch_catalog_url(:format => 'xml') %>
<%= favicon_link_tag asset_path('favicon.ico') %>
<%= tag(:link, href: asset_path('logo-icon-192x192.png'), rel: "apple-touch-icon") %>
<%= tag(:link, href: asset_path('logo-icon-192x192.png'), rel: "icon", sizes: "192x192") %>
<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
	<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<%= stylesheet_link_tag "dcv", media: 'all'  %>
<%= stylesheet_link_tag "print", media: 'print' %>

<!-- OHSynchronizer -->
<% if params[:action] == 'synchronizer' %>
  <%= "<!-- remove stylesheet_link_tag \"/synchronizer-module/css/style.css\" -->".html_safe %>
<% end %>
<%= csrf_meta_tags %>
<%= content_for(:head) %>

<% if controller.respond_to? :subsite_layout %>
<script>
	window.DCV = window.DCV || {};
	DCV.subsite_key = '<%= subsite_key %>';
	DCV.subsite_layout = '<%= subsite_layout %>';
</script>
<% end %>
<%- js_packs = ["application", "dcv"].concat(Array(subsite_layout)).uniq %>
<%- js_packs << 'ohsynchronizer' if params[:action] == 'synchronizer' %>
<%= javascript_pack_tag *js_packs %>

<% if Rails.env == 'dlc_prod' %>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-TY98RMMDPT"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-TY98RMMDPT');
	</script>

	<!-- Matomo -->
	<script>
		var _paq = window._paq = window._paq || [];
		/* tracker methods like "setCustomDimension" should be called before "trackPageView" */
		_paq.push(['trackPageView']);
		_paq.push(['enableLinkTracking']);
		(function() {
			var u="https://columbia-libraries.matomo.cloud/";
			_paq.push(['setTrackerUrl', u+'matomo.php']);
			_paq.push(['setSiteId', '12']);
			var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
			g.async=true; g.src='//cdn.matomo.cloud/columbia-libraries.matomo.cloud/matomo.js'; s.parentNode.insertBefore(g,s);
		})();
	</script>
	<!-- End Matomo Code -->
<% end %>
