<div class="container">
<% if current_page?(root_url) or current_page?(about_url) %>
  <div id="site-banner">
	<div class="row">
	 <div id="site-banner-inner">
	  <div class="col-sm-3 hidden-xs">
	   <div id="site-banner-left"><%= link_to '', root_path, { :style => 'display:block;width:100%;height:100%;' } %></div>
	  </div>
	  <div class="col-sm-9">
		<h1><%= link_to image_tag('dcv/dcv-banner-sm-c.png', :alt => 'Digital Library Collections'), root_path %></h1>
	  </div>
	 </div>
	</div><!--/row-->

	<div id="search-navbar" class="navbar navbar-default" role="navigation">
		<%= render_search_bar  %>
    </div>
  </div>

<% else %>

  <div id="site-banner" class="slim">
	<div class="row">
	 <div id="site-banner-inner">
	  <div class="col-sm-3">
	   <a href="<%= root_path %>">Digital Collections</a><%#= link_to image_tag('dcv/dcv-banner-sm-dc.png', :alt => 'Digital Library Collections'), root_path %>
	  </div>
	  <div class="col-sm-9">
	    <div id="search-navbar" class="navbar navbar-default slim" role="navigation">
		  <%= render_search_bar  %>
        </div>
	  </div>
	 </div>
	</div><!--/row-->
  </div>
<% end %>
</div>
