<% #Using the Bootstrap Pagination class  -%>
<div id="previousNextDocument">
  <% if params[:return_to_filesystem].present? %>
  <div class="page_links previous-and-next btn-group btn-group-sm">
      <%= link_to('<i class="fa fa-fast-backward"></i>'.html_safe, params[:return_to_filesystem], class: 'btn btn-outline-secondary', :"data-toggle" => 'tooltip', title: 'Browse digital records') %>   
    </div>
  <% else %>
    <% if @search_context[:prev] || @search_context[:next] %>
      <div class="page-links btn-group btn-group-sm">
        <%= link_to_previous_document @search_context[:prev] %>

        <span class="btn btn-secondary" style="pointer-events:none;"><%= item_page_entry_info %></span>

        <%= link_to_next_document @search_context[:next] %>
      </div>
    <% end %>
  <% end %>
  <%= render 'show_tools' %>
</div>
