<%- local_downloads ||= (structured_children.length > 0 && !has_non_public_children?) -%>
<div class="btn-group btn-group-sm pull-right">
  <%= mods_display_modal_trigger(document) -%>
  <% if local_downloads -%>
    <% if has_persistent_link?(document) && structured_children.detect {|x| x[:dc_type] =~ /image/i } %>
      <a id="draggable-iiif-button" class="btn btn-secondary btn-sm grabbable localicon-iiif" href="<%= get_manifest_url(document) %>" aria-label="drag-n-drop iiif manifest" data-toggle="tooltip">
        <span data-toggle="tooltip" title="drag-n-drop iiif manifest"><%= inline_svg('iiif-logo.svg') %></span>
      </a>
    <% end %>
  <% end -%>
  <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown">
  <i class="fa fa-book" aria-hidden="true" data-toggle="tooltip" title="Citations"></i>
  <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul id="item-show-citations" class="dropdown-menu" role="menu">
    <li role="menuitem"><%= link_to 'APA Citation', '#', role: 'button', data: { 'modal-title' => 'APA Citation', 'display-url' => item_citation_path(document['id'], type: 'apa'), toggle: 'modal', target: '#dcvModal' } %></li>
    <li role="menuitem"><%= link_to 'Chicago Citation', '#', role: 'button', data: { 'modal-title' => 'Chicago Citation', 'display-url' => item_citation_path(document['id'], type: 'chicago'), toggle: 'modal', target: '#dcvModal' } %></li>
    <li role="menuitem"><%= link_to 'MLA Citation', '#', role: 'button', data: { 'modal-title' => 'MLA Citation', 'display-url' => item_citation_path(document['id'], type: 'mla'), toggle: 'modal', target: '#dcvModal' } %></li>
  </ul>
</div>
