<% if controller.subsite_config.dig('date_search_configuration', 'show_sidebar') %>

  <% date_filter_is_active = 'facet_limit-active' if params[:start_year].present? || params[:end_year].present? %>

  <div class="card card facet_limit date-range <%= 'facet_limit-active' if date_filter_is_active %>">
    <h3 class="card-header p-0 facet-field-heading" id="facet-date-range-filter-header">
      <button class="btn btn-block p-2 text-left collapse-toggle collapsed" data-toggle="collapse" data-target="#date-range-filter" aria-expanded="false">
        <%= controller.subsite_config.dig('date_search_configuration', 'sidebar_label') || "Date Range" %>
      </button>
    </h3>
    <div id="date-range-filter" class="panel-collapse facet-content <%= date_filter_is_active ? 'show' : 'collapse' %>" aria-labelledby="facet-date-range-filter-header">
      <div class="card-body">
        <form id="sidebar-date-range-selector" action="<%= search_action_url %>">
          <%= render Blacklight::HiddenSearchStateComponent.new(params: search_state.params_for_search.except(:end_year, :start_year).reverse_merge(search_field: 'all_text_teim')) %>
          <div>
            <input name="start_year" type="text" class="sliderValue form-control input-sm" data-index="0" placeholder="YYYY" maxlength="4" value="<%= params[:start_year] if params[:start_year] %>" />
            -
            <input name="end_year" type="text" class="sliderValue form-control input-sm" data-index="1" placeholder="YYYY" maxlength="4" value="<%= params[:end_year] if params[:end_year] %>" />
            <input id="sidebar-date-range-set-btn" type="submit" class="btn btn-outline-secondary btn-sm" value="Set &raquo;" />
          </div>

          <div id="sidebar-date-range-slider" class="hidden"></div>

        </form>

      </div>
    </div>
  </div>

<% end %>
