<% if controller.subsite_config.dig('date_search_configuration', 'show_sidebar') %>

  <% date_filter_is_active = 'facet_limit-active' if params[:start_year].present? || params[:end_year].present? %>

  <div class="card card facet_limit date-range <%= 'facet_limit-active' if date_filter_is_active %>">
    <div class="collapsed collapse-toggle card-header" data-toggle="collapse" data-target="#date-range-filter">
      <h5 class="card-title">
        <a data-no-turbolink="true" href="#"><%= controller.subsite_config.dig('date_search_configuration', 'sidebar_label') || "Date Range" %></a>
      </h5>
    </div>
    <div id="date-range-filter" class="panel-collapse facet-content <%= date_filter_is_active ? 'show' : 'collapse' %>">
      <div class="card-body">
        <form id="sidebar-date-range-selector" action="#">

          <div>
            <input type="text" class="sliderValue form-control input-sm" data-index="0" placeholder="YYYY" maxlength="4" value="<%= params[:start_year] if params[:start_year] %>" />
            -
            <input type="text" class="sliderValue form-control input-sm" data-index="1" placeholder="YYYY" maxlength="4" value="<%= params[:end_year] if params[:end_year] %>" />
            <input id="sidebar-date-range-set-btn" type="submit" class="btn btn-outline-secondary btn-sm" value="Set &raquo;" />
          </div>

          <div id="sidebar-date-range-slider" class="hidden"></div>

        </form>

      </div>
    </div>
  </div>

<% end %>
