<div id="sortAndPerPage" style="border-bottom:0; margin-bottom:0;">
  <%= render(partial: "paginate_compact", object: @response) if has_search_parameters? %>

  <div id="search-index-tools" class="float-right">
    <div id="search-widgets" class="btn-group btn-group-sm search-widgets float-right search-index-tool-group">
      <%= render :partial => 'sort_widget' %>
      <%= render :partial => 'per_page_widget' %>
      <%= render :partial => 'view_type_group' %>
    </div>
    <div id="view-options" class="hidden-xs btn-group btn-group-sm float-right search-index-tool-group">
      <%= search_mode_button(:grid) %>
      <%= search_mode_button(:list) %>
      <% if controller.subsite_config.dig('display_options', 'show_other_sources') && @response.params[:q].present? %>
        <button id="extended-search-mode" type="button" class="btn btn-secondary result-type-button" title="Search Other Sources"><i class="fa fa-link"></i></button>
      <% end %>
    </div>
    <%= render :partial => 'csv_export' %>
    <% if controller.subsite_config.dig('date_search_configuration', 'show_timeline') %>
      <div id="date-toggle" class="btn-group btn-group-sm float-right search-index-tool-group">
        <button id="date-graph-toggle" type="button" class="btn btn-secondary result-type-button" data-toggle="tooltip" title="timeline view"><i class="fa fa-bar-chart"></i></button>
      </div>
    <% end %>
  </div>
</div>
