<nav id="topnavbar" class="navbar fixed-top d-flex flex-sm-row py-0 px-0">
	<div id="navbar-container" class="container-fluid navbar-primary">
		<ul class="nav" id="crowndown-nosearch">
			<li class="dropdown menu nav-item">
				<a href="#" class="dropdown-toggle menu nav-link" data-toggle="dropdown" title="Links @ Columbia"><span class="fa icon-columbia-crown"></span><span class="d-none d-sm-inline">Columbia University Libraries</span> <b class="caret"></b></a>
				<ul class="dropdown-menu  nav-item">
					<li><a href="http://columbia.edu"><i class="fa icon-columbia-crown"></i> Columbia University » Home</a></li>
					<li><a href="https://library.columbia.edu"><i class="fa fa-home"></i>  Libraries » Home</a></li>
					<li><a href="<%=root_path%>"><i class="fa fa-star"></i> Digital Library Collections » Home</a></li>
					<li class="divider"></li>
					<li><a href="https://library.columbia.edu/libraries.html">Columbia Libraries Locations</a></li>
					<li><a href="https://library.columbia.edu/collections/archives-portal.html">Columbia Archival Collections Portal</a></li>
					<li><a href="https://clio.columbia.edu">CLIO: Columbia Libraries Catalog</a></li>
				</ul>
			</li>
		</ul>
		<div id="cul_top-right" class="nav flex-sm-row-reverse">
			<div class="nav-item">
				<% if current_user %>
					<span class="nav-link">
						<span class="fa fa-user d-sm-none"></span><span class="d-none d-sm-inline-block"><%= current_user.uid %></span>
						<%= link_to '<span class="fa fa-sign-out d-sm-none"></span><span class="d-none d-sm-inline-block">(Log Out)</span>'.html_safe, destroy_user_session_url(provider: current_user.provider, restricted: restricted?) %>
					</span>
				<% else %>
						<%= link_to 'Log In', send(:"user_#{controller.omniauth_provider_key}_omniauth_authorize_url", return_to: request.original_url), {class: "nav-link"} %>
				<% end %>
			</div>
			<div class="dropdown menu nav-item">
				<a class="dropdown-toggle menu nav-link" data-toggle="dropdown" href="#"><span class="fa fa-question-circle d-sm-none"></span><span class="d-none d-sm-inline">Help <b class="caret"></b></span></a>
				<ul class="dropdown-menu dropdown-menu-right nav-item">
					<li><%= link_to 'About', about_path %></li>
					<li><a href="https://library.columbia.edu/services/askalibrarian.html">Ask a Librarian</a></li>
					<li><a href="#" onclick="return feedbackModal();">Suggestions &amp; Feedback</a></li>
					<li><a href="https://hours.library.columbia.edu">Library Hours</a></li>
					<li><a href="https://library.columbia.edu/libraries/map.html?location=culis">Maps and Locations</a></li>
					<li><%= link_to 'Terms of Use', terms_of_use_url %></li>
				</ul>
			</div>
		</div>
	</div>
</nav>
