<%
media_url = wowza_media_token_url(document)
if params[:mode] == 'chapters'
  synch_mode = 'chapters'
else
  synch_mode = 'synchronized_transcript'
end
%>

<% if media_url.present? %>
  <% # Note: "text-align:left;" is required for the widget container, otherwise the seek bar won't render properly %>
  <div id="synchronizer-widget" style="text-align:left;" data-media-url="<%= media_url %>" data-<%= synch_mode %>-url="<%= bytestream_content_path(catalog_id: params[:id], bytestream_id: synch_mode) %>">
    <div id="working-area" class="d-flex flex-md-row flex-column">
      <div id="left-sidebar" class="w-100 p-2">
        <div id="media-playback" class="position-sticky" style="top:0px;">
          <div id="video"><video id="video-player" data-able-player data-include-transcript="false" preload="auto"><track id="video-captions" label="English" kind="captions" srclang="en" src="<%= bytestream_content_path(catalog_id: params[:id], bytestream_id: 'captions')%>" /></video></div>
          <div id="audio"><audio id="audio-player" data-able-player data-include-transcript="false" preload="auto"><track id="audio-captions" label="English" kind="captions" srclang="en" src="<%= bytestream_content_path(catalog_id: params[:id], bytestream_id: 'captions')%>" /></audio></div>
        </div><!-- /#media-playback -->
      </div><!-- /#left-sidebar -->

      <div id="right-sidebar" class="w-100 p-2">
        <div id="interview-metadata" class="inner" data-assigned="true"><%= render partial: 'synchronizer/interview_metadata' %></div><!-- /#interview-metadata -->
        <div id="text-tabs">
          <% if synch_mode == 'chapters' %>
            <div id="tabs-index">
              <h2>Index Descriptions</h2>
              <div id="input-index">
                <div class="accordion" id="previewAccordion"></div>
              </div>
            </div>
          <% else %>
            <div id="tabs-transcript">
              <h2>Transcript</h2>
              <div id="input-transcript">
                <input id="sync-roll" class="btn btn-secondary" type="hidden" maxlength="3" size="3" value="0" name="sync-roll">
                <div id="transcript" class="col-md-12" ></div>
                <div id="transcript-preview" class="col-md-12" ></div>
              </div>
            </div>
          <% end %>
          </div>
          <div class="clearfix"></div>
        </div><!-- /#text-tabs -->
      </div><!-- /#right-sidebar -->
    </div><!-- /#working-area -->

    <!-- Audio files for transcript syncing markers -->
    <div id="transcript-chimes" class="hidden">
      <audio class="loop-boundary-chime" src="/synchronizer-module/includes/startBeep.mp3" autostart="false"></audio>
      <audio class="loop-mid-chime" src="/synchronizer-module/includes/midBeep.mp3" autostart="false"></audio>
    </div>
  </div>
<% else %>
  <p>Unable to display synchronizer because streaming server is not configured.
<% end %>
