<%
media_url = wowza_media_token_url(document)
if params[:mode] == 'chapters'
  synch_mode = 'chapters'
else
  synch_mode = 'synchronized_transcript'
end
%>

<% if media_url.present? %>
  <% # Note: "text-align:left;" is required for the widget container, otherwise the seek bar won't render properly %>
  <div id="synchronizer-widget" style="text-align:left;" data-media-url="<%= media_url %>" data-<%= synch_mode %>-url="<%= bytestream_content_path(catalog_id: params[:id], bytestream_id: synch_mode) %>" class="">
    <div id="working-area" class="d-flex flex-column flex-md-row">
      <div id="left-sidebar" class="w-100 vh-sm-50 h-md-auto" style="">
        <div id="media-playback" class="" style="">
          <div id="video"><video id="video-player" class="able-player" data-include-transcript="false" preload="none" data-captions-position="<%= document['dc_type_ssm']&.detect {|x| x =~ /sound/i || x =~ /audio/i } ? 'overlay' : 'bottom' %>"><source src="<%= media_url %>" /><track id="video-captions" label="English" kind="captions" srclang="en" src="<%= bytestream_content_path(catalog_id: params[:id], bytestream_id: 'captions')%>" /></video></div>
        </div><!-- /#media-playback -->
      </div><!-- /#left-sidebar -->

      <div id="right-sidebar" class="vh-md-100 min-vh-50 p-0 w-100 overflow-auto" style="max-height:80vh">
        <div id="interview-metadata" class="mx-md-2" data-assigned="true"><%= render partial: 'synchronizer/interview_metadata' %></div><!-- /#interview-metadata -->
        <div id="text-tabs">
          <% if synch_mode == 'chapters' %>
            <div id="tabs-index" class="mx-md-2">
              <h2>Index Descriptions</h2>
              <div id="input-index">
                <div class="accordion" id="previewAccordion"></div>
              </div>
            </div>
          <% else %>
            <div id="tabs-transcript" class="mx-md-2">
              <h2>Transcript</h2>
              <div id="input-transcript">
                <input id="sync-roll" class="btn btn-secondary" type="hidden" maxlength="3" size="3" value="0" name="sync-roll">
                <div id="transcript" class="col-md-12" ></div>
                <div id="transcript-preview" class="col-md-12" ></div>
              </div>
            </div>
          <% end %>
          </div>
          <div class="clearfix"></div>
        </div><!-- /#text-tabs -->
      </div><!-- /#right-sidebar -->
    </div><!-- /#working-area -->

    <!-- Audio files for transcript syncing markers -->
    <div id="transcript-chimes" class="hidden">
      <audio class="loop-boundary-chime" src="<%= asset_path("synchronizer/startBeep.mp3") %>" autostart="false"></audio>
      <audio class="loop-mid-chime" src="<%= asset_path("synchronizer/midBeep.mp3") %>" autostart="false"></audio>
    </div>
  </div>
<% else %>
  <p>Unable to display synchronizer because streaming server is not configured.
<% end %>
