<div class="row">
  <div id="sidebar" class="col-md-3">
    <div class="inner">
       <div id="home-sidebar-news">
          <h6>PUBLIC BETA RELEASE</h6>
            <p>Welcome to the beta release of Columbia's Digital Library Collections (DLC) system. We we would like to encourage your input to help us improve this site! Please make sure to use the Suggestions & Feedback link found at the bottom of each page. We are still in the process of moving existing projects into this system so that all of the content will ultimately be searchable within the DLC. <a href="<%= about_url %>">More &raquo;</a></p>
            <hr>
          <h6>FEATURED</h6>
          <p><a href="<%= search_action_path(:f => {'lib_project_short_ssim' => ['Community Service Society']})  %>"><img src="<%= asset_url('dcv/sidebar-post-css-thumb.jpg'); %>" class="pull-left" alt="Community Service Society Photographs"></a>More than 1400 photographs from the Community Service Society Records collection are now available in the DLC, offering a view of pressing social issues of late 19th- and early 20th-century New York. <a href="<%= search_action_path(:f => {'lib_project_short_ssim' => ['Community Service Society']})  %>">View this content &raquo;</a></p>
          <div class="clearfix"></div>
         </div>
      </div>
      <div id="home-sidebar-about">
          <p><a href="<%= about_url %>">Learn more about the DLC &raquo;</a></p>
      </div>
  </div>

  <div id="content" class="col-md-9">
        <div id="home-page-content">

            <div id="home-page-tabs" class="inner">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#projects" data-toggle="tab">Selected Collections</a></li>
                    <% @browse_lists.each do |facet_name, data| %>
                        <li><a href="#tab_<%= facet_name %>" data-toggle="tab"><%= data['display_label'] %></a></li>
                    <% end %>
					<li class="pull-right non-tab"><a onclick="window.open(this.href);return false;" href="http://library.columbia.edu/find/digital-collections.html" title="See All Digital Collections on the Libraries' Website">All Collections <i class="glyphicon glyphicon-new-window"></i></a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane fadein active" id="projects">
                        <%= render template: 'pages/projects_and_exhibitions' %>
                    </div>
                    <% if @browse_lists.present? %>
                        <% @browse_lists.each do |facet_name, data| %>
                            <%= render template: "pages/#{facet_name}", locals: {facet_name: facet_name, data: data} if data['value_pairs'].present? %>
                        <% end %>
                    <% end %>
                </div>
            </div> <!--/.inner-->
        </div>
  </div>

</div>
