<div class="row">
  <div id="sidebar" class="col-md-3">
    <div class="inner">
       <div id="home-sidebar-news">
          <h6>RESTRICTED CONTENT</h6>
            <p>This is the provisional home page for restricted content.</p>
            <hr>
          <h6>FEATURED</h6>
          <p><a href="<%= restricted_universityseminars_index_path()  %>"><img src="<%= asset_url('dcv/sidebar-post-usem-thumb.jpg'); %>" class="pull-left" alt="University Seminars"></a>Founded in 1944 by Frank Tannenbaum, The University Seminars are groups of professors and experts from Columbia University and elsewhere. Seminars gather monthly to work together on problems that cross the boundaries between university departments. <a href="<%= restricted_universityseminars_index_path()  %>">View this content &raquo;</a></p>
          <div class="clearfix"></div>
         </div>
      </div>
      <div id="home-sidebar-about">
          <p><a href="<%= about_url %>">Learn more about the DLC &raquo;</a></p>
      </div>
  </div>

  <div id="content" class="col-md-9">
        <div id="home-page-content">

            <div id="home-page-tabs" class="inner">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#projects" data-toggle="tab">Projects</a></li>
                    <% @browse_lists.each do |facet_name, data| %>
                        <li><a href="#tab_<%= facet_name %>" data-toggle="tab"><%= data['display_label'] %></a></li>
                    <% end %>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane fadein active" id="projects">
                        <%= render template: 'pages/projects_and_exhibitions' %>
                    </div>
                    <% if @browse_lists.present? %>
                        <% @browse_lists.each do |facet_name, data| %>
                            <%= render template: "pages/#{facet_name}", locals: {facet_name: facet_name, data: data} if data['value_pairs'].present? %>
                        <% end %>
                    <% end %>
                </div>
            </div> <!--/.inner-->
        </div>
  </div>

</div>
