<div class="row">
  <div id="sidebar" class="col-md-3">
    <div class="inner">
       <div id="home-sidebar-news">
          <h6>RESTRICTED CONTENT</h6>
            <p>This is the provisional home page for restricted content.</p>
          <div class="clearfix"></div>
         </div>
      </div>
      <div id="home-sidebar-about">
          <p><a href="<%= about_url %>">Learn more about the DLC &raquo;</a></p>
      </div>
  </div>

  <div id="content" class="col-md-9">
        <div id="home-page-content">

            <div id="home-page-restricted" class="inner">

                <div class="content">
                    <div class="" id="projects">

					  <div class="col-sm-6">
						<div class="row">
							<div class="col-sm-12">
							  <h6>University Seminars</h6>
							  <p><a class="project-image-link" href="<%= restricted_universityseminars_index_path()  %>"><img src="<%= asset_url('digital_projects_page/usem.jpg'); %>" class="thumbnail img-responsive col-sm-4" alt="University Seminars" style="margin-right:1em;"></a>
								Founded in 1944 by Frank Tannenbaum, The University Seminars are groups of professors and experts from Columbia University and elsewhere. Seminars gather monthly to work together on problems that cross the boundaries between university departments. <a style="display:inline-block;" href="<%= restricted_universityseminars_index_path()  %>">View this content &raquo;</a></p>
							</div>
						</div>
					  </div>

            <hr class="visible-xs">
					  <div class="col-sm-6">
						<div class="row">
							<div class="col-sm-12">
							  <h6>Ford IFP</h6>
								<p><a class="project-image-link" href="<%= restricted_ifp_index_path()  %>"><img src="<%= asset_url('ifp/IFP-square-logo.png'); %>" class="thumbnail img-responsive col-sm-4" alt="Ford IFP" style="margin-right:1em;"></a>
								The archives cover the issues of social justice, community development, and access to higher education, and include paper and digital documentation and audiovisual materials on the more than 4,300 IFP Fellows as well as comprehensive planning and administrative files of the program. <a style="display:inline-block;" href="<%= restricted_ifp_index_path()  %>">View this content &raquo;</a></p>
							</div>
						</div>
					  </div>

                    </div>
                </div>
				<div class="clearfix"></div>
            </div> <!--/.inner-->
        </div>
  </div>

</div>
