<div class="row">
  <div id="sidebar" class="col-md-3">
    <div class="inner">
       <div id="home-sidebar-news">
           <h6>RESTRICTED CONTENT <span class="glyphicon glyphicon-lock"></span></h6>
           <p>
           A core objective of Columbia University Libraries Rare Book and Manuscript Library is is to make our archival collections accessible for research and scholarship.  However, certain digital items cannot be published online due to copyright restrictions or privacy and confidentiality concerns. These materials can only be viewed in the reading rooms of the Rare Book and Manuscript Library during its <a href="http://hours.library.columbia.edu/?library=rbml">hours</a> of work. Requests for obtaining copies of these materials are subject to approval by the RBML Digital Assets Archivist or other designated staff members. Please see the <a href="http://library.columbia.edu/locations/rbml.html">RBML website</a> for more information on planning your visit. 
           </p>
          <div class="clearfix"></div>
         </div>
      </div>
      <div id="home-sidebar-about">
          <p><a href="<%= about_url %>">Learn more about the DLC &raquo;</a></p>
      </div>
  </div>

  <div id="content" class="col-md-9">
        <div id="home-page-content">

            <div id="home-page-restricted" class="inner">

                <div class="content">
                    <div class="" id="projects">

					  <div class="col-sm-6">
						<div class="row">
							<div class="col-sm-12">
							  <h4>University Seminars Digital Archive</h4>
							  <p><a class="project-image-link" href="<%= restricted_universityseminars_index_path()  %>"><img src="<%= asset_url('digital_projects_page/usem.jpg'); %>" class="thumbnail img-responsive col-sm-5" alt="University Seminars" style="margin-right:1em;"></a>
								Founded in 1944 by Frank Tannenbaum, The University Seminars are groups of professors and experts from Columbia University and elsewhere. Seminars gather monthly to work together on problems that cross the boundaries between university departments. <a style="display:block;" href="<%= restricted_universityseminars_index_path()  %>">View this content &raquo;</a></p>
							</div>
						</div>
					  </div>

            <hr class="visible-xs">
					  <div class="col-sm-6">
						<div class="row">
							<div class="col-sm-12">
							  <h4>Ford IFP Archive</h4>
								<p><a class="project-image-link" href="<%= restricted_ifp_index_path()  %>"><img src="<%= asset_url('ifp/IFP-square-logo.png'); %>" class="thumbnail img-responsive col-sm-5" alt="Ford IFP" style="margin-right:1em;"></a>
								The archives cover the issues of social justice, community development, and access to higher education, and include paper and digital documentation and audiovisual materials on the more than 4,300 IFP Fellows as well as comprehensive planning and administrative files of the program. <a style="display:block;" href="<%= restricted_ifp_index_path()  %>">View this content &raquo;</a></p>
							</div>
						</div>
					  </div>

                    </div>
                </div>
				<div class="clearfix"></div>
            </div> <!--/.inner-->
        </div>
  </div>

</div>
