<%- local_downloads ||= false -%>
<div class="float-right btn-group btn-group-sm ml-2">
  <%= link_to '<span class="fa fa-folder-open-o"></span>'.html_safe, item_mods_path(id: @document.id),
  {
    :'data-display-url' => item_mods_path(id: @document.id, type: 'formatted_text'),
    :'data-download-url' => item_mods_path(id: @document.id, type: 'download'),
    :class => 'btn btn-secondary float-right',
    :title => 'Display XML Metadata',
    :'data-tt' => 'tooltip',
    :onclick => 'return DCV.ModsDownloadModal.show($(this).attr("data-display-url"), $(this).attr("data-download-url"));'
  }
  %>
  <% if has_viewable_children? || archive_org_id_for_document(document) -%>
  <a id="child-zoom-modal-button" class="btn btn-secondary item-cbox" data-original-title="<%= document_show_html_title %>" data-toggle="tooltip" title="Zoom in" href="#"><i class="fa fa-search-plus"></i></a>
  <a id="child-zoom-new-window-button" class="btn btn-secondary" href="#" data-original-title="<%= document_show_html_title %>" data-toggle="tooltip" title="Open in new window"><i class="fa fa-external-link"></i></a>
  <% end -%>
  <% if local_downloads || archive_org_id_for_document(document) -%>
  <div id="download-button-group" class="btn-group btn-group-sm float-right">
    <button id="download-button" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" data-tt="tooltip" title="Download">
      <i class="fa fa-cloud-download"></i> <span class="caret"></span>
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul id="downloads-list" class="dropdown-menu float-right" role="menu">
      <li><a href="#">Test</a></li>
      <li><a href="#">Test 2</a></li>
    </ul>
  </div>
  <% end -%>
  <% if local_downloads -%>
  <% if has_persistent_link?(document) && structured_children.detect {|x| x[:dc_type] =~ /image/i } %>
    <a id="draggable-iiif-button" class="btn btn-secondary grabbable" href="<%= get_manifest_url(document) %>" title="drag-n-drop iiif manifest" data-toggle="tooltip">
      <%= image_tag('logo-iiif-34x30.png', srcset: asset_path("iiif-logo.svg"), class: "localicon-iiif") %>
    </a>
  <% end %>
  <% end -%>
</div>
