<%- local_downloads ||= false -%>
<div class="float-right btn-group btn-group-sm ml-2">
  <%= link_to('#',
    data: { 
      'display-url' => item_mods_path(id: @document.id, type: 'formatted_text'),
      'download-url' => item_mods_path(id: @document.id, type: 'download'),
      'modal-title-func' => 'downloadXmlTitle',
      'modal-size' => 'large',
      toggle: 'modal', target: '#dcvModal' 
    },
    role: 'button',
    aria: { label: 'Display XML Metadata' },
    class: 'btn btn-secondary float-right') do %>
    <%= content_tag :span, '', class: "fa fa-folder-open-o", data: { toggle: 'tooltip' }, title: 'Display XML Metadata' -%>
  <%- end -%>
  <% if has_viewable_children? || archive_org_id_for_document(document) -%>
  <a id="child-zoom-modal-button" class="btn btn-secondary item-modal" data-modal-title="<%= document_show_html_title %>" aria-label="Zoom in" href="#" data-toggle="modal" data-target="#dcvModal" data-modal-size="max"><i class="fa fa-search-plus" data-toggle="tooltip" title="Zoom in"></i></a>
  <a id="child-zoom-new-window-button" class="btn btn-secondary" href="#" data-original-title="<%= document_show_html_title %>" aria-label="Open in new window"><i class="fa fa-external-link" data-toggle="tooltip" title="Open in new window"></i></a>
  <% end -%>
  <% if local_downloads || archive_org_id_for_document(document) -%>
  <div id="download-button-group" class="btn-group btn-group-sm justify-content-end">
    <button id="download-button" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" data-tt="tooltip" title="Download" aria-label="Download">
      <i class="fa fa-cloud-download"></i> <span class="caret"></span>
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul id="downloads-list" class="dropdown-menu dropdown-menu-right" role="menu">
    </ul>
  </div>
  <% end -%>
  <% if local_downloads -%>
  <% if has_persistent_link?(document) && structured_children.detect {|x| x[:dc_type] =~ /image/i } %>
    <a id="draggable-iiif-button" class="btn btn-secondary grabbable localicon-iiif" href="<%= get_manifest_url(document) %>" aria-label="drag-n-drop iiif manifest" data-toggle="tooltip">
      <span data-toggle="tooltip" title="drag-n-drop iiif manifest"><%= inline_svg('iiif-logo.svg') %></span>
    </a>
  <% end %>
  <% end -%>
</div>
