<div id="child-viewer" class="inner<%= ' h-poster'  if (document['iiif_behavior_ssim']&.include?("paged")) -%>">
  <% parent_title = document['title_ssm'].first.strip %>
  <p id="child-viewer-subtitle">&nbsp;</p>

  <% if (document['iiif_behavior_ssim']&.include?("paged")) %>
    <%= render Dcv::ContentAggregator::PagedResourceComponent.new(document: document, local_downloads: false) %>
  <% elsif (structured_children.length == 0) && iframe_url_for_document(document) %>
    <%= render Dcv::ContentAggregator::Carousel::ArchiveOrgComponent.new(document: document, local_downloads: false, structured_children: structured_children, parent_title: parent_title) %>
  <% elsif has_viewable_children? %>
    <%= render Dcv::ContentAggregator::Carousel::StructuredChildrenComponent.new(document: document, local_downloads: !has_non_public_children?, structured_children: structured_children, parent_title: parent_title) %>
  <% else %>
    <%= render Dcv::ContentAggregator::Carousel::EmptyComponent.new(document: document, local_downloads: false, structured_children: structured_children, parent_title: parent_title) %>
  <% end %>
</div>
