<h2>Collections</h2>
<p>The Digital Collections Viewer is a site for searching across or within many digital collections here at Columbia.  Some collections are housed entirely within this site, while others have also been published as their own external exhibitions.  Below, you'll find everything that we offer.</p>

<h3 class="lead">Unique To The DCV</h3>
<div class="row">
	<div class="col-sm-3">
		<a href="#"><%= image_tag("collections_page/about_css.jpg", :class => 'img-responsive') %></a>
		<p>Community Service Society Photographs</p>
	</div><!-- /.col-sm-3 -->
	<div class="col-sm-3">
		<a href="#"><%= image_tag("collections_page/about_lindquist.jpg", :class => 'img-responsive') %></a>
		<p>G.E.E. Lindquist Native American Photographs<p>
	</div><!-- /.col-sm-3 -->
	<div class="col-sm-3">
		<a href="#"><%= image_tag("collections_page/about_css.jpg", :class => 'img-responsive') %></a>
		<p>Community Service Society Photographs</p>
	</div><!-- /.col-sm-3 -->
	<div class="col-sm-3">
		<a href="#"><%= image_tag("collections_page/about_lindquist.jpg", :class => 'img-responsive') %></a>
		<p>G.E.E. Lindquist Native American Photographs<p>
	</div><!-- /.col-sm-3 -->
</div><!-- /.row -->
<div class="row">
	<div class="col-sm-3">
		<a href="#"><%= image_tag("collections_page/about_lindquist.jpg", :class => 'img-responsive') %></a>
		<p>G.E.E. Lindquist Native American Photographs<p>
	</div><!-- /.col-sm-3 -->
	<div class="col-sm-3">
		<a href="#"><%= image_tag("collections_page/about_css.jpg", :class => 'img-responsive') %></a>
		<p>Community Service Society Photographs</p>
	</div><!-- /.col-sm-3 -->
	<div class="col-sm-3">
		<a href="#"><%= image_tag("collections_page/about_lindquist.jpg", :class => 'img-responsive') %></a>
		<p>G.E.E. Lindquist Native American Photographs<p>
	</div><!-- /.col-sm-3 -->
	<div class="col-sm-3">
		<a href="#"><%= image_tag("collections_page/about_css.jpg", :class => 'img-responsive') %></a>
		<p>Community Service Society Photographs</p>
	</div><!-- /.col-sm-3 -->
</div><!-- /.row -->

<h3 class="lead">External Exhibition Sites</h3>
<div class="row">
	<div class="col-sm-3">
		<a href="#"><%= image_tag("collections_page/about_css.jpg", :class => 'img-responsive') %></a>
		<p>Community Service Society Photographs</p>
	</div><!-- /.col-sm-3 -->
	<div class="col-sm-3">
		<a href="#"><%= image_tag("collections_page/about_lindquist.jpg", :class => 'img-responsive') %></a>
		<p>G.E.E. Lindquist Native American Photographs<p>
	</div><!-- /.col-sm-3 -->
	<div class="col-sm-3">
		<a href="#"><%= image_tag("collections_page/about_css.jpg", :class => 'img-responsive') %></a>
		<p>Community Service Society Photographs</p>
	</div><!-- /.col-sm-3 -->
	<div class="col-sm-3">
		<a href="#"><%= image_tag("collections_page/about_lindquist.jpg", :class => 'img-responsive') %></a>
		<p>G.E.E. Lindquist Native American Photographs<p>
	</div><!-- /.col-sm-3 -->
</div><!-- /.row -->
<div class="row">
	<div class="col-sm-3">
		<a href="#"><%= image_tag("collections_page/about_lindquist.jpg", :class => 'img-responsive') %></a>
		<p>G.E.E. Lindquist Native American Photographs<p>
	</div><!-- /.col-sm-3 -->
	<div class="col-sm-3">
		<a href="#"><%= image_tag("collections_page/about_css.jpg", :class => 'img-responsive') %></a>
		<p>Community Service Society Photographs</p>
	</div><!-- /.col-sm-3 -->
	<div class="col-sm-3">
		<a href="#"><%= image_tag("collections_page/about_lindquist.jpg", :class => 'img-responsive') %></a>
		<p>G.E.E. Lindquist Native American Photographs<p>
	</div><!-- /.col-sm-3 -->
	<div class="col-sm-3">
		<a href="#"><%= image_tag("collections_page/about_css.jpg", :class => 'img-responsive') %></a>
		<p>Community Service Society Photographs</p>
	</div><!-- /.col-sm-3 -->
</div><!-- /.row -->
