<%
	digital_projects = [
		{
			:name => "APIS: Advanced Papyrological Information System",
			:image => 'apis.png',
			:external_url => 'http://www.columbia.edu/cgi-bin/cul/resolve?ATK2059',
			:description => "APIS is a collaborative online catalog and library of digitized images of papyri and ostraca (potsherds with incriptions) dating from the period 400 BCE to 800 CE."
		},
		{
			:name => "Biggert Collection of Architectural Vignettes on Commercial Stationery",
			:image => 'biggert.png',
			:external_url => 'http://www.columbia.edu/cgi-bin/cul/resolve?clio7887951',
			:description => "Contains over 1,300 items of printed ephemera with architectural imagery from 1850-1920, spanning more than 350 cities and towns in forty-five states."
		},
		{
			:name => "Bunraku Collection Gallery",
			:image => 'bunraku.png',
			:external_url => 'http://www.columbia.edu/cgi-bin/cul/resolve?lweb0120',
			:description => "A sampler from the Barbara C. Adachi Collection of photographs of live bunraku theater performances from the second half of the 20th century."
		},
		{
			:name => "Chinese Paper Gods",
			:image => 'chinese_paper_gods.png',
			:facet_value => 'Chinese paper gods',
			:external_url => 'http://www.columbia.edu/cgi-bin/cul/resolve?clio6257012',
			:description => "An online visual catalog of over 200 woodcuts used in folk religious practices in Beijing and other parts of China in the 1930s."
		},
		{
			:name => "Columbia Library Columns",
			:image => 'columns.png',
			:external_url => 'http://library.columbia.edu/locations/rbml/digitalcollections/columns.html',
			:description => "A digitized collection of the journal published by Columbia University Libraries from 1951 to 1996, comprising over 6,900 pages in 46 volumes (135 issues)."
		},
		{
			:name => "Columbia Spectator Archive",
			:image => 'cu_spectator.png',
			:external_url => 'http://www.columbia.edu/cgi-bin/cul/resolve?clio5285428.002',
			:description => "The Archive of the Columbia Daily Spectator, the newspaper of Columbia University, preserves the second-oldest college daily paper in the country. The complete run of the newspaper, from 1877 to 2012, is now available in digital form. The Archive is a public resource for Columbia University history and preserves the Spectator's past work."
		},
		{
			:name => "Community Service Society Photographs",
			:image => 'community_service_society.jpg',
			:facet_value => 'Community Service Society Photographs',
			:external_url => 'http://css.cul.columbia.edu',
			:description => "Community Service Society Photographs
An online presentation of almost 1400 photographs  from the Community Service Society Records at Columbia University's Rare Book & Manuscript Library. They offer representations of pressing social issues in late-19th- and early-20th-century New York."
		},
		{
			:name => "Digital Scriptorium",
			:image => 'digital_scriptorium.png',
			:external_url => 'http://www.columbia.edu/cgi-bin/cul/resolve?clio4091801',
			:description => "The Digital Scriptorium makes available cataloging and selected digital images from medieval and early Renaissance manuscript collections housed in U.S. collections."
		},
		{
			:name => "E-Book Digitization Program",
			:image => 'ebook.png',
			:external_url => 'https://www1.columbia.edu/sec/cu/libraries/bts/ebooks/index.html',
			:description => "Columbia University Libraries has launched a program of selective digitization of pre-1923 books and other items from our collections."
		},
		{
			:name => "G.E.E. Lindquist Native American Photographs",
			:image => 'lindquist.jpg',
			:facet_value => 'Lindquist Photographs',
			:external_url => 'http://lindquist.cul.columbia.edu',
			:description => "Online presentation of photographs, postcards, negatives, and lantern slides from the G.E.E. Lindquist Papers archival collection at The Burke Library. They depict the people, places, and practices of Native Americans and their communities in the period from 1909-1953."
		},
		{
			:name => "Greene & Greene Architectural Records",
			:image => 'greene.png',
			:external_url => 'zzzzzzzzzzzzzzzz',
			:description => "An online collection guide and image database of architectural designs and drawings by Charles Sumner Greene and Henry Mather Greene, architects of the American Arts and Crafts Movement."
		},
		{
			:name => "Historical Corporate Reports",
			:image => 'corporate_reports.png',
			:external_url => 'http://library.columbia.edu/locations/business/corpreports.html',
			:description => "Selected from the collections of Columbia's Watson Library of Business & Economics, this collection presents ca. 770 digitized reports issued between 1850-1960 by some 36 companies, including department stores, utilities, banks, and railroads."
		},
		{
			:name => "Human Rights Web Archive",
			:image => 'hrwa.png',
			:external_url => 'http://www.columbia.edu/cgi-bin/cul/resolve?clio10104762.002',
			:description => "The Human Rights Web Archive @ Columbia University is a searchable collection of archived copies of human rights websites created by non-governmental organizations, national human rights institutions, tribunals and individuals. New websites are added to the collection regularly."
		},
		{
			:name => "John Jay Papers",
			:image => 'john_jay.png',
			:facet_value => 'John Jay Papers',
			:external_url => 'http://www.columbia.edu/cgi-bin/cul/resolve?AVE8231',
			:description => "An online index and text database of correspondence, memos, diaries, etc. written by or to the American statesman John Jay (1745-1829)."
		},
		{
			:name => "Joseph Urban Stage Design Models and Documents",
			:image => 'urban.png',
			:external_url => 'http://www.columbia.edu/cgi-bin/cul/resolve?clio5299290',
			:description => "A virtual collection of high-quality digital images of set models, drawings, documents and more for over 260 New York theater and opera productions."
		},
		{
			:name => "Lehman Papers: Special Correspondence Series",
			:image => 'lehman_papers.png',
			:external_url => 'http://www.columbia.edu/cgi-bin/cul/resolve?lweb0107',
			:description => "A searchable database of selected correspondence to and from New York Governor and U.S. Senator Herbert H. Lehman (1878-1963)."
		},
		{
			:name => "Ling Long Women's Magazine",
			:image => 'ling_long.png',
			:external_url => 'http://www.columbia.edu/cgi-bin/cul/resolve?ANX0496',
			:description => "A digital version of Ling Long Women's Magazine, originally published in Shanghai from 1931 to 1937 and of significant scholarly research value in several disciplines."
		},
		{
			:name => "New York Real Estate Brochure Collection",
			:image => 'nyre.png',
			:external_url => 'http://www.columbia.edu/cgi-bin/cul/resolve?clio7363386',
			:description => "A searchable database of thousands of advertising brochures, floor plans, price lists, and more from residential and commercial real estate development in New York City and vicinities from the 1920s to the 1970s."
		},
		{
			:name => "Notable New Yorkers",
			:image => 'notable_new_yorkers.png',
			:external_url => 'http://www.columbia.edu/cgi-bin/cul/resolve?AH-5AU1DPS05514',
			:description => "Original audio recordings and edited transcripts of oral history interviews with ten influential New Yorkers drawn from the collection of the Columbia Libraries' Columbia Center for Oral History."
		},
		{
			:name => "Real Estate Record and Builders Guide",
			:image => 'real_estate_record.png',
			:external_url => 'http://www.columbia.edu/cgi-bin/cul/resolve?rerecord',
			:description => "Digitized volumes of The Real Estate Record and Builders Guide, a magazine detailing building activity in New York City and its environs that began publication in the late 1860s. The project website provides sales, mortgage, conveyance, and other data  as well as illustrated articles on buildings and neighborhood development."
		},
		{
			:name => "The Tibet Mirror",
			:image => 'tibet_mirror.png',
			:external_url => 'http://www.columbia.edu/cgi-bin/cul/resolve?clio6981643',
			:description => "An online collection of the Tibet Mirror (Tib. Yul phyogs so so'i gsar 'gyur me long), published in Kalimpong, India from 1925 to 1963. Seventy percent of the full run is now available thanks to the generous cooperation of Yale University, Collège de France, and the Musée Guimet."
		},
	]
%>
	<div id="digital_projects">
		<h2 class="hide">Digital Projects</h2>
		<p><strong>Digital Library Collections</strong> is a gateway to many of the digital projects that Columbia University Libraries / Information Services has completed over the past ten years. Some of these projects are housed entirely within this site, while others have also been published as independent external exhibitions.  Below, you'll find everything that we offer.</p>

		<%
		per_row = 1
		col_size = 12/per_row
		col_counter = 0
		%>

		<% digital_projects.each do |digital_project| %>
			<% if col_counter == 0 %>
				<br />
				<div class="row">
			<% end %>

			<div class="col-md-<%= col_size %>">

				<div class="row">
					<div class="col-sm-3">
						<% dcv_search_link = digital_project[:facet_value].present? ? search_action_path(:f => {'lib_project_sim' => [digital_project[:facet_value]]}) : nil %>

						<div class="aligncenter">
							<% if dcv_search_link.present? %>
								<small><%= link_to 'View Content', dcv_search_link %></small>
							<% end %>
							<% if dcv_search_link.present? && digital_project[:external_url].present? %>
								<br />
							<% end %>
							<% if digital_project[:external_url].present? %>
								<small><%= link_to 'Jump to Project Site', digital_project[:external_url] %></small>
							<% end %>
						</div>
					</div>
					<div class="col-sm-9">
						<h3><%= digital_project[:name] %></h3>
						<%= digital_project[:description] %>
					</div>
				</div>

			</div>

			<% col_counter += 1 %>
			<% if col_counter == per_row %>
				</div>
				<% col_counter = 0 %>
			<% end %>

		<% end %>
	</div>
