<%
	digital_projects = [
		{
			:name => "Chinese Paper Gods",
			:image => 'chinese_paper_gods.png',
			:facet_value => 'Chinese paper gods',
			:external_url => 'http://www.columbia.edu/cgi-bin/cul/resolve?clio6257012',
			:description => "An online visual catalog of over 200 woodcuts used in folk religious practices in Beijing and other parts of China in the 1930s."
		},
		{
			:name => "Community Service Society Photographs",
			:image => 'community_service_society.jpg',
			:facet_value => 'Community Service Society Photographs',
			:external_url => 'http://css.cul.columbia.edu',
			:description => "Community Service Society Photographs
An online presentation of almost 1400 photographs  from the Community Service Society Records at Columbia University's Rare Book & Manuscript Library. They offer representations of pressing social issues in late-19th- and early-20th-century New York."
		},
		{
			:name => "G.E.E. Lindquist Native American Photographs",
			:image => 'lindquist.jpg',
			:facet_value => 'Lindquist Photographs',
			:external_url => 'http://lindquist.cul.columbia.edu',
			:description => "Online presentation of photographs, postcards, negatives, and lantern slides from the G.E.E. Lindquist Papers archival collection at The Burke Library. They depict the people, places, and practices of Native Americans and their communities in the period from 1909-1953."
		},
		{
			:name => "John Jay Papers",
			:image => 'john_jay.png',
			:facet_value => 'John Jay Papers',
			:external_url => 'http://www.columbia.edu/cgi-bin/cul/resolve?AVE8231',
			:description => "An online index and text database of correspondence, memos, diaries, etc. written by or to the American statesman John Jay (1745-1829)."
		}
	]
%>
	<div id="digital_projects">
		<h2 class="hide">Digital Projects</h2>
		<p><strong>Digital Library Collections</strong> is a gateway to many of the digital projects that Columbia University Libraries / Information Services has completed over the past ten years. Some of these projects are housed entirely within this site, while others have also been published as independent external exhibitions.  Below, you'll find everything that we offer.</p>

		<%
		per_row = 2
		col_size = 12/per_row
		col_counter = 0
		%>

		<% digital_projects.each do |digital_project| %>
			<% if col_counter == 0 %>
				<br />
				<div class="row">
			<% end %>

			<div class="col-md-<%= col_size %>">

				<div class="row">
					<div class="col-sm-4">
						<% dcv_search_link = search_action_path(:f => {'lib_project_sim' => [digital_project[:facet_value]]}) %>
						<%= link_to image_tag('digital_projects_page/' + digital_project[:image], :class => 'thumbnail img-responsive'), dcv_search_link, :style => 'margin:0px auto;' %>

						<div class="aligncenter">
							<small><%= link_to 'View Content', dcv_search_link %></small>
							<% if digital_project[:external_url].present? %>
								<br />
								<small><%= link_to 'Jump to Project Site', digital_project[:external_url] %></small>
							<% end %>
						</div>
					</div>
					<div class="col-sm-8">
						<h3><%= digital_project[:name] %></h3>
						<%= digital_project[:description] %>
					</div>
				</div>

			</div>

			<% col_counter += 1 %>
			<% if col_counter == per_row %>
				</div>
				<% col_counter = 0 %>
			<% end %>

		<% end %>
	</div>
