	<h2 class="hide">Digital Projects</h2>
	<p><strong>Digital Library Collections</strong> is a gateway to many of the digital projects that Columbia University Libraries / Information Services has completed over the past ten years. Some of these projects are housed entirely within this site, while others have also been published as independent external exhibitions.  Below, you'll find everything that we offer.</p>
	<br />
	<div class="row">
		<div class="col-sm-6">
			<div class="row">
				<div class="col-sm-4">
					<% dcv_search_link = search_action_path(:f => {'lib_project_sim' => ['Community Service Society Photographs']}) %>
					<%= link_to image_tag("collections_page/about_css.jpg", :class => 'thumbnail img-responsive'), dcv_search_link %>
					<div class="aligncenter">
						<small><%= link_to 'View Content', dcv_search_link %></small>
						<br />
						<small><%= link_to 'Jump to Project Site', 'http://css.cul.columbia.edu' %></small>
					</div>
				</div>
				<div class="col-sm-8">
					<strong>Community Service Society Photographs</strong> is an online presentation of almost 1400 photographs (and a few illustrations) from the Community Service Society Records at Columbia University's Rare Book &amp; Manuscript Library. They offer representations of urban poverty, unsafe tenement housing, inadequate hygiene in public areas, and other pressing social issues in late-19th- and early-20th-century New York. The images range from the 1880s through the 1950s.
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="row">
				<div class="col-sm-4">
					<% dcv_search_link = search_action_path(:f => {'lib_project_sim' => ['Lindquist Photographs']}) %>
					<%= link_to image_tag("collections_page/about_lindquist.jpg", :class => 'thumbnail img-responsive'), dcv_search_link %>
					<div class="aligncenter">
						<small><%= link_to 'View Content', dcv_search_link %></small>
						<br />
						<small><%= link_to 'Jump to Project Site', 'http://lindquist.cul.columbia.edu' %></small>
					</div>
				</div>
				<div class="col-sm-8">
					<strong>G.E.E. Lindquist Native American Photographs</strong> is an online presentation of the 1322 photographs, 124 postcards, 388 negatives, and 34 glass plate negatives/lantern slides, which derive from the G.E.E. Lindquist Papers archival collection at The Burke Library.  They depict the people, places, and practices of Native Americans and their communities from at least 34 States, plus Canada and Mexico in the period from 1909-1953.
				</div>
			</div>
		</div>
	</div>

