<%
	digital_projects = [
		{
			:name => "Children's Drawings of the Spanish Civil War",
			:image => 'spanish_civil_war_children_drawings.png',
			:facet_value => 'Spanish Civil War',
			:external_url => 'http://www.columbia.edu/cgi-bin/cul/resolve?clio4278351',
			:description => "A virtual exhibition of drawings done by children evacuated to 'colonies' (camps) in war-free areas of Spain and in the south of France from war zones during the Spanish Civil War (1936-1939)."
		},
		{
			:name => "Chinese Paper Gods",
			:image => 'chinese_paper_gods.png',
			:facet_value => 'Chinese paper gods',
			:external_url => 'http://www.columbia.edu/cgi-bin/cul/resolve?clio6257012',
			:description => "An online visual catalog of over 200 woodcuts used in folk religious practices in Beijing and other parts of China in the 1930s."
		},
		{
			:name => "Community Service Society Photographs",
			:image => 'community_service_society.jpg',
			:facet_value => 'Community Service Society Photographs',
			:external_url => 'http://css.cul.columbia.edu',
			:description => "Community Service Society Photographs
An online presentation of almost 1400 photographs  from the Community Service Society Records at Columbia University's Rare Book & Manuscript Library. They offer representations of pressing social issues in late-19th- and early-20th-century New York."
		},
		{
			:name => "G.E.E. Lindquist Native American Photographs",
			:image => 'lindquist.jpg',
			:facet_value => 'Lindquist Photographs',
			:external_url => 'http://lindquist.cul.columbia.edu',
			:description => "Online presentation of photographs, postcards, negatives, and lantern slides from the G.E.E. Lindquist Papers archival collection at The Burke Library. They depict the people, places, and practices of Native Americans and their communities in the period from 1909-1953."
		},
		{
			:name => "Jewels in Her Crown: Treasures from the Special Collections of Columbia's Libraries",
			:image => 'jewels_in_her_crown.png',
			:facet_value => 'Jewels in her Crown',
			:external_url => 'http://www.columbia.edu/cgi-bin/cul/resolve?clio4887511',
			:description => "An online version of the exhibition held in Rare Book and Manuscript Galleries from October 8, 2004 - January 28, 2005, the site brings together for the first time objects selected from all eleven special collections within Columbia University Libraries and affiliates."
		},
		{
			:name => "John Jay Papers",
			:image => 'john_jay.png',
			:facet_value => 'John Jay Papers',
			:external_url => 'http://www.columbia.edu/cgi-bin/cul/resolve?AVE8231',
			:description => "An online index and text database of correspondence, memos, diaries, etc. written by or to the American statesman John Jay (1745-1829)."
		},
		{
			:name => "Russian Imperial Corps of Pages: an Online Exhibition Catalog",
			:image => 'russian_corps.png',
			:facet_value => 'Russian Corps of Pages',
			:external_url => 'http://www.columbia.edu/cgi-bin/cul/resolve?clio4171223',
			:description => "An online exhibition catalog containing selections from the Columbia University Libraries exhibition, \"The Russian Imperial Corps of Pages,\" on view in Butler Library from December 1, 2002 to February 28, 2003, timed to coincide with celebrations of the 300th anniversary of St. Petersburg."
		},
	]
%>
	<div id="digital_projects">
		<h2 class="hide">Digital Projects</h2>
		<p><strong>Digital Library Collections</strong> is a gateway to many of the digital projects that Columbia University Libraries / Information Services has completed over the past ten years. Some of these projects are housed entirely within this site, while others have also been published as independent external exhibitions.  Below, you'll find everything that we offer.</p>

		<%
		per_row = 2
		col_size = 12/per_row
		col_counter = 0
		%>

		<% digital_projects.each do |digital_project| %>
			<% if col_counter == 0 %>
				<br />
				<div class="row">
			<% end %>

			<div class="col-md-<%= col_size %>">

				<div class="row">
					<div class="col-sm-4">
						<% dcv_search_link = search_action_path(:controller => :catalog, :f => {'lib_project_sim' => [digital_project[:facet_value]]}) %>
						<%= link_to image_tag('digital_projects_page/' + digital_project[:image], :class => 'thumbnail img-responsive'), dcv_search_link, :style => 'margin:0px auto;' %>

						<div class="aligncenter">
							<small><%= link_to 'View Content', dcv_search_link %></small>
							<% if digital_project[:external_url].present? %>
								<br />
								<small><%= link_to 'Jump to Project Site', digital_project[:external_url] %></small>
							<% end %>
						</div>
					</div>
					<div class="col-sm-8">
						<h3><%= digital_project[:name] %></h3>
						<%= digital_project[:description] %>
					</div>
				</div>

			</div>

			<% col_counter += 1 %>
			<% if col_counter == per_row %>
				</div>
				<% col_counter = 0 %>
			<% end %>

		<% end %>
	</div>
