<% active_tab ||= 'placeholder' -%>
<div class="tab-pane fade<%= 'in active' if active_tab == facet_name %>" id="tab_<%= facet_name %>">
  <small><%= data['short_description'] %></small>
  <br /><br />
  <ul class="nopad-rl cols-two list-unstyled">
    <% long_repo_names_to_short_repo_names = get_long_repo_names_to_short_repo_names() %>
    <% data['value_pairs'].each do |value, count| %>
      <% facet_value = long_repo_names_to_short_repo_names[value] %>
      <% facet_value ||= value %>
      <% search_link = search_action_path(:f => {'lib_repo_short_ssim' => [facet_value]}) %>
      <li><%= link_to value, search_link %> (<%= count %>)</li>
    <% end %>
  </ul>
</div>