	<div id="digital_projects">
		<h2 class="hide">Projects</h2>
		<p><strong>Digital Library Collections</strong> is a gateway to many of the digital projects that Columbia University Libraries / Information Services has completed over the past ten years. Some of these projects are housed entirely within this site, while others have also been published as independent external exhibitions.  Below, you'll find everything that we offer.</p>

		<% proj_counter = 0 %>

		<div class="row">

		<% controller.digital_projects.each do |digital_project| %>

			<div class="col-sm-3">
				<div class="row" itemscope itemtype="http://schema.org/CreativeWork">
					<div class="col-sm-12">
						<% dcv_search_link = digital_project[:facet_value].present? ? search_action_path(:f => {'lib_project_short_ssim' => [digital_project[:facet_value]]}) : nil %>
						<%= link_to image_tag('digital_projects_page/' + digital_project[:image], :class => 'thumbnail img-responsive', :itemprop => 'image'), (dcv_search_link.present? ? dcv_search_link : digital_project[:external_url]), class: 'project-image-link' %>
						<div>
							<div itemprop="name"><%= digital_project[:name] %></div>
							<small><a href="#" data-proj-more="#proj-<%=proj_counter%>" data-proj-title="<%= digital_project[:name] %>" onclick="return DCV.ProjModal.show($(this).attr('data-proj-more'), $(this).attr('data-proj-title'));">More Information</a></small>
							<br>
							<% if dcv_search_link.present? %>
								<small><%= link_to 'View Content', dcv_search_link %></small>
							<% end %>
							<% if dcv_search_link.present? && digital_project[:external_url].present? %>
								<br />
							<% end %>
							<% if digital_project[:external_url].present? %>
								<small itemprop="url"><%= link_to 'View Project Site', digital_project[:external_url] %></small>
							<% end %>
						</div>
						<div id="proj-<%=proj_counter%>" class="hide">
							<div style="color:black;padding:30px;font-size:110%;" itemprop="description"><%= digital_project[:description].html_safe %></div>
						</div>
					</div>
				</div>
			</div>

			<% proj_counter += 1 %>
			<%= '<div class="clearfix"></div><br />'.html_safe if proj_counter % 4 == 0 %>
		<% end %>
	</div>
</div>
