
	<div id="digital_projects">
		<h2 class="hide">Projects</h2>

		<% all_proj_counter = 0 %>
		<% proj_counter = 0 %>

<% if not defined?(other_projects) && other_projects %>

		<div class="row">
		<% controller.digital_projects.each do |digital_project| %>
			<% if digital_project[:facet_value].present? %>
				<div class="col-sm-3">
					<div class="row" itemscope itemtype="http://schema.org/CreativeWork">
						<div class="col-sm-12">
							<% dcv_search_link = digital_project[:facet_value].present? ? search_action_path(:f => {'lib_project_short_ssim' => [digital_project[:facet_value]]}) : nil %>
							<%= link_to image_tag('digital_projects_page/' + digital_project[:image], :class => 'thumbnail img-responsive', :itemprop => 'image'), (dcv_search_link.present? ? dcv_search_link : digital_project[:external_url]), class: 'project-image-link' %>
							<div>
								<div class=" proj-jav btn-group btn-group-justified" role="group">
									<a class="btn btn-dark btn-xs" role="button" data-toggle="tooltip" title="More Information" href="#" data-proj-more="#proj-<%=proj_counter%>" data-proj-title="<%= digital_project[:name] %>" onclick="return DCV.ProjModal.show($(this).attr('data-proj-more'), $(this).attr('data-proj-title'));"><span class="glyphicon glyphicon-info-sign"></span></a>
									<% if dcv_search_link.present? %>
										<%= link_to '<span class="glyphicon glyphicon-search"></span>'.html_safe, dcv_search_link, :class => 'btn btn-dark btn-xs', :"data-toggle" => 'tooltip', :title => 'Browse Content', :role => 'button' %>
									<% end %>
									<% if digital_project[:external_url].present? %>
										<%= link_to '<span class="glyphicon glyphicon-new-window"></span>'.html_safe, digital_project[:external_url], :itemprop => 'url', :"data-toggle" => 'tooltip', :title => 'View Project Site (external)', :role => 'button', :class => 'btn btn-dark btn-xs', :onclick => 'window.open(this.href);return false;' %>
									<% end %>
								</div>
								<div itemprop="name"><h3><%= link_to digital_project[:name], dcv_search_link, :title => 'Browse Content' %></h3></div>
							</div>
							<div id="proj-<%=proj_counter%>" class="hide">
								<div style="color:black;padding:30px;font-size:110%;" itemprop="description"><%= digital_project[:description].html_safe %></div>
							</div>
						</div>
					</div>
				</div>
				<hr class="visible-xs">

				<% proj_counter += 1 %>
				<%= '<div class="clearfix"></div><br />'.html_safe if proj_counter % 4 == 0 %>
			<% end %>
				<% all_proj_counter += 1 %>
		<% end %>

	</div>
<% else %>

		<p class="small">Shown here are digital collections not yet searchable within Digital Library Collections.<p>

        <div class="row">
        <% controller.digital_projects.each do |digital_project| %>
            <% unless digital_project[:facet_value].present? %>
                <div class="col-sm-3">
                    <div class="row" itemscope itemtype="http://schema.org/CreativeWork">
                        <div class="col-sm-12">
                            <% dcv_search_link = digital_project[:facet_value].present? ? search_action_path(:f => {'lib_project_short_ssim' => [digital_project[:facet_value]]}) : nil %>
                            <%= link_to image_tag('digital_projects_page/' + digital_project[:image], :class => 'thumbnail img-responsive', :itemprop => 'image'), (dcv_search_link.present? ? dcv_search_link : digital_project[:external_url]), class: 'project-image-link' %>
                            <div>
                                <div class=" proj-jav btn-group btn-group-justified" role="group">
                                    <a class="btn btn-dark btn-xs" role="button" data-toggle="tooltip" title="More Information" href="#" data-proj-more="#proj-<%=proj_counter%>" data-proj-title="<%= digital_project[:name] %>" onclick="return DCV.ProjModal.show($(this).attr('data-proj-more'), $(this).attr('data-proj-title'));"><span class="glyphicon glyphicon-info-sign"></span></a>
                                    <% if dcv_search_link.present? %>
                                        <%= link_to '<span class="glyphicon glyphicon-search"></span>'.html_safe, dcv_search_link, :class => 'btn btn-dark btn-xs', :"data-toggle" => 'tooltip', :title => 'Browse Content', :role => 'button' %>
                                    <% end %>
                                    <% if digital_project[:external_url].present? %>
                                        <%= link_to '<span class="glyphicon glyphicon-new-window"></span>'.html_safe, digital_project[:external_url], :itemprop => 'url', :"data-toggle" => 'tooltip', :title => 'View Project Site (external)', :role => 'button', :class => 'btn btn-dark btn-xs', :onclick => 'window.open(this.href);return false;' %>
                                    <% end %>
                                </div>
                                <div itemprop="name"><h3><%= link_to digital_project[:name], dcv_search_link, :title => 'Browse Content' %></h3></div>
                            </div>
                            <div id="proj-<%=proj_counter%>" class="hide">
                                <div style="color:black;padding:30px;font-size:110%;" itemprop="description"><%= digital_project[:description].html_safe %></div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="visible-xs">

                <% proj_counter += 1 %>
                <%= '<div class="clearfix"></div><br />'.html_safe if proj_counter % 4 == 0 %>
            <% end %>
                <% all_proj_counter += 1 %>
        <% end %>
    </div>
<% end %>

</div>

<div>
	<hr>
		<p class="small">Displaying <%= proj_counter %> Selected Collections of <%= all_proj_counter %> total Collections.</p>
</div>
