	<div id="digital_projects">
		<h2 class="hide">Projects</h2>
		<p><strong>Digital Library Collections</strong> is a gateway to many of the digital projects that Columbia University Libraries / Information Services has completed over the past ten years. Some of these projects are housed entirely within this site, while others have also been published as independent external exhibitions.  Below, you'll find everything that we offer.</p>

		<%
		per_row = 1
		col_size = 12/per_row
		col_counter = 0
		%>

		<% controller.digital_projects.each do |digital_project| %>
			<% if col_counter == 0 %>
				<br />
				<div class="row">
			<% end %>

			<div class="col-md-<%= col_size %>">

				<div class="row">
					<div class="col-sm-2">
						<% dcv_search_link = digital_project[:facet_value].present? ? search_action_path(:f => {'lib_project_sim' => [digital_project[:facet_value]]}) : nil %>
						<%= link_to image_tag('digital_projects_page/' + digital_project[:image], :class => 'thumbnail img-responsive'), (dcv_search_link.present? ? dcv_search_link : digital_project[:external_url]), :style => 'margin:0px auto;' %>

						<div class="aligncenter">
							<% if dcv_search_link.present? %>
								<small><%= link_to 'View Content', dcv_search_link %></small>
							<% end %>
							<% if dcv_search_link.present? && digital_project[:external_url].present? %>
								<br />
							<% end %>
							<% if digital_project[:external_url].present? %>
								<small><%= link_to 'Jump to Project Site', digital_project[:external_url] %></small>
							<% end %>
						</div>
					</div>
					<div class="col-sm-10">
						<h3><%= digital_project[:name] %></h3>
						<%= digital_project[:description] %>
					</div>
				</div>

			</div>

			<% col_counter += 1 %>
			<% if col_counter == per_row %>
				</div>
				<% col_counter = 0 %>
			<% end %>

		<% end %>
	</div>
