<div class="row" id="child_items">

	<div id="item-description" class="col-md-3">
		<%= render partial: 'sidebar_panels/item_map', locals: { document: document } %>
		<%= render partial: 'sidebar_panels/location_data', locals: { document: document } %>
		<%= render partial: 'sidebar_panels/links', locals: { document: document, configured_links: [:mods] } %>
	</div>

	<div class="col-md-9 ls-controls-dark">
		<%= render partial: 'content_aggregator/viewer_panel', locals: { document: document, use_unavailable_image_placeholder: false } %>
		<%= render partial: 'sidebar_panels/item_description', locals: { document: document, alignment: 'horizontal' } %>
	</div>

</div>
