<div class="row">
  <div id="sidebar" class="col-md-3">
    <div class="home inner"> 
       <div id="home-sidebar-news">
                  <h6>ABOUT THE NEW YORK COLLECTION</h6>
                  <p>Welcome to the Seymour B. Durst Old York Library Digital Library Collections (DLC) website.. <a href="#">Learn More &raquo;</a></p>

                  <hr>
                  <h6>RECENT NEWS<a class="small pull-right" href="https://blogs.cul.columbia.edu/avery">MORE &raquo;</a></h6>
                  <ul class="list-unstyled">
                  <li>
                    <a href="#">Exciting News Post Title 1</a> <br><small>MM/DD/YYYY</small><br>
                    <p>More New Content added..</p>
                  </li>
                  <li>
                    <a href="#">News Post Title 2</a> <br><small>MM/DD/YYYY</small><br>
                    <p>New Content added..</p> 
                  </li>
                  </ul>

                  <hr>
                  <h6>BROWSE BY</h6>
					<!-- TEMP CODE/TEMP PARTIAL. WILL BE DYNAMIC -->
				    <%= render :partial => 'temp_home_facets' %>
				    <!-- /TEMP CODE./TEMP PARTIAL WILL BE DYNAMIC -->
                  <div class="clearfix"></div>
       </div> 
    </div> 
  </div>

  <div id="content" class="col-md-6">

                        <div class="home inner">
                  <h6 class="">FIND BY LOCATION</h6>
                     <div id="mapholder-div">
					  <iframe id="durst_osm" class="hide" width="100%" height="420" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=-73.97026062011719%2C40.80313871105938%2C-73.95225763320923%2C40.81483234091447&amp;layer=mapnik&amp;marker=40.80899%2C-73.96125" style="border: 0"></iframe>
				      <a href="#" id="mapholder-link"><img id="mapholder" src="<%= asset_path("durst/durst_10272127_001.jpg") %>" alt="..."></a>
                        </div> 
                        </div> <!--/.inner-->
  </div>

  <div id="dhig" class="col-md-9 hide">
        <div class="home inner">
                <div id="imgholder-div" class="">
                    <div class="row">
                          <div class="col-xs-6 col-md-3">
                            <a href="#" class="thumbnail">
                              <img data-src="holder.js/100%x180" alt="100%x180" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNzEiIGhlaWdodD0iMTgwIj48cmVjdCB3aWR0aD0iMTcxIiBoZWlnaHQ9IjE4MCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9Ijg1LjUiIHk9IjkwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MTcxeDE4MDwvdGV4dD48L3N2Zz4=" style="height: 180px; width: 100%; display: block;">
                            </a>
                          </div>
                          <div class="col-xs-6 col-md-3">
                            <a href="#" class="thumbnail">
                              <img data-src="holder.js/100%x180" alt="100%x180" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNzEiIGhlaWdodD0iMTgwIj48cmVjdCB3aWR0aD0iMTcxIiBoZWlnaHQ9IjE4MCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9Ijg1LjUiIHk9IjkwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MTcxeDE4MDwvdGV4dD48L3N2Zz4=" style="height: 180px; width: 100%; display: block;">
                            </a>
                          </div>
                          <div class="col-xs-6 col-md-3">
                            <a href="#" class="thumbnail">
                              <img data-src="holder.js/100%x180" alt="100%x180" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNzEiIGhlaWdodD0iMTgwIj48cmVjdCB3aWR0aD0iMTcxIiBoZWlnaHQ9IjE4MCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9Ijg1LjUiIHk9IjkwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MTcxeDE4MDwvdGV4dD48L3N2Zz4=" style="height: 180px; width: 100%; display: block;">
                            </a>
                          </div>
                          <div class="col-xs-6 col-md-3">
                            <a href="#" class="thumbnail">
                              <img data-src="holder.js/100%x180" alt="100%x180" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNzEiIGhlaWdodD0iMTgwIj48cmVjdCB3aWR0aD0iMTcxIiBoZWlnaHQ9IjE4MCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9Ijg1LjUiIHk9IjkwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MTcxeDE4MDwvdGV4dD48L3N2Zz4=" style="height: 180px; width: 100%; display: block;">
                            </a>
                          </div>
                        </div><!--/row-->
                    <div class="row">
                          <div class="col-xs-6 col-md-3">
                            <a href="#" class="thumbnail">
                              <img data-src="holder.js/100%x180" alt="100%x180" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNzEiIGhlaWdodD0iMTgwIj48cmVjdCB3aWR0aD0iMTcxIiBoZWlnaHQ9IjE4MCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9Ijg1LjUiIHk9IjkwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MTcxeDE4MDwvdGV4dD48L3N2Zz4=" style="height: 180px; width: 100%; display: block;">
                            </a>
                          </div>
                          <div class="col-xs-6 col-md-3">
                            <a href="#" class="thumbnail">
                              <img data-src="holder.js/100%x180" alt="100%x180" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNzEiIGhlaWdodD0iMTgwIj48cmVjdCB3aWR0aD0iMTcxIiBoZWlnaHQ9IjE4MCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9Ijg1LjUiIHk9IjkwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MTcxeDE4MDwvdGV4dD48L3N2Zz4=" style="height: 180px; width: 100%; display: block;">
                            </a>
                          </div>
                          <div class="col-xs-6 col-md-3">
                            <a href="#" class="thumbnail">
                              <img data-src="holder.js/100%x180" alt="100%x180" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNzEiIGhlaWdodD0iMTgwIj48cmVjdCB3aWR0aD0iMTcxIiBoZWlnaHQ9IjE4MCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9Ijg1LjUiIHk9IjkwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MTcxeDE4MDwvdGV4dD48L3N2Zz4=" style="height: 180px; width: 100%; display: block;">
                            </a>
                          </div>
                          <div class="col-xs-6 col-md-3">
                            <a href="#" class="thumbnail">
                              <img data-src="holder.js/100%x180" alt="100%x180" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNzEiIGhlaWdodD0iMTgwIj48cmVjdCB3aWR0aD0iMTcxIiBoZWlnaHQ9IjE4MCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9Ijg1LjUiIHk9IjkwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MTcxeDE4MDwvdGV4dD48L3N2Zz4=" style="height: 180px; width: 100%; display: block;">
                            </a>
                          </div>
                        </div><!--/row-->
                </div><!--imgholder-->
        </div><!--/home-->
  </div><!--/dhig-->
  <div id="dhss" class="col-md-3">
        <div class="home inner">
                <h6 class="">FIND BY IMAGE TYPE</h6>
			    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			    <!-- Wrapper for slides -->
				  <div class="carousel-inner">
					<div class="item active">
					  <div class="dhp-img-holder" style="background-image:url(<%= asset_path("durst/Durst019-lr.jpg") %>);"></div>
					</div>
					<div class="item">
					  <div class="dhp-img-holder" style="background-image:url(<%= asset_path("durst/cathedralofcomme00coch_1_0001.jpg") %>);"></div>
					</div>
					<div class="item">
					  <div class="dhp-img-holder" style="background-image:url(<%= asset_path("durst/guidetonewyorkaq00dorn_0001.jpg") %>);"></div>
					</div>
					<div class="item">
					  <div class="dhp-img-holder" style="background-image:url(<%= asset_path("durst/radiocitytheatre00roth_0001.jpg") %>);"></div>
					</div>
				  </div>
			     </div>
        </div> <!--/.inner-->
   </div><!--/#dhss-->

</div>
