<div class="row">
  <div id="sidebar" class="col-md-3">
    <div class="home inner">
       <div id="home-sidebar-news">
                  <h6>ABOUT THE NEW YORK COLLECTION</h6>
                  <p>Welcome to the Seymour B. Durst Old York Library Digital Library Collections (DLC) website.. <a href="#">Learn More &raquo;</a></p>

                  <hr>
                  <h6>RECENT NEWS<a class="small pull-right" href="https://blogs.cul.columbia.edu/avery">MORE &raquo;</a></h6>
                  <ul class="list-unstyled">
                  <li>
                    <a href="#">Exciting News Post Title 1</a> <br><small>MM/DD/YYYY</small><br>
                    <p>More New Content added..</p>
                  </li>
                  <li>
                    <a href="#">News Post Title 2</a> <br><small>MM/DD/YYYY</small><br>
                    <p>New Content added..</p>
                  </li>
                  </ul>

                  <hr>
                  <h6>FIND BY</h6>
									<%= render partial: 'search_sidebar', locals: {hide_refine_heading: true} %>
                  <div class="clearfix"></div>
       </div>
    </div>
  </div>

  <div id="content" class="col-md-6">

                    <div class="home inner">
					  <h6 class="">FIND BY LOCATION</h6>

						<div id="mapholder-div">

							<script>
								DCV.mapPlanes = <%= get_coordinate_data_for_document_list(@document_list).to_json.html_safe %>;
								DCV.centerLat = 40.7730;
								DCV.centerLong = -73.8402;
							</script>

							  <div id="durst_osm" class="hidden"></div>
							  <a href="#" id="mapholder-link"><img id="mapholder" src="<%= asset_path("durst/durst_10272127_001.jpg") %>" alt="..."></a>
						</div>
                    </div> <!--/.inner-->
  </div>

  <div id="dhig" class="col-md-9 hidden">
        <div class="home inner">
                <h6 class="">FIND IMAGES</h6>
                <div id="imgholder-div" class="">
                    <div class="row">
                          <div class="col-sm-6">
                            <a href="/durst?f%5Blib_format_sim%5D%5B%5D=books" class="thumbnail"> 
                              <h3>BOOKS</h3>
                              <img alt="books" style="max-height:256px;" src="<%= asset_path("book-placeholder.png") %>">
                            </a>
                          </div>
                          <div class="col-sm-6">
                            <a href="/durst?f%5Blib_format_sim%5D%5B%5D=prints" class="thumbnail"> 
                              <h3>PRINTS</h3>
                              <img alt="prints" src="<%= asset_path("durst/durst_10570981_001.jpg") %>">
                            </a>
                          </div>
                    </div><!--/row-->
                    <div class="row">
                          <div class="col-sm-6">
                            <a href="/durst?f%5Blib_format_sim%5D%5B%5D=objects" class="thumbnail"> 
                              <h3>OBJECTS</h3>
                              <img alt="objects" src="<%= asset_path("durst/durst_10609822_001.jpg") %>">
                            </a>
                          </div>
                          <div class="col-sm-6">
                            <a href="/durst?f%5Blib_format_sim%5D%5B%5D=postcards" class="thumbnail"> 
                              <h3>POSTCARDS</h3>
                              <img alt="postcards" src="<%= asset_path("durst/6087.jpg") %>">
                            </a>
                          </div>
                        </div><!--/row-->
                </div><!--imgholder-->
        </div><!--/home-->
  </div><!--/dhig-->
  <div id="dhss" class="col-md-3">
        <div class="home inner">
                <h6 class="">FIND IMAGES</h6>
			    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			    <!-- Wrapper for slides -->
				  <div class="carousel-inner">
					<div class="item active">
					  <div class="dhp-img-holder" style="background-image:url(<%= asset_path("durst/Durst019-lr.jpg") %>);"></div>
					</div>
					<div class="item">
					  <div class="dhp-img-holder" style="background-image:url(<%= asset_path("durst/cathedralofcomme00coch_1_0001.jpg") %>);"></div>
					</div>
					<div class="item">
					  <div class="dhp-img-holder" style="background-image:url(<%= asset_path("durst/guidetonewyorkaq00dorn_0001.jpg") %>);"></div>
					</div>
					<div class="item">
					  <div class="dhp-img-holder" style="background-image:url(<%= asset_path("durst/radiocitytheatre00roth_0001.jpg") %>);"></div>
					</div>
				  </div>
                  <a class="hidden left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left"></span>
                  </a>
                  <a class="hidden right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right"></span>
                  </a>
			     </div>
        </div> <!--/.inner-->
   </div><!--/#dhss-->

</div>
