<div class="row">
  <div id="sidebar" class="col-md-3">
    <div class="home inner">
       <div id="home-sidebar-news">
                  <h6>ABOUT THE OLD YORK COLLECTION</h6>
                  <p>The Seymour B. Durst Old York Library collection at the <a href="http://library.columbia.edu/indiv/avery/">Avery Architectural &amp; Fine Arts Library</a> consists of more than 40,000 objects including historic photographs, maps, pamphlets, postcards, books, and New York City memorabilia from the 18th century to the 1980s. <a href="#">Learn More &raquo;</a></p>

                  <hr>
                  <a style="font-size:90%" href="<%= durst_blank_search_url %>">BROWSE ALL &raquo;</a>
                  <hr>

                  <h6 class="pull-left">FIND BY</h6>
									<%= render partial: 'search_sidebar', locals: {hide_refine_heading: true} %>
                  <div class="clearfix"></div>
       </div>
    </div>
  </div>

  <div id="content" class="col-md-6">

		<div class="home inner">
			<h6 class="">FIND BY LOCATION</h6>
			<div id="mapholder-div">
				<a href="<%= durst_map_search_path %>" id="mapholder-link"><img id="mapholder" src="<%= asset_path("durst/durst_10272127_001.jpg") %>" alt="..."></a>
			</div>
    </div> <!--/.inner-->
  </div>

  <div id="dhss" class="col-md-3">
        <div class="home inner">
                <h6 class="">FIND IMAGES</h6>
			    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-format-search-url="<%= durst_image_search_url %>">
			    <!-- Wrapper for slides -->
				  <div class="carousel-inner">
					<div class="item active">
					  <div class="dhp-img-holder" style="background-image:url(<%= asset_path("durst/Durst019-lr.jpg") %>);"></div>
					</div>
					<div class="item">
					  <div class="dhp-img-holder" style="background-image:url(<%= asset_path("durst/cathedralofcomme00coch_1_0001.jpg") %>);"></div>
					</div>
					<div class="item">
					  <div class="dhp-img-holder" style="background-image:url(<%= asset_path("durst/guidetonewyorkaq00dorn_0001.jpg") %>);"></div>
					</div>
					<div class="item">
					  <div class="dhp-img-holder" style="background-image:url(<%= asset_path("durst/radiocitytheatre00roth_0001.jpg") %>);"></div>
					</div>
				  </div>
                  <a class="hidden left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left"></span>
                  </a>
                  <a class="hidden right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right"></span>
                  </a>
			     </div>
        </div> <!--/.inner-->
   </div><!--/#dhss-->

</div>
