<div class="row">
  <div id="nav" class="col-md-12">
    <%= render 'sort_and_per_page' %>
  </div>
	<div id="sidebar" class="col-md-3">
		<div class="inner">
			<%= render 'search_sidebar' %>
		</div>
		<div class="inner" style="margin-top:1em;">
			<script>
				DCV.centerLat = 40.7400;
				DCV.centerLong = -73.9802;
				DCV.mapPlanes = <%= get_coordinate_data_for_document_list(@document_list).to_json.html_safe %>;
			</script>
		  <!--<iframe id="durst_osm" width="100%" height="240" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=-73.97026062011719%2C40.80313871105938%2C-73.95225763320923%2C40.81483234091447&amp;layer=mapnik&amp;marker=40.80899%2C-73.96125" style="border: 0"></iframe> -->
			<div id="durst_osm" style="height:250px;width:100%;"></div>
		  <div class="clearfix"></div>
		</div>
	</div>

	<div id="content" class="col-md-9">

		<div class="inner">

		<% unless has_search_parameters? %>
			Perform a search by typing something into the box above or selecting one of the lefthand facets!
		<% else %>

			<h2 class="sr-only top-content-title"><%= t('blacklight.search.search_results_header') %></h2>

			<% @page_title = t('blacklight.search.title', :application_name => application_name) %>

			<% content_for(:head) do -%>
			<%= render_opensearch_response_metadata %>
			<%= auto_discovery_link_tag(:rss, url_for(params.merge(:format => 'rss')), :title => t('blacklight.search.rss_feed') ) %>
			<%= auto_discovery_link_tag(:atom, url_for(params.merge(:format => 'atom')), :title => t('blacklight.search.atom_feed') ) %>
			<% end -%>

			<%= render 'search_header' %>

			<h2 class="sr-only"><%= t('blacklight.search.search_results') %></h2>

			<div id="search-result-container">
				<div>

					<%- if @response.empty? %>
						<%= render "zero_results" %>
					<%- else %>
						<%- if render_grouped_response? %>
							<%= render_grouped_document_index %>
						<%- else %>
							<%= render_document_index %>
						<%- end %>
					<%- end %>
				</div>
			</div>

			<%= render 'results_pagination' %>

		<% end %>

		</div> <!--/.inner-->

	</div>

</div>
