<div class="row">
  <div id="nav" class="col-md-12">
    <%= render 'sort_and_per_page' %>
  </div>
	<div id="sidebar" class="col-md-3">
		<div class="inner">
			<%= render 'search_sidebar' %>
		</div>
		<div class="inner" style="margin-top:1em;">
			<% if @document_list.length > 0 %>
				<h6 class="nomar-t">Mapped Results:
								<%= (@response.params[:start].to_i + 1).to_s + ' - ' + 
								(@response.params[:start].to_i + @document_list.length).to_s  %>
				</h6>
			<% end %>
			<script>
				DCV.centerLat = <%= params[:lat].present? ? params[:lat] : 'null' %>;
				DCV.centerLong = <%= params[:long].present? ? params[:long] : 'null' %>;
				DCV.mapPlanes = <%= get_map_data_for_document_list(@document_list).to_json.html_safe %>;
				DCV.mapCoordinateSearchUrl = '<%= CGI.escape(url_for(params.merge(:lat => '_lat_', :long => '_long_', :search_field => params[:search_field] || 'all_text_teim', :q => params[:q] || ''))) %>';
			</script>
		  <!--<iframe id="durst_osm" width="100%" height="240" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=-73.97026062011719%2C40.80313871105938%2C-73.95225763320923%2C40.81483234091447&amp;layer=mapnik&amp;marker=40.80899%2C-73.96125" style="border: 0"></iframe> -->
			<div id="durst_osm"></div>
		  <div class="clearfix"></div>
		</div>
	</div>

	<div id="content" class="col-md-9">

		<div class="inner">

		<% unless has_search_parameters? %>
			Perform a search by typing something into the box above or selecting one of the lefthand facets!
		<% else %>

			<h2 class="sr-only top-content-title"><%= t('blacklight.search.search_results_header') %></h2>

			<% @page_title = t('blacklight.search.title', :application_name => application_name) %>

			<% content_for(:head) do -%>
			<%= render_opensearch_response_metadata %>
			<%= auto_discovery_link_tag(:rss, url_for(params.merge(:format => 'rss')), :title => t('blacklight.search.rss_feed') ) %>
			<%= auto_discovery_link_tag(:atom, url_for(params.merge(:format => 'atom')), :title => t('blacklight.search.atom_feed') ) %>
			<% end -%>

			<%= render 'search_header' %>

			<h2 class="sr-only"><%= t('blacklight.search.search_results') %></h2>

			<div id="search-result-container">
				<div>

					<%- if @response.empty? %>
						<%= render "zero_results" %>
					<%- else %>
						<%- if render_grouped_response? %>
							<%= render_grouped_document_index %>
						<%- else %>
							<%= render_document_index %>
						<%- end %>
					<%- end %>

                    <div id="extended-search-results" class="hidden">
                        <div class="row">
<div class="col-sm-12">
  <h4>Search Other Sources for: <span class="text-danger"><%=params[:q]%></span></h4>
  <p>Try your search in one of these related resources. (Search results will display in a new window.)</p>
  <hr>
	  <ul class="list-unstyled">
	    <li style="margin-bottom:.95em;"><a class="btn btn-lg btn-link pull-right" data-target="blank" href="http://ezproxy.cul.columbia.edu/login?url=http://search.ebscohost.com/login.aspx?direct=true&amp;db=bvh&amp;bquery=<%=params[:q]%>&amp;type=1&amp;site=ehost-live&amp;scope=site" target="_blank"><span class="glyphicon glyphicon-new-window text-danger"></span></a>
         <a data-target="blank" href="http://ezproxy.cul.columbia.edu/login?url=http://search.ebscohost.com/login.aspx?direct=true&amp;db=bvh&amp;bquery=<%=params[:q]%>" target="_blank">Avery Index to Architectural Periodicals</a> <span class="glyphicon glyphicon-lock text-muted small"></span><br>
		<span>A comprehensive listing of journal articles published worldwide on architecture and design, archaeology, city planning, interior design, landscape architecture, and historic preservation.</span>
       </li>
	    <li style="margin-bottom:.95em;"><a class="btn btn-lg btn-link pull-right" data-target="blank" href="http://brooklynhistory.pastperfect-online.com/35872cgi/mweb.exe?request=keyword;keyword=<%=params[:q]%>;dtype=d" target="_blank"><span class="glyphicon glyphicon-new-window text-danger"></span></a>
         <a data-target="blank" href="http://brooklynhistory.pastperfect-online.com/35872cgi/mweb.exe?request=keyword;keyword=<%=params[:q]%>;dtype=d" target="_blank">Brooklyn Historical Society Photography Collection</a><br>
		<span>Search for individual photographs. Approximately 5,000 of our images are currently available online, but more images are added regularly.</span>
       </li>
	    <li style="margin-bottom:.95em;"><a class="btn btn-lg btn-link pull-right" data-target="blank" href="http://catalog.brooklynpubliclibrary.org/search/X?SEARCH=<%=params[:q]%>&amp;m=k&amp;searchscope=64&amp;SORT=D" target="_blank"><span class="glyphicon glyphicon-new-window text-danger"></span></a>
         <a data-target="blank" href="http://catalog.brooklynpubliclibrary.org/search/X?SEARCH=<%=params[:q]%>&amp;m=k&amp;searchscope=64&amp;SORT=D" target="_blank">Brooklyn Public Library: Historic Brooklyn Photographs</a><br>
		<span>Selection of more than ten thousand historic photographs from the Brooklyn Collection.</span>
       </li>
	    <li style="margin-bottom:.95em;"><a class="btn btn-lg btn-link pull-right" data-target="blank" href="http://clio.columbia.edu/quicksearch?q=<%=params[:q]%>&amp;commit=Search" target="_blank"><span class="glyphicon glyphicon-new-window text-danger"></span></a>
         <a data-target="blank" href="http://clio.columbia.edu/quicksearch?q=<%=params[:q]%>&amp;commit=Search" target="_blank">CLIO: Columbia Libraries Catalog</a><br>
		<span>Search for books, articles, journals, online resources and more.</span>
       </li>
	    <li style="margin-bottom:.95em;"><a class="btn btn-lg btn-link pull-right" data-target="blank" href="https://dlc.library.columbia.edu/catalog?utf8=%E2%9C%93&amp;search_field=all_text_teim&amp;q=<%=params[:q]%>" target="_blank"><span class="glyphicon glyphicon-new-window text-danger"></span></a>
         <a data-target="blank" href="https://dlc.library.columbia.edu/catalog?utf8=%E2%9C%93&amp;search_field=all_text_teim&amp;q=<%=params[:q]%>" target="_blank">DLC: Columbia Libraries Digital Collections</a><br>
		<span>A gateway to digital projects and online exhibitions that have been published on the web by Columbia University Libraries<span style="padding:0 2px;">/</span>Information Services (CUL/IS).</span>
       </li>
	    <li class="hidden" style="margin-bottom:.95em;"><span class="btn btn-lg btn-link btn-disabled pull-right" data-target="blank" href="http://collections.mcny.org/C.aspx?VP3=SearchResult&amp;VBID=24UAYW7KC9HP&amp;SMLS=1&amp;RW=1603&amp;RH=872" target="_blank"><span class="glyphicon glyphicon-new-window text-muted"></span></span>
         <span data-target="blank" href="http://collections.mcny.org/C.aspx?VP3=SearchResult&amp;VBID=24UAYW7KC9HP&amp;SMLS=1&amp;RW=1603&amp;RH=872" target="_blank">Museum of the City of New York</span><br>
		<span>Over 150,000 images and objects from the collections of the Museum of the City of New York. <small class="text-muted"><br>Note: to come.</small></span>
       </li>
        <li style="margin-bottom:.95em;">
	   <a class="btn btn-lg btn-link pull-right" data-target="blank" href="http://www.nyhistory.org/search/node/<%=params[:q]%>" target="_blank"><span class="glyphicon glyphicon-new-window text-danger"></span></a>
        <a data-target="blank" href="http://www.nyhistory.org/search/node/<%=params[:q]%>" target="_blank">New York Historical Society</a><br>
       <span>Digital images from the library and museum collections.</span>
        </li>
	    <li style="margin-bottom:.95em;"><a class="btn btn-lg btn-link pull-right" data-target="blank" href="http://digitalgallery.nypl.org/nypldigital/dgkeysearchresult.cfm?keyword=<%=params[:q]%>&amp;submit.x=0&amp;submit.y=0" target="_blank"><span class="glyphicon glyphicon-new-window text-danger"></span></a>
         <a data-target="blank" href="http://digitalgallery.nypl.org/nypldigital/dgkeysearchresult.cfm?keyword=<%=params[:q]%>&amp;submit.x=0&amp;submit.y=0" target="_blank">NYPL Digital Collections</a><br>
		<span>Provides free and open access to over 800,000 images digitized from the The New York Public Library's vast collections.</span>
       </li>
	</ul>
</div>
                        </div>
                    </div>
				</div>
			</div>

			<%= render 'results_pagination' %>

		<% end %>

		</div> <!--/.inner-->

	</div>

</div>
