<div id="content">
	<h2>Old York Library Collection Categories</h2>
	<p>
	In order to facilitate access to his extensive collection, Mr. Durst designed a custom classification system using thematic groupings that reflected his particular interests and provide a window into his collecting philosophy. These categories are listed below, with explanations obtained from original Old York Library cataloging instructions.
	</p>


<ul id="motm-list" class="list-unstyled">
<li><%= link_to('Art (Theater)', durst_subject_search_url('Art (Theater)')) %> - Theatre histories, vaudeville, plays, programs, scrapbooks.</li>

<li><%= link_to('Atlas', durst_subject_search_url('Atlas')) %> - Books containing maps/streets indices. Most are oversize books.</li>

<li><%= link_to('Bibliography', durst_subject_search_url('Bibliography')) %> - Bibliographies, books about books, bookstores, book personalities &amp; libraries. Issues about the handling and care of books.</li>

<li><%= link_to('Biography', durst_subject_search_url('Biography')) %>
<ul>
<li><%= link_to('Biography (Diary)', durst_subject_search_url('Biography (Diary)')) %></li>
<li><%= link_to('Biography (Genealogy)', durst_subject_search_url('Biography (Genealogy)')) %></li>
<li><%= link_to('Biography (Multiple)', durst_subject_search_url('Biography (Multiple)')) %></li>
<li><%= link_to('Biography (Reminiscences)', durst_subject_search_url('Biography (Reminiscences)')) %></li>
</ul>
</li>

<li><%= link_to('Broadway', durst_subject_search_url('Broadway')) %> - Books about the thoroughfare. Some of these books are particularly interesting visually. </li>

<li><%= link_to('Brown, Henry Collins', durst_subject_search_url('Brown, Henry Collins')) %> - Because there are so many books by this noted NYC historian, a shelf was reserved for him. </li>

<li><%= link_to('Celebration', durst_subject_search_url('Celebration')) %> - Special events such as building/statue dedications, Hudson-Fulton Celebration, tributes. </li>

<li><%= link_to('Cities', durst_subject_search_url('Cities')) %></li>

<li><%= link_to('Commerce', durst_subject_search_url('Commerce')) %> - Markets &amp; economies, industries, trades, retain stores, unions, labor, some relevant biographies.
<ul>
<li><%= link_to('Commerce (Finance)', durst_subject_search_url('Commerce (Finance)')) %></li>
<li><%= link_to('Commerce (Legal)', durst_subject_search_url('Commerce (Legal)')) %></li>
<li><%= link_to('Commerce (Real Estate)', durst_subject_search_url('Commerce (Real Estate)')) %></li>
</ul>
</li>

<li><%= link_to('Directory', durst_subject_search_url('Directory')) %></li>

<li><%= link_to('Economy', durst_subject_search_url('Economy')) %></li>

<li><%= link_to('Education', durst_subject_search_url('Education')) %></li>

<li><%= link_to('Environment', durst_subject_search_url('Environment')) %> - Wildlife, geology, quality of life issues like noise and population.
<ul>
<li><%= link_to('Environment (Archeology)', durst_subject_search_url('Environment (Archeology)')) %> - Small section, a few papers related to the African-American burial grounds. </li>
<li><%= link_to('Environment (Hudson)', durst_subject_search_url('Environment (Hudson)')) %> - View books, predominantly about excursions along the eponymous river. </li>
<li><%= link_to('Environment (Parks)', durst_subject_search_url('Environment (Parks)')) %> - NYC parks, government reports, and relevant biographies. Special section devoted to Central Park and Frederick L. Olmsted. </li>
</ul>
</li>

<li><%= link_to('Ethnic', durst_subject_search_url('Ethnic')) %> - In depth look at various Ethnic groups making up NYC, including its first inhabitants, Native Americans, up through the waves of recent Caribbean immigrations. (This was one of the subjects that SBD collected new books actively.) </li>

<li><%= link_to('Events (Celebration)', durst_subject_search_url('Events (Celebration)')) %></li>

<li><%= link_to('Fiction', durst_subject_search_url('Fiction')) %></li>

<li><strong>Geography</strong> - Geography is grouped by borough, and within each borough, by neighborhoods or areas. 
<ul>
<li><%= link_to('Geography (Bronx)', durst_subject_search_url('Geography (Bronx)')) %></li>
<li><%= link_to('Geography (Brooklyn)', durst_subject_search_url('Geography (Brooklyn)')) %></li>
<li><%= link_to('Geography (Islands)', durst_subject_search_url('Geography (Islands)')) %> - This includes Ellis, Gardiner, Governor, Roosevelt/Welfare/Blackwell's, Shelter. </strong></li>
<li><%= link_to('Geography (Long Island)', durst_subject_search_url('Geography (Long Island)')) %> - Nassau and Suffolk Counties </strong></li>
<li><%= link_to('Geography (Manhattan)', durst_subject_search_url('Geography (Manhattan)')) %></li>
<li><%= link_to('Geography (Miscellaneous)', durst_subject_search_url('Geography (Miscellaneous)')) %> - Geography not specific to NYC, but includes adjacent regions of NJ, and a couple of things about Cuba, the Philippines and several foreign cities </li>
<li><%= link_to('Geography (New York State)', durst_subject_search_url('Geography (New York State)')) %> - Areas in NYS that are note considered suburbs of NYC. </li>
<li><%= link_to('Geography (Queens)', durst_subject_search_url('Geography (Queens)')) %></li>
<li><%= link_to('Geography (Staten Island)', durst_subject_search_url('Geography (Staten Island)')) %></li>
<li><%= link_to('Geography (Suburban)', durst_subject_search_url('Geography (Suburban)')) %> - This is made up of Rockland and Westchester Counties. </li>
<li><%= link_to('Geography (City)', durst_subject_search_url('Geography (City)')) %></li>
<li><%= link_to('Geography (National)', durst_subject_search_url('Geography (National)')) %></li>
<li><%= link_to('Geography (State)', durst_subject_search_url('Geography (State)')) %></li>
</ul>
</li>

<li><strong>Government</strong>
<ul>
<li><%= link_to('Government (City)', durst_subject_search_url('Government (City)')) %></li>
<li><%= link_to('Government (National)', durst_subject_search_url('Government (National)')) %></li>
<li><%= link_to('Government (State)', durst_subject_search_url('Government (State)')) %></li>
</ul>
</li>

<li><%= link_to('Green, Andrew H.', durst_subject_search_url('Green, Andrew H.')) %> - SBD's personal grouping of titles related to AHG. </li>

<li><%= link_to('Guides', durst_subject_search_url('Guides')) %> - The guides are grouped into more than 14 topics: athletic, budget, general, cookbooks-food, entertainment-nightlife, ethnic-minority, parking, et al. </li>

<li><%= link_to('Hall of Fame', durst_subject_search_url('Hall of Fame')) %> - These books represent the "makers" of NY: Belmont, Jervis, Roebling, etc. and works about specific building or engineering accomplishments. </li>

<li><strong>History</strong>
<ul>
<li><%= link_to('History (Old)', durst_subject_search_url('History (Old)')) %> - 19th C. </li>
<li><%= link_to('History (Old, Colonial)', durst_subject_search_url('History (Old, Colonial)')) %></li>
<li><%= link_to('History (Old, New Netherlands)', durst_subject_search_url('History (Old, New Netherlands)')) %></li>
<li><%= link_to('History (Old, Revolutionary)', durst_subject_search_url('History (Old, Revolutionary)')) %></li>
<li><%= link_to('History (Recent)', durst_subject_search_url('History (Recent)')) %> - 20th C. or post-WWI </li>
</ul>
</li>

<li><%= link_to('Humor', durst_subject_search_url('Humor')) %></li>

<li><strong>Infrastructure</strong>
<ul>
<li><%= link_to('Infrastructure (Bridge)', durst_subject_search_url('Infrastructure (Bridge)')) %> - Bridges &amp; Tunnels. Brooklyn Bridge, George Washington, Holland Tunnel, Lincoln Tunnel et al. </li>
<li><%= link_to('Infrastructure (Canal)', durst_subject_search_url('Infrastructure (Canal)')) %> - Canals and Waterways. Mostly Erie. </li>
<li><%= link_to('Infrastructure (Port)', durst_subject_search_url('Infrastructure (Port)')) %> - Port/Port Authority. </li>
<li><%= link_to('Infrastructure (Transportation)', durst_subject_search_url('Infrastructure (Transportation)')) %> - Airports, Ferries-Ships, Highways-Roads, Railroads, Subways, Taxis, etc. </li>
<li><%= link_to('Infrastructure (Utilities)', durst_subject_search_url('Infrastructure (Utilities)')) %> - Gas, phone and underground maintenance. </li>
<li><%= link_to('Infrastructure (Water)', durst_subject_search_url('Infrastructure (Water)')) %> - Drinking Water Supply. Croton reservoir, the Catskill watershed and statistics. </li>
</ul>
</li>

<li><%= link_to('Institution', durst_subject_search_url('Institution')) %> - Welfare, philanthropic, histories about various financial institutions (mostly banks, and NYSE). 
<ul>
<li><%= link_to('Institution (Club)', durst_subject_search_url('Institution (Club)')) %> - Union League Club, Century Club, Harmonie, Knickerbocker, "21", etc. </li>
<li><%= link_to('Institution (Sport)', durst_subject_search_url('Institution (Sport)')) %> - Sports clubs/teams, personalities, baseball, boxing, tennis, racing, etc. </li>
</ul>
</li>

<li><%= link_to('International', durst_subject_search_url('International')) %> - International Architecture. </li>

<li><%= link_to('Juvenile', durst_subject_search_url('Juvenile')) %> - Books for children. </li>

<li><%= link_to('King, Moses', durst_subject_search_url('King, Moses')) %></li>

<li><%= link_to('Literature ', durst_subject_search_url('Literature')) %>
<ul>
<li><%= link_to('Literature (Anthology)', durst_subject_search_url('Literature (Anthology)')) %> - Books that contain collections of one or several authors. </li>
</ul>
</li>

<li><%= link_to('Map', durst_subject_search_url('Map')) %> - Oversize maps, atlases, or maps folded into books.</li> 

<li><%= link_to('Medical', durst_subject_search_url('Medical')) %> - Medical History/Medicine. Hospitals, epidemic histories, public health.</li>

<li><%= link_to('Military', durst_subject_search_url('Military')) %> - Military history.</li>

<li><%= link_to('New York Historical Society', durst_subject_search_url('New York Historical Society')) %> - Collected publications and discourses; most relate to early NYC history. </li>

<li><%= link_to('Periodicals', durst_subject_search_url('Periodicals')) %></li>

<li><%= link_to('Personal', durst_subject_search_url('Personal')) %> - SBD's choice of books to have in his room and those works that he referred to regularly. </li>

<li><%= link_to('Photography', durst_subject_search_url('Photography')) %> - Books that were primarily in the Pictorial room, which are all photographs or where photography is the main type of illustration within the book. 
<ul>
<li><%= link_to('Photography (Art, City Architecture)', durst_subject_search_url('Photography (Art, City Architecture)')) %></li>
</ul>
</li>

<li><%= link_to('Pictorial', durst_subject_search_url('Pictorial')) %> - Books whose illustrations are not primarily photographic in nature.</li>

<li><%= link_to('Place', durst_subject_search_url('Place')) %> - Specific locales in NYC. E.g., famous restaurants, hotels, the U.N., sites.</li>

<li><strong>Planning</strong> - Urban planning issues. Predominantly NYC, but includes books about the Northeast 
<ul>
<li><%= link_to('Planning (Housing)', durst_subject_search_url('Planning (Housing)')) %> - Covers many aspects of housing in NYC: availability statistics, legal issues, In Rem, subsidized housing. </li>
<li><%= link_to('Planning (Zoning)', durst_subject_search_url('Planning (Zoning)')) %></li>
</ul>
</li>

<li><%= link_to('Politics', durst_subject_search_url('Politics')) %> - NYC politicians and much on Tammany Hall. Many are biographies. </li>

<li><%= link_to('Postcards', durst_subject_search_url('Postcards')) %> - Books with reprinted collected postcards, some of which tear out for mailing. </li>

<li><strong>Press</strong> - Press, media, journalism, and printing trades 
<ul>
<li><%= link_to('Press (Planning)', durst_subject_search_url('Press (Planning)')) %></li>
<li><%= link_to('Press (Periodical)', durst_subject_search_url('Press (Periodical)')) %> - Bound periodicals </li>
</ul>
</li>

<li><%= link_to('Reference', durst_subject_search_url('Reference')) %></li>

<li><%= link_to('Religion', durst_subject_search_url('Religion')) %> - Histories of various "houses of worship," congregations and orders. </li>

<li><%= link_to('Riis, Jacob A.', durst_subject_search_url('Riis, Jacob A.')) %> - Special personal collection of SBD.</li>

<li><%= link_to('Seymour B. Durst (as subject)', durst_subject_search_url('Seymour B. Durst (as subject)')) %> - Books written by or inscribed to; and other favorites </li>

<li><%= link_to('Social Services', durst_subject_search_url('Social Services')) %> - Sociology &amp; Social Welfare. Social conditions, public welfare institutions, studies. </li>

<li><%= link_to('Society', durst_subject_search_url('Society')) %> - Class and society notables. Some "blue" books and various registers.</li>

<li><%= link_to('Statue of Liberty', durst_subject_search_url('Statue of Liberty')) %></li>
<li><%= link_to('Text', durst_subject_search_url('Text')) %> - Text books. This ranges from early American to mid-20th C.</li>

<li><%= link_to('Times Square', durst_subject_search_url('Times Square')) %> -Works whose content is considered more a part of the "state of being" Times Square and less about its "geographical nature." </li>

<li><%= link_to('Travel & Voyages', durst_subject_search_url('Travel & Voyages')) %> - The books of explorers and settlers. </li>

<li><%= link_to('Unbuilt', durst_subject_search_url('Unbuilt')) %> - NYC architectural ideas or plans that were never actualized. </li>

<li><%= link_to('Views', durst_subject_search_url('Views')) %> - NYC illustrations, photographs, posters. </li>

<li><%= link_to("World's Fair", durst_subject_search_url("World's Fair")) %> - This includes the 1939 and 1964 World's Fairs in NYC and a few items relating to the NY Exposition at the Crystal Palace in 1853 &amp; Columbia Exposition of 1893. </li>

<li><%= link_to('Women', durst_subject_search_url('Women')) %> - Histories by and/or about women.</li>
<li><%= link_to('Zoning', durst_subject_search_url('Zoning')) %> - Part of planning. </li>
</ul>


</div>
