<div class="inner" <%= "style=\"margin-top:1em;\"".html_safe if @alignment != 'vertical' %>>
	<dl class="dl-<%= @alignment %>">
		<% @document_presenter.fields_to_render.each do |solr_fname, field, field_presenter| %>
			<dt class="blacklight-<%= solr_fname.parameterize %>"><%= field_presenter.label('show') %></dt>
			<% Array(@document_presenter.field_value field).each do |field_value| -%>
				<dd class="blacklight-<%= solr_fname.parameterize %>"><%= field_value %></dd>
			<% end -%>
		<% end %>
		<% @citation_presenter.fields_to_render.each do |solr_fname, field, field_presenter| %>
			<dt class="blacklight-<%= solr_fname.parameterize %>"><%= field_presenter.label('show') %></dt>
			<% Array(@citation_presenter.field_value field).each do |field_value| -%>
				<dd class="blacklight-<%= solr_fname.parameterize %>"><%= field_value %></dd>
			<% end -%>
		<% end %>
	</dl>
	<% @link_helpers.each do |link_helper| %>
		<%= send link_helper, @document %>
	<% end %>
</div>
