<div class="row">
  <div id="nav" class="col-md-12">
  </div>
	<div id="sidebar" class="col-md-3">
		<%= render 'project_sidebar' %>
		<div class="inner" style="margin-top:1em;">
			<%= render 'mapped_results_sidebar' %>
		</div>
	</div>

	<div id="content" class="col-md-9">

		<div class="inner">

			<h2 class="sr-only top-content-title"><%= application_name %></h2>

			<% @page_title = t('blacklight.search.title', :application_name => application_name) %>

			<% content_for(:head) do -%>
				<%= render Dcv::Search::OpenSearchMetadataComponent.new(response: @response) %>
			<% end -%>

			<%= render 'search_header' %>

			<div id="search-result-container">
				<div>

					<%- if @response.empty? %>
						<%= render "zero_results" %>
					<%- else %>
						<%= render_document_index @response.documents %>
					<%- end %>
				</div>
			</div>

			<%= render 'results_pagination' %>


		</div> <!--/.inner-->

	</div>

</div>
