<div id="child-viewer-carousel" class="carousel slide" data-ride="false">

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox" aria-label="Carousel slides">
    <% archive_org_identifiers_as_children.each_with_index do |child, ix| %>
      <% child_title = child[:title].present? ? child[:title].strip : '' %>
      <div class="carousel-item <%= ix == 0 ? 'active' : '' %>"
        role="option" 
        data-child-number="<%= ix %>"
        data-child-title="<%= child_title == parent_title || child_title.blank? ? '&nbsp'.html_safe : h(child_title) %>"
        >
        <div class="child-content">
          <% dc_type_string = child[:dc_type].present? ? child[:dc_type].underscore.gsub(/\s+/, '_') : '' %>
          <% if ['sound', 'moving_image', 'software'].include?(dc_type_string) %>
            <%= render partial: "shared/content_aggregator/child_viewer/#{dc_type_string}", locals: { child: child } %>
          <% else %>
            <%= render partial: "shared/content_aggregator/child_viewer/archive_org", locals: { child: child, document: document, child_index: ix } %>
          <% end %>
        </div>
        <%= render partial: 'content_aggregator/disclaimer', locals: { document: document, asset: child.to_h.with_indifferent_access } %>
      </div>
    <% end %>
  </div>

  <!-- Controls -->
  <a class="left carousel-control-prev" href="#child-viewer-carousel" role="button" data-slide="prev">
    <span class="fa fa-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control-next" href="#child-viewer-carousel" role="button" data-slide="next">
    <span class="fa fa-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<p class="aligncenter"> <a id="child-viewer-object-in-context" target="_blank">&nbsp;</a></p>

<%- use_unavailable_image_placeholder = false %>
<% unless defined?(use_unavailable_image_placeholder) && use_unavailable_image_placeholder == false %>
  <div>
    <img id="image-unavailable-img" class="img-responsive" src="<%= get_asset_url(id: 'placeholder:unavailable', size: 256, type: 'full', format: 'jpg') %>" />
  </div>
<% end %>
<%= render partial: 'galleries/archive_org', locals: { document: document } %>
