<div id="child-viewer-carousel" class="carousel slide" data-ride="false">

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox" aria-label="Carousel slides">
    <% structured_children.each_with_index do |child, ix| %>
      <% next if child[:pid].blank? # Skip rendering of unpublished children %>
      <% can_access = can_access_asset?(child.with_indifferent_access) # Skip rendering of unavailable children %>
      <% child_title = child[:title].present? ? child[:title].strip : '' %>
      <div class="carousel-item <%= ix == 0 ? 'active' : '' %>"
        role="option" 
        data-child-number="<%= ix %>"
        data-child-title="<%= child_title == parent_title || child_title.blank? ? '&nbsp'.html_safe : h(child_title) %>"
        >
        <div class="child-content">
          <% dc_type_string = child[:dc_type].present? ? child[:dc_type].underscore.gsub(/\s+/, '_') : '' %>
          <% if can_access && ['sound', 'moving_image', 'software'].include?(dc_type_string) %>
            <%= render partial: "content_aggregator/child_viewer/#{dc_type_string}", locals: { child: child, child_index: ix, document: document, local_downloads: local_downloads } %>
          <% else %>
            <%- # Render image (or placeholder) -%>
            <%= render partial: "content_aggregator/child_viewer/image", locals: { child: child, child_index: ix, document: document, local_downloads: local_downloads } %>
          <% end %>
        </div>
        <%= render partial: 'content_aggregator/disclaimer', locals: { document: document, asset: child.with_indifferent_access } %>
      </div>
    <% end %>
  </div>

  <!-- Controls -->
  <% hide_controls = structured_children.length < 2 %>
  <a class="left carousel-control-prev<%= ' hidden' if hide_controls %>" href="#child-viewer-carousel" role="button" data-slide="prev">
    <span class="fa fa-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control-next<%= ' hidden' if hide_controls %>" href="#child-viewer-carousel" role="button" data-slide="next">
    <span class="fa fa-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<%- use_unavailable_image_placeholder = false %>
<% unless defined?(use_unavailable_image_placeholder) && use_unavailable_image_placeholder == false %>
  <div>
    <img id="image-unavailable-img" class="img-responsive" src="<%= get_asset_url(id: 'placeholder:unavailable', size: 256, type: 'full', format: 'jpg') %>" />
  </div>
<% end %>
<%- if ['ContentAggregator', 'Collection'].include?(@document['active_fedora_model_ssi']) %>
<%= render  partial: "gallery_#{@document['active_fedora_model_ssi'].underscore}", locals: {document: @document} %>
<%- end %>
