<%- ix = -1 %>
<%- breadcrumbs() do |breadcrumb| %>
  <%- unless (ix += 1) == 0 %>
    <%="&#187;".html_safe %>
  <%- end %>
  <%= content_tag( :span, class: "fs-directory") do %>
  <%- link_to(breadcrumb[:label], url_to_proxy(breadcrumb), class: "fs-directory") %>
  <%-end%>
<%- end %>
<% if params[:proxy_id] && last = params[:proxy_id].split('/').last %>
  <%="&#187;".html_safe %>
  <span class="fs-directory"><%= last %></span>
<%end%>
<ul class="file-system">
<%- proxies() do |proxy| %>
  <%= proxy_node(proxy) %>
<%- end %>
</ul>
