<div id="child_gallery" class="row" style="<%= structured_children.length > 1 ? '' : 'display:none;'%>">
 <div class="<%= (structured_children.length > 4) ? 'child-scroll' : '' %>">
<% structured_children.each_with_index do |child, ix| -%>
  <div class="col-sm-<%= (structured_children.length <= 2) ? '6' : '3' %>">
  	<article>
      <a rel="item-link" class="tocontent post thumbnail document blacklight-photographs <%= ix == 0 ? 'selected' : '' %>" data-original-title="<%= child[:title] %>" data-sequence="<%= ix %>" data-counter="<%= child[:order] %>" href="<%= catalog_resolve_asset_path(id: child[:id], size: 768, type: 'scaled', format: 'jpg') %>" data-info-url="<%= catalog_resolve_asset_info_path(id: child[:id], format: 'png') %>" data-bytestreams="<%= resolve_catalog_bytestreams_path(catalog_id: child[:id], :format=>'json') %>" onclick="favoriteChild(this); return false;" data-id="<%=child[:id]%>">
      	<img src="<%= catalog_resolve_asset_path(id: child[:id], size: 256, type: 'scaled', format: 'jpg') %>" />
      </a>
      <div class="caption">
      	<div class="documentHeader">
          <a rel="item-link" data-src="<%= resolve_catalog_url(id: CGI.escape(child[:id])) %>.json" data-id="<%=child[:id]%>"><i class="icon-zoom-in"></i></a>
      	  <div class="documentFunctions">
          </div>
      		<h5 class="index_title"><%= child[:title] %></h5>
      	</div>
      </div>
    </article>
	</div>
	<% end %>
  </div>
</div>
