<h2 class="lead section-heading">Featured Collections</h2>

<div class="row">
	<div class="col-sm-4">
		<%= link_to image_tag("collections_page/about_css.jpg", :class => 'thumbnail img-responsive'), 'http://css.cul.columbia.edu' %>
		<p>Community Service Society Photographs</p>
	</div><!-- /.col-sm-4 -->
	<div class="col-sm-4">
		<%= link_to image_tag("collections_page/about_lindquist.jpg", :class => 'thumbnail img-responsive'), 'http://lindquist.cul.columbia.edu' %>
		<p>G.E.E. Lindquist Native American Photographs<p>
	</div><!-- /.col-sm-4 -->
	<div class="col-sm-4">
		<%= link_to image_tag("collections_page/about_css.jpg", :class => 'thumbnail img-responsive'), 'http://css.cul.columbia.edu' %>
		<p>Community Service Society Photographs</p>
	</div><!-- /.col-sm-4 -->
</div><!-- /.row -->
<div class="row">
	<div class="col-sm-4">
		<%= link_to image_tag("collections_page/about_lindquist.jpg", :class => 'thumbnail img-responsive'), 'http://lindquist.cul.columbia.edu' %>
		<p>G.E.E. Lindquist Native American Photographs<p>
	</div><!-- /.col-sm-4 -->
	<div class="col-sm-4">
		<%= link_to image_tag("collections_page/about_css.jpg", :class => 'thumbnail img-responsive'), 'http://css.cul.columbia.edu' %>
		<p>Community Service Society Photographs</p>
	</div><!-- /.col-sm-4 -->
	<div class="col-sm-4">
		<%= link_to image_tag("collections_page/about_lindquist.jpg", :class => 'thumbnail img-responsive'), 'http://lindquist.cul.columbia.edu' %>
		<p>G.E.E. Lindquist Native American Photographs<p>
	</div><!-- /.col-sm-4 -->
</div><!-- /.row -->

<% #Creates a bit space in the page -%>
