<% #Using the Bootstrap Pagination class  -%>
  <div id="previousNextDocument">
    <% if @previous_document || @next_document %>
      <div class="page_links">
        <%= link_to_previous_document @previous_document %> |

        <%= item_page_entry_info %> |

        <%= link_to_next_document @next_document %>
        </div>
    <% end %>
    <div class="pull-right search-widgets">
    <ul class="nav nav-pills">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href=""><i class="glyphicon glyphicon-road"></i> Back to...</a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_back_to_catalog(label: '<i class="glyphicon glyphicon-backward"></i> '.html_safe+"This Search") %></li>
            <li><%=link_to '<i class="glyphicon glyphicon-remove"></i> '.html_safe+"Start Over", start_over_path(current_search_session.try(:query_params) || {}), :id=>"startOverLink" %></li>
          </ul>
        </li>
        <%= render 'show_tools' %>
        <%= render_document_partials @document, ['show_tools'] %>
      </ul>
    </div>
  </div>