  <%= form_tag search_action_url, :method => :get, :class => ['clearfix', 'nav-fill', 'w-100'] do %>
    <%= render_hash_as_hidden_fields(search_state.params_for_search.except(:q, :search_field, :qt, :page, :utf8, :format)) %>

    <div class="input-group">
      <% unless search_fields.empty? %>
        <span class="input-group-prepend">
          <%= hidden_field_tag(:search_field, options_for_select(search_fields, h(params[:search_field] || search_fields.first[1])), :title => t('blacklight.search.form.search_field.title')) %>
        </span>
      <% end %>
      <label for="q" class="sr-only"><%= t('blacklight.search.form.q') %></label>
      <%= text_field_tag :q, params[:q], :placeholder => (!query_has_constraints? ?  t(:"dlc.search_placeholder.new.#{controller.controller_name}", default: :'dlc.search_placeholder.new.default').html_safe : t(:"dlc.search_placeholder.modified.#{controller.controller_name}", default: :'dlc.search_placeholder.modifed.default').html_safe), :class => "search_q q form-control", :id => "q" %>
      <div class="input-group-append">
        <%= link_to '<i class="fa fa-remove"></i>'.html_safe, start_over_path, :title => 'Start Over', :class => 'btn btn-secondary reset-btn' if query_has_constraints? %>
        <button class="btn btn-primary search-btn" type="submit" aria-label="Submit">
          <span class="hidden-xs"><%= (current_page?(root_url)? t('blacklight.search.form.submit') : '') %></span>
          <span class="fa fa-search"></span>
        </button>
      </div>
    </div>

  <% end %>