<nav id="secondary-nav" class="navbar d-flex px-0">
	<ul class="nav nav-pills mr-auto">
		<li class="nav-item">
			<a href="<%=root_path%>" class="nav-link"><i class="fa fa-home"></i></a>
		</li>
		<li class="nav-item">
			<a href="<%=about_path%>" class="nav-link"><i class="fa fa-info-circle"></i></a>
		</li>
		<li class="dropdown">
			<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Browse <b class="caret"></b></a>
			<ul class="dropdown-menu list-unstyled dropdown-menu-left">
				<li><a href="<%= browse_path('names')%>" class="dropdown-item">Associated Names</a></li>
				<li><a href="<%= browse_path('formats')%>" class="dropdown-item">Formats</a></li>
				<li><a href="<%= browse_path('libraries')%>" class="dropdown-item">Library Locations</a></li>
			</ul>
		</li>
	</ul>
	<ul class="nav nav-pills">
		<li class="nav-item"><a onclick="window.open(this.href);return false;" data-toggle="tooltip" data-placement="bottom" href="https://library.columbia.edu/resolve/lweb0164" title="See All Digital Collections" class="nav-link">All Collections <i class="fa fa-external-link"></i></a></li>
	<%- if params[:action] == 'home' && @subsite.persistent_url -%>
		<li class="nav-item"><button data-copy="<%= @subsite.persistent_url %>" title="Click to copy to clipboard" class="btn btn-secondary nav-link mx-auto" onclick="clipboardFromElement(this);"><span class="fa fa-copy"></span> Permanent URL</button></li>
	<%- elsif @document&.has_persistent_url? -%>
		<li class="nav-item"><button data-copy="<%= @document.persistent_url %>" title="Click to copy to clipboard" class="btn btn-secondary nav-link mx-auto" onclick="clipboardFromElement(this);"><span class="fa fa-copy"></span> Permanent URL</button></li>
	<%- end -%>
	</ul>
</nav>
