<div class="row" id="child_items">
  <div id="item-description" class="col-md-3">
   <div class="inner">
    <dl class="dl-vertical">
      <% document_show_fields(document).each do |solr_fname, field| -%>
        <% if should_render_show_field? document, field -%>
          <dt class="blacklight-<%= solr_fname.parameterize %>"><%= render_document_show_field_label document, :field => solr_fname %></dt>
          <dd class="blacklight-<%= solr_fname.parameterize %>"><%= render_document_show_field_value document, :field => solr_fname %></dd>
        <% end -%>
      <% end -%>
    </dl>
   </div>
  </div>
  <div class="col-md-9">
   <div class="inner">
     <h3 class="nomar"><%= document_show_html_title -%></h3>
     <% if ct = structured_children.first -%>
       <p id="ct"><%= ct[:title] %></p>
     <% end -%>
   <div id="favorite-child">
    <% if child = structured_children.first -%>
        <img onclick="$('.item-cbox').click();" src="<%= child[:screen] || resolve_catalog_bytestream_content_url(catalog_id: child[:id], bytestream_id: 'web850') %>.png" data-counter="1" data-sequence="0" data-zoom-url="<%= details_url(id: document[:id], layout:(request.path.split('/')[1])) %>"/>
    <% end -%>
   </div>
<%= render_document_partials @document, ['gallery'] %>
   </div>
  </div>
</div>
