<dl class="dl-horizontal">
  <% document_show_fields(document).each do |solr_fname, field| -%>
    <% if should_render_show_field? document, field -%>
      <dt class="blacklight-<%= solr_fname.parameterize %>"><%= render_document_show_field_label document, :field => solr_fname %></dt>
      <dd class="blacklight-<%= solr_fname.parameterize %>"><%= render_document_show_field_value document, :field => solr_fname %></dd>
    <% end -%>
  <% end -%>
</dl>
<div id="view-options">
  <div class="hidden-xs btn-group btn-group-xs">
    <button id="unzoom-mode" type="button" class="btn btn-success"><i class="glyphicon glyphicon-th"></i></button>
    <button id="zoom-mode" type="button" class="btn btn-default" data-url="<%= children_url(document[:id], :per_page=>999) %>"><i class="glyphicon glyphicon-zoom-in"></i></button>
  </div>
</div>
<%= render_document_partials @document, ['gallery'] %>
<div id="zoom-gallery" class="hidden">
  <div id="zoom-toolbar" class="toolbar"></div>
  <div id="zoom-content" class="openseadragon"></div>
</div>
