<div class="inner">
  <h3><%= document_show_html_title %></h3>
  <div id="show-concept">
    <%- image_pid = document[:schema_image_ssim].first.split('/')[-1] if document[:schema_image_ssim] -%>
    <%- if image_pid -%>
      <div class="col-xs-12 col-sm-4 pull-right">
        <p class="show-representative-image"><%= image_tag(get_asset_url(id: image_pid, size: 512, type: 'full', format: 'jpg'), :itemprop => 'image', :class => 'img-responsive col-xs-12') if image_pid %></p>
      </div>
    <%- end -%>
    <%= document['description_text_ssm'].blank? ? Array(document['abstract_ssim']).join : controller.render_markdown(Array(document['description_text_ssm']).join)  %>
    <div id="show-concept-links" class="index-show-list-fields">
      <ul>
      <% dcv_search_link = document[:short_title_ssim].present? ? search_action_path(:f => {'lib_project_short_ssim' => [document[:short_title_ssim].first]}) : nil %>
      <% if dcv_search_link && controller.published_to_catalog?(document) %>
        <li><%= link_to("Browse: #{document_show_html_title} content in the DLC".html_safe, dcv_search_link) %></li>
      <% end %>
      <% target_link = document[:source_ssim].present? ? Array(document[:source_ssim]).first : nil %>
      <% if target_link %>
        <li><%= link_to("Visit: #{document_show_html_title}".html_safe, target_link) if target_link %></li>
      <% end %>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
