<% if structured_children.first %>
  <a class="btn btn-default item-cbox" data-original-title="<%= document_show_html_title %>" data-toggle="tooltip" title="Zoom in" href="#" onclick="return DCV.ZoomingImageModal.show();"><i class="glyphicon glyphicon-eye-open"></i></a>
  <a class="btn btn-default" href="#" data-original-title="<%= document_show_html_title %>" data-toggle="tooltip" title="Open in new window" onclick="return DCV.ZoomingImageModal.openInNewWindow();"><i class="glyphicon glyphicon-new-window"></i></a>
  <% if document.get_item_in_context_urls.present? %>
    <div class="btn-group btn-group-xs">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" data-tt="tooltip" title="Item in Context">
      <i class="glyphicon glyphicon-globe"></i> <span class="caret"></span>
      <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul id="item-in-context-list" class="dropdown-menu pull-right" role="menu">
        <% item_in_context_urls = document.get_item_in_context_urls %>
        <% item_in_context_urls.each_with_index do |url, i| %>
          <li><a class="" href="<%= url %>" target="_blank" data-toggle="tooltip" title="Item in Context"><i class="glyphicon glyphicon-globe"></i> Item in Context <%= item_in_context_urls.length == 1 ? '' : "##{i+1}" %></a></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
<div class="btn-group btn-group-xs">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" data-tt="tooltip" title="Citations">
  <i class="glyphicon glyphicon-book"></i> <span class="caret"></span>
  <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul id="item-show-citations" class="dropdown-menu pull-right" role="menu">
    <li><%= link_to 'APA Citation', item_citation_path(document['id'], type: 'apa'), :onclick => 'return DCV.CitationDisplayModal.show($(this).attr("href"), "APA");' %></li>
    <li><%= link_to 'Chicago Citation', item_citation_path(document['id'], type: 'chicago'), :onclick => 'return DCV.CitationDisplayModal.show($(this).attr("href"), "Chicago");' %></li>
    <li><%= link_to 'MLA Citation', item_citation_path(document['id'], type: 'mla'), :onclick => 'return DCV.CitationDisplayModal.show($(this).attr("href"), "MLA");' %></li>
  </ul>
</div>
