<div class="row" id="child_items">
  <div id="item-description" class="col-md-3">
    <div class="inner">
      <dl class="dl-vertical">
        <% document_show_fields(document).each do |solr_fname, field| %>
          <% if should_render_show_field? document, field %>
            <dt class="blacklight-<%= solr_fname.parameterize %>"><%= render_document_show_field_label document, :field => solr_fname %></dt>
            <dd class="blacklight-<%= solr_fname.parameterize %>"><%= render_document_show_field_value document, :field => solr_fname %></dd>
          <% end %>
        <% end %>
      </dl>
    </div>
    <%= render partial: 'catalog/links_sidebar_panel', locals: { document: document, configured_links: [:persistent, :mods, :reproduction] } %>
  </div>
  <div class="col-md-9">
    <%= render partial: 'catalog/content_aggregator/content_aggregator_viewer', locals: { document: document } %>
  </div>
</div>
