<div class="row" id="child_items">
  <div id="item-description" class="col-md-3">
  <div class="inner">
    <dl class="dl-vertical">
      <% document_show_fields(document).each do |solr_fname, field| %>
        <% if should_render_show_field? document, field %>
          <dt class="blacklight-<%= solr_fname.parameterize %>"><%= render_document_show_field_label document, :field => solr_fname %></dt>
          <dd class="blacklight-<%= solr_fname.parameterize %>"><%= render_document_show_field_value document, :field => solr_fname %></dd>
        <% end %>
      <% end %>
    </dl>
   </div>
    <div class="inner">
      <%= link_to '<span class="glyphicon glyphicon-file"></span> Display XML Metadata'.html_safe, item_mods_path(:pid => @document.id), :'data-no-turbolink' => true, :'data-display-url' => item_mods_path(:pid => @document.id, :type => 'formatted_text'), :'data-download-url' => item_mods_path(:pid => @document.id, :type => 'download'), :onclick => 'return DCV.ModsDownloadModal.show($(this).attr("data-display-url"), $(this).attr("data-download-url"));' %>
    </div>
  </div>
  <div class="col-md-9">
   <div class="inner">
     <h3 id="doc-item-title" class="nomar"><%= document_show_html_title %></h3>
     <% if ct = structured_children.first %>
       <p id="ct"><%= ct[:title] %></p>
     <% end %>
    <div id="favorite-child">
      <% if child = structured_children.first %>
        <%= '<a href="#" class="next-child" onclick="return DCV.Show.FavoriteChildNavigation.previous(this);"><span class="glyphicon glyphicon-chevron-left"></span></a>'.html_safe if structured_children.length > 1 %>
        <img itemprop="contentUrl" onclick="$('.item-cbox').click();" src="<%= catalog_resolve_asset_path(id: child[:id], size: 768, type: 'scaled', format: 'jpg') %>" data-counter="1" data-sequence="0" data-zoom-url="<%= details_path(id: document[:id], layout:(request.path.split('/')[1])) %>" data-info-url="<%= catalog_resolve_asset_info_path(id: structured_children.first[:id], image_format: 'png') %>" data-bytestreams="<%= resolve_catalog_bytestreams_path(catalog_id: structured_children.first[:id], :format=>'json') %>"/>
        <%= '<a href="#" class="previous-child" onclick="return DCV.Show.FavoriteChildNavigation.next(this);"><span class="glyphicon glyphicon-chevron-right"></span></a>'.html_safe if structured_children.length > 1 %>
      <% end %>
    </div>
    <%= render_document_partials @document, ['gallery'] %>
    </div>
  </div>
</div>
