<div id="show-generic-resource">
  <div class="row">
    <div id="item-description" class="col-md-3" data-no-turbolink>
     <div class="inner">

      <div id="sidebar-thumb">
        <div class="inner aligncenter">
          <img alt="" class="img-responsive" src="<%= get_asset_url(id: document[:id], type: 'full', size: 256, format: 'png') %>" />
        </div>
        <div id="file-download-and-info" class="aligncenter">
          <% if can_download?(document) %>
            <%= link_to '<span class="glyphicon glyphicon-download"></span> Download Original'.html_safe, bytestream_content_url({catalog_id: document['id'], filename: document['label_ssi'], bytestream_id: 'content', download: true}), class: 'btn btn-primary btn-sm' %>
          <% end %>
          <dl class="dl-vertical text-left">
          <%= '<dt class="">Office:</dt> <dd>'.html_safe + document['contributor_ssim'].first if document['contributor_ssim'].present? %></dd>
          <%= '<dt class="">Size:</dt> <dd>'.html_safe + byte_size_to_text_string(document['extent_ssim'].first.to_i) if document['extent_ssim'].present? %></dd>
          <%= '<dt class="">MIME Type:</dt> <dd>'.html_safe + document['dc_format_ssm'].first if document['dc_format_ssm'].present? %></dd>
          </dl>
        </div>
      </div>
     </div>
    </div>
    <div class="col-md-9">
      <% if document['title_display_ssm'].present? %>
        <div id="generic-resource-title">
          <div class="inner">
            <h3 id="doc-item-title"><%= document['title_display_ssm'].first %></h3>
          </div>
        </div>
      <% end %>
      <% if document['dc_type_ssm'].present? && document['dc_type_ssm'].first.eql?('StillImage') %>
      <div id="generic-resource-content">
        <div class="inner">
            <div id="favorite-child">
              <img itemprop="contentUrl" onclick="$('.item-cbox').click();" src="<%= get_asset_url(id: document[:id], size: 768, type: 'full', format: 'jpg') %>" data-counter="1" data-sequence="0" data-zoom-url="<%= details_path(id: document[:id], layout:(request.path.split('/')[1])) %>" data-info-url="<%= get_asset_info_url(id: document[:id], image_format: 'jpg') %>" data-bytestreams="<%= resolve_catalog_bytestreams_path(catalog_id: document[:id], :format=>'json') %>"/>
            </div>
        </div>
      </div>
      <% elsif ['Audio','Video'].include?(document['dc_type_ssm'].present? ?  document['dc_type_ssm'].first : nil) && document['service_dslocation_ss'].present? %>
        <%
        partner_key = document['contributor_ssim'].first.downcase
        partner_data = ifp_partner_data( partner_key ) || {} # TODO: Temporary fix for offices with spaces in name and chile+peru combo
        poster_path = asset_path(partner_data[:rep_flag])
        %>
        <div id="generic-resource-content">
          <div class="inner">
              <div id="generic-resource-video">
                <div class="mediaelement-wrapper">
                <%= render :partial=>"catalog/generic_resource/#{document['dc_type_ssm'].first.downcase}", :locals=> {wowza_project: 'vod', media_path: document['service_dslocation_ss'].gsub('file:/ifs/cul/ldpd/', ''), poster_path: poster_path, width: 1024, height: 576} %>
                </div>
              </div>
          </div>
        </div>
      <% end %>
      <div class="inner">
        <dl class="dl-horizontal">
          <% document_show_fields(document).each do |solr_fname, field| -%>
            <% if should_render_show_field? document, field -%>
              <dt class="blacklight-<%= solr_fname.parameterize %>"><%= render_document_show_field_label document, :field => solr_fname %></dt>
              <dd class="blacklight-<%= solr_fname.parameterize %>"><%= render_document_show_field_value document, :field => solr_fname %></dd>
            <% end -%>
          <% end -%>
          <% unless (parent_links = link_to_resource_in_context(document)).empty? %>
            <dt>Resource in Context:</dt>
            <dd><%= link_to_resource_in_context(document).join(',').html_safe %></dd>
          <% end -%>
        </dl>
      </div>

    </div>
    </div>
  </div>
</div>
