<div class="inner">
  <h3><%= document_show_html_title %></h3>
  <div id="show-concept">
  <%- image_pid = document[:schema_image_ssim].first.split('/')[-1] if document[:schema_image_ssim] -%>
  <%- if image_pid -%>
    <p class="show-representative-image"><%= image_tag(get_asset_url(id: image_pid, size: 512, type: 'scaled', format: 'jpg'), :class => 'col-sm-4 pull-right', :itemprop => 'image') if image_pid %></p>
  <%- end -%>
  <%= controller.render_markdown(Array(document['description_text_ssm']).join) unless document['description_text_ssm'].blank? %>
    <div id="show-concept-links" class="index-show-list-fields">
      <ul>
      <% dcv_search_link = search_action_path(:f => {'publisher_ssim' => "info:fedora/#{document[:id]}"}) %>
        <li><%= link_to("Browse: #{document_show_html_title} content in the DLC", dcv_search_link) %></li>
      <% target_link = document[:source_ssim].present? ? Array(document[:source_ssim]).first : nil %>
      <% if target_link %>
        <li><%= link_to("Visit: #{document_show_html_title}", target_link) if target_link %></li>
      <% end %>
      </ul>
    </div>
  </div>
</div>