<div class="row" id="child_items">

  <div class="col-md-9">
   <div class="inner">
     <h3 id="doc-item-title" class="nomar"><%= document_show_html_title %></h3>
     <% if ct = structured_children.first %>
       <p id="ct"><%= ct[:title] %></p>
     <% end %>
    <div id="favorite-child">
      <% if child = structured_children.first %>
        <%= '<a href="#" class="next-child" onclick="return DCV.Show.FavoriteChildNavigation.previous(this);"><span class="glyphicon glyphicon-chevron-left"></span></a>'.html_safe if structured_children.length > 1 %>
        <img itemprop="contentUrl" onclick="$('.item-cbox').click();" src="<%= get_resolved_asset_url(id: child[:id], size: 768, type: 'scaled', format: 'jpg') %>" data-counter="1" data-sequence="0" data-zoom-url="<%= details_path(id: document[:id], layout:(request.path.split('/')[1])) %>" data-info-url="<%= get_resolved_asset_info_url(id: structured_children.first[:id], image_format: 'png') %>" data-bytestreams="<%= resolve_catalog_bytestreams_path(catalog_id: structured_children.first[:id], :format=>'json') %>"/>
        <%= '<a href="#" class="previous-child" onclick="return DCV.Show.FavoriteChildNavigation.next(this);"><span class="glyphicon glyphicon-chevron-right"></span></a>'.html_safe if structured_children.length > 1 %>
      <% end %>
    </div>
    <%= render_document_partials @document, ['gallery'] %>
    </div>
  </div>
</div>
