<% if structured_children.first %>
  <a class="btn btn-default item-cbox" data-original-title="<%= document_show_html_title %>" title="Zoom in" href="#" onclick="return DCV.ZoomingImageModal.show();"><i class="glyphicon glyphicon-eye-open"></i></a>
  <a class="btn btn-default" href="#" data-original-title="<%= document_show_html_title %>" title="Open in new window" onclick="return DCV.ZoomingImageModal.openInNewWindow();"><i class="glyphicon glyphicon-new-window"></i></a>
  <% if document['lib_item_in_context_url_ssm'].present? %>
    <a class="btn btn-default" href="<%= @document['lib_item_in_context_url_ssm'][0] %>" target="_blank" title="Item in Context"><i class="glyphicon glyphicon-globe"></i></a>
  <% end %>
<% end %>
<% unless document['dc_type_ssm'].present? && document['dc_type_ssm'].include?('FileSystem') %>
<div class="btn-group btn-group-xs">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Downloads">
  <i class="glyphicon glyphicon-download-alt"></i> <span class="caret"></span>
  <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul id="downloads-list" class="dropdown-menu pull-right" role="menu"></ul>
</div>
<% end %>
<div class="btn-group btn-group-xs">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Citations">
  <i class="glyphicon glyphicon-book"></i> <span class="caret"></span>
  <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul id="item-show-citations" class="dropdown-menu pull-right" role="menu">
    <li><%= link_to 'APA Citation', item_citation_path(document['id'], type: 'apa'), :onclick => 'return DCV.CitationDisplayModal.show($(this).attr("href"), "APA");' %></li>
    <li><%= link_to 'Chicago Citation', item_citation_path(document['id'], type: 'chicago'), :onclick => 'return DCV.CitationDisplayModal.show($(this).attr("href"), "Chicago");' %></li>
    <li><%= link_to 'MLA Citation', item_citation_path(document['id'], type: 'mla'), :onclick => 'return DCV.CitationDisplayModal.show($(this).attr("href"), "MLA");' %></li>
  </ul>
</div>
