<% if controller.subsite_config['date_search'].present? && controller.subsite_config['date_search'].fetch('sidebar', false) %>

  <% date_filter_is_active = 'facet_limit-active' if params[:start_year].present? || params[:end_year].present? %>

  <div class="panel panel-default facet_limit date-range <%= 'facet_limit-active' if date_filter_is_active %>">
    <div class="collapsed collapse-toggle panel-heading" data-toggle="collapse" data-target="#date-range-filter">
      <h5 class="panel-title">
        <a data-no-turbolink="true" href="#">Year</a>
      </h5>
    </div>
    <div id="date-range-filter" class="panel-collapse facet-content <%= date_filter_is_active ? 'in' : 'collapse' %>">
      <div class="panel-body">

        <script>

          DCV.newDateFilterTemplateUrl = '<%= CGI.escape(url_for(params.merge(:start_year => '_start_year_', :end_year => '_end_year_', :search_field => params[:search_field] || 'all_text_teim', :q => params[:q] || ''))) %>';
        </script>

        <form id="sidebar-date-range-selector" action="#">

          <div>
            <input type="text" class="sliderValue form-control input-sm" data-index="0" placeholder="YYYY" maxlength="4" value="<%= params[:start_year] if params[:start_year] %>" />
            -
            <input type="text" class="sliderValue form-control input-sm" data-index="1" placeholder="YYYY" maxlength="4" value="<%= params[:end_year] if params[:end_year] %>" />
            <input id="sidebar-date-range-set-btn" type="submit" class="btn btn-default btn-sm" value="Set &raquo;" />
          </div>

          <div id="sidebar-date-range-slider" class="hidden"></div>

        </form>

      </div>
    </div>
  </div>

<% end %>
