<div class="row">

  <div id="content" class="col-md-12">

    <div class="inner">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs">
        <li class="active"><a href="#featured" data-toggle="tab">Featured</a></li>
        <% @browse_lists.each do |facet_name, data| %>
          <li><a href="#tab_<%= facet_name %>" data-toggle="tab"><%= data['display_label'] %></a></li>
        <% end %>
        <li><a href="#projects" data-toggle="tab">Digital Projects</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane fade in active" id="featured">
      <p><strong>Digital Library Collections</strong> is a gateway to many of the digital projects that Columbia University Libraries / Information Services has completed over the past ten years. It includes scans of photographs, posters, objects, manuscripts and other archival material from our special and archival collections. The site will continue to grow as more of our special collections are digitized and cataloged. (It does not at present include digitized books, however; these can be located by searching the CLIO catalog.) All site content is intended to be used for education and research.</p>
            <small>Below are example items related to the keyword "<%= @selected_keyword %>."</small>
            <%- if @response.empty? %>
            <%= render "zero_results" %>
            <%- elsif render_grouped_response? %>
            <%= render_grouped_document_index %>
            <%- else %>
            <%= render_document_index %>
            <%- end %>
            <%= link_to 'View more results from this keyword search &raquo;'.html_safe, @link_to_full_search, :class => 'btn btn-default btn-xs pull-right' %>
            <div class="clearfix"></div>
        </div>
        <% @browse_lists.each do |facet_name, data| %>
          <div class="tab-pane fade" id="tab_<%= facet_name %>">
            <ul class="nopad-rl cols-two">
              <% data['value_pairs'].each do |value, count| %>
                <% search_link = search_action_path(:f => {facet_name => [value]}) %>
                <li><%= link_to value, search_link %> (<%= count %>)</li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="tab-pane fade" id="projects">
          <%= render template: 'pages/digital_projects' -%>
        </div>
      </div>
    </div> <!--/.inner-->

  </div>

</div>
