<div class="row">
  <div id="sidebar" class="col-md-3">
    <div class="inner">
      <p><strong>Digital Library Collections</strong> is a gateway to many of the digital projects that Columbia University Libraries / Information Services has completed over the past ten years. <a href="<%= about_url %>">Learn more &raquo;</a></p>
    </div>
  </div>

  <div id="content" class="col-md-9">

		<div id="home-page-tabs" class="inner">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs">
        <li class="active"><a href="#sample_items" data-toggle="tab">Sample Items</a></li>
        <% @browse_lists.each do |facet_name, data| %>
          <li><a href="#tab_<%= facet_name %>" data-toggle="tab"><%= data['display_label'] %></a></li>
        <% end %>
        <li><a href="#projects" data-toggle="tab">Digital Projects</a></li>
        <li><a href="#exhibits" data-toggle="tab">Digital Exhibitions</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <%= render template: 'pages/sample_items' -%>
        <% @browse_lists.each do |facet_name, data| %>
          <%= render template: "pages/#{facet_name}", locals: {facet_name: facet_name, data: data} -%>
        <% end %>
        <div class="tab-pane fade" id="projects">
          <%= render template: 'pages/digital_projects' -%>
        </div>
        <div class="tab-pane fade" id="exhibits">
          <%= render template: 'pages/digital_exhibits' -%>
        </div>
      </div>
    </div> <!--/.inner-->

  </div>

</div>
