<div class="row">

	<div id="sidebar" class="col-md-3">
		<div class="inner">
			<a class="panel-title" href="/collections"><span class="lead">Browse Collections</span> <i class="glyphicon glyphicon-white glyphicon-circle-arrow-right"></i></a>
		</div>
		<div class="clearfix">&nbsp;</div>
		<div class="inner">
			<p><strong>The Columbia Digital Collections Portal</strong> is a gateway to many of the digital projects that Columbia University Libraries / Information Services has completed over the past ten years. It includes scans of photographs, posters, objects, manuscripts and other archival material from our special and archival collections. The Portal will continue to grow as more of our special collections are digitized and cataloged. (It does not at present include digitized books, however; these can be located by searching the CLIO catalog.) All Portal content is intended to be used for education and research.</p>
		 </div>
	</div>

	<div id="content" class="col-md-9">

	  <div class="inner">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs">
				<li class="active"><a href="#featured" data-toggle="tab">Featured</a></li>
				<% counter = 2 %>
				<% @browse_lists.each_key do |list_name| %>
					<li><a href="#tab<%= counter %>" data-toggle="tab"><%= list_name %></a></li>
				<% end %>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">
				<div class="tab-pane fade in active" id="featured">
						<h2 class="lead section-heading hide">Featured Collections</h2>

						<div class="row">
							<div class="col-sm-4">
								<%= link_to image_tag("collections_page/about_css.jpg", :class => 'thumbnail img-responsive'), 'http://css.cul.columbia.edu' %>
								<p>Community Service Society Photographs</p>
							</div><!-- /.col-sm-4 -->
							<div class="col-sm-4">
								<%= link_to image_tag("collections_page/about_lindquist.jpg", :class => 'thumbnail img-responsive'), 'http://lindquist.cul.columbia.edu' %>
								<p>G.E.E. Lindquist Native American Photographs<p>
							</div><!-- /.col-sm-4 -->
							<div class="col-sm-4">
								<%= link_to image_tag("collections_page/about_css.jpg", :class => 'thumbnail img-responsive'), 'http://css.cul.columbia.edu' %>
								<p>Community Service Society Photographs</p>
							</div><!-- /.col-sm-4 -->
						</div><!-- /.row -->
						<div class="row">
							<div class="col-sm-4">
								<%= link_to image_tag("collections_page/about_lindquist.jpg", :class => 'thumbnail img-responsive'), 'http://lindquist.cul.columbia.edu' %>
								<p>G.E.E. Lindquist Native American Photographs<p>
							</div><!-- /.col-sm-4 -->
							<div class="col-sm-4">
								<%= link_to image_tag("collections_page/about_css.jpg", :class => 'thumbnail img-responsive'), 'http://css.cul.columbia.edu' %>
								<p>Community Service Society Photographs</p>
							</div><!-- /.col-sm-4 -->
							<div class="col-sm-4">
								<%= link_to image_tag("collections_page/about_lindquist.jpg", :class => 'thumbnail img-responsive'), 'http://lindquist.cul.columbia.edu' %>
								<p>G.E.E. Lindquist Native American Photographs<p>
							</div><!-- /.col-sm-4 -->
						</div><!-- /.row -->
				</div>
				<% counter = 2 %>
				<% @browse_lists.each do |list_name, value_pairs| %>
					<div class="tab-pane fade" id="tab<%= counter %>">
						<ul class="nopad-rl cols-two">
							<% value_pairs.each do |value, count| %>
								<li><%= value %> (<%= count %>)</li>
							<% end %>
						</ul>
					</div>
				<% end %>
			</div>
	  </div> <!--/.inner-->

	</div>

</div>
