<div class="row">

	<div id="sidebar" class="col-md-3">
		<% unless has_search_parameters? %>
			<%# if there are no input/search related params... -%>
	      <div class="inner">
                <a class="panel-title" href="/collections"><span class="lead">Browse Collections</span> <i class="glyphicon glyphicon-white glyphicon-circle-arrow-right"></i></a>
          </div>
          <div class="clearfix">&nbsp;</div>
	      <div class="inner">
                <p><strong>The Columbia Digital Collections Portal</strong> is a gateway to many of the digital projects that Columbia University Libraries / Information Services has completed over the past ten years. It includes scans of photographs, posters, objects, manuscripts and other archival material from our special and archival collections. The Portal will continue to grow as more of our special collections are digitized and cataloged. (It does not at present include digitized books, however; these can be located by searching the CLIO catalog.) All Portal content is intended to be used for education and research.</p>
           </div>
		<% else %>
	      <div class="inner">
		    <%= render 'search_sidebar' %>
	      </div>
		<% end -%>
	</div>

	<div id="content" class="col-md-9">

	  <div class="inner">

		<% unless has_search_parameters? %>
			<%# if there are no input/search related params, display the "home" partial -%>
			<%= render 'home' %>
		<% else %>

		  <h2 class="sr-only top-content-title"><%= t('blacklight.search.search_results_header') %></h2>

		  <% @page_title = t('blacklight.search.title', :application_name => application_name) %>


		  <% content_for(:head) do -%>
			<%= render_opensearch_response_metadata %>
			<%= auto_discovery_link_tag(:rss, url_for(params.merge(:format => 'rss')), :title => t('blacklight.search.rss_feed') ) %>
			<%= auto_discovery_link_tag(:atom, url_for(params.merge(:format => 'atom')), :title => t('blacklight.search.atom_feed') ) %>
		  <% end -%>


		  <%= render 'search_header' %>

		  <h2 class="sr-only"><%= t('blacklight.search.search_results') %></h2>

		  <%- if @response.empty? %>
			<%= render "zero_results" %>
		  <%- elsif render_grouped_response? %>
			<%= render_grouped_document_index %>
		  <%- else %>
			<%= render_document_index %>
		  <%- end %>

			<%= render 'results_pagination' %>


		<% end %>

	  </div> <!--/.inner-->

	</div>

</div>
