  <% partner_heading = ifp_partner_data( params[:key] ) %>
  <h6 class="hidden">PARTNER INFORMATION</h6>
  <% partner_data = ifp_office_sidebar_data(params[:key].to_sym) %>
  <% keys_to_display_labels = {
			office: "Office",
	browse_digital_records: "Browse Digital Records",
			finding_aid: "Finding Aid",
			web_archive: "Web Archive",
			ifp_community: "IFP Community",
			ifp_partners: "IFP Partners",
			alumni_organization: "Alumni Organization",
  }  %>
  <dl>
  <%
	partner_data.each do | key, value |
		%><dt><%= keys_to_display_labels[key] ? keys_to_display_labels[key] : key.to_s %></dt><%
		%><dd><%
		case key
		when :ifp_partners
		  bull = (value.count > 1? '&bull; ' : '') 
		  value.each do | individual_partner |
            %> <%= bull.html_safe %><%= link_to individual_partner[:name], individual_partner[:link] %><br><%
		  end
		when :web_archive
		  %><%= link_to 'IFP Web Archive - ' + partner_heading[:heading], value %><%
		when :ifp_community
		  %><%= link_to 'IFP Legacy Website - ' + partner_heading[:heading], value %><%
		when :alumni_organization
		  %><%= link_to value, value %><%
		else
		  %><%= value %><%
		end
		%></dd><%
	end
  %>
  </dl>
