  <% partner_heading = ifp_partner_data( params[:key] ) %>
  <% partner_finding_aid_base_url = 'http://findingaids.cul.columbia.edu/staging/ead/nnc-rb/ldpd_9489034/dsc/4/#subseries' %>
  <% secretariat_finding_aid_base_url = 'http://findingaids.cul.columbia.edu/staging/ead/nnc-rb/ldpd_9489034/dsc/1/#series0' %>
  <div class="well well-sm">
  <h6 class="hidden">PARTNER INFORMATION</h6>
  <% partner_data = ifp_office_sidebar_data(params[:key].to_sym) %>
			<dl class="nomar">
				  <dl class="nomar-b">
							<dt>Browse Digital Materials</dt>
							<dd>
								<% 
								if partner_data[:browse_digital_record_pids] == 0 
									%>in process<%
								else 
									partner_data[:browse_digital_record_pids].each_with_index {|dig_rec, index|
										%><%= link_to 'Browse ' + dig_rec.fetch(:label,partner_data[:office]) + ' Records' + (partner_data[:browse_digital_record_pids].length > 1 ? ' [Part ' + (index+1).to_s + ']' : ''), url_for(controller:controller_name, action: 'show', id: dig_rec[:pid]) %><%
									}
								end
								%>
							</dd>
							<dt>Collection Guide (Finding Aid)</dt>
							<dd>
								<%
								partner_data[:finding_aid].each do | finding_aid |
									if params[:key] == 'secretariat'
										%> <%= link_to finding_aid[:name], secretariat_finding_aid_base_url %><%
									else
										%><%= link_to finding_aid[:name], partner_finding_aid_base_url+finding_aid[:id].to_s %><%
									end
								end
								%>
							</dd>
							<dt>Archived IFP Websites</dt>
							<dd>
								<%= link_to 'IFP Web Archive - ' + ifp_partner_data( params[:key] )[:heading], partner_data[:web_archive] %>
							</dd>
							<dt>IFP Community</dt>
							<dd class="nomar">
								<ul class="square-bullets">
								<li><%= link_to 'IFP Legacy Website - ' + ifp_partner_data( params[:key] )[:heading], partner_data[:ifp_community] %></li>
								<%
									if partner_data[:ifp_partners].present?
										partner_data[:ifp_partners].each do |ifp_partner|
											%><li><%= link_to ifp_partner[:name], ifp_partner[:link] %></li><%
										end
									end
								%>
								</ul>
							</dd>
				  </dl>
			</dl>
  </div>
