<% partner_data = ifp_partner_data( params[:key] ) %>
<div class="row">
  <div id="content" class="col-md-9">
    <h2 class="nomar-t"><img style="margin-right:3px;width:auto;max-height:40px;" src="<%= asset_path(partner_data[:rep_flag]) %>" alt=""> <%= partner_data[:heading] %></h2>
    <div class="partner-text-excerpt visible-xs lead"><%= partner_data[:text_excerpt].html_safe %></div><!--patner-text-excerpt-->
    <div class="float-right col-sm-5 col-xs-12 nopad-rl-xs">
      <a href="<%= asset_path(partner_data[:rep_image]) %>" class="thumbnail preview-modal" data-title="IFP <%= partner_data[:heading] %>">
        <img alt="" src="<%= asset_path(partner_data[:rep_image]) %>" class="img-responsive">
      </a>
      <% if partner_data[:wowza_vid].present? %>
        <br />
        <div class="thumbnail media-wrapper">
          <%= render_media_element_streaming_video_player('vod', partner_data[:wowza_vid], asset_path(partner_data[:wowza_poster_path])) %>
          <div class="caption">
            <small>Archival video from the collection</small>
          </div>
        </div>
      <% end %>
    </div>
    <div class="partner-text">
      <%= partner_data[:text_full].html_safe %>
    </div><!--/partner-text-->
    <div class="clearfix"></div>
  </div><!--/#content-->
  <div id="partner-index-right-sidebar" class="col-md-3">
    <%= render partial: "ifp/partner/office_sidebar" %>
  </div><!--/right-sidebar-->
</div><!--/row-->
