<% counter_in_results = project_counter + row_offset + 1 -%>

<% dcv_search_link = project[:facet_value].present? ? search_action_path(:f => {'lib_project_short_ssim' => [project[:facet_value]]}) : nil %>
<div class="col-sm-3 document <%= dcv_search_link.present? ? 'project-dcv' : 'project-external' %>" itemscope itemtype="project">
  <div class="tombstone" data-number-of-members"-1">
	<%= link_to image_tag('digital_projects_page/' + project[:image], :class => 'thumbnail img-responsive'), (dcv_search_link.present? ? dcv_search_link : project[:external_url]), :style => 'margin:0px auto;' %>
		<div class="index-show-tombstone-fields">
			<h3 class="index_title ellipsis"><%= project[:name] %></h3>
			<%= '<div class="ellipsis">'.html_safe + link_to('View Content', dcv_search_link) + '</div>'.html_safe if dcv_search_link.present? %>
			<%= '<div class="ellipsis">'.html_safe + link_to('Jump to Project Site', project[:external_url]) + '</div>'.html_safe if project[:external_url].present? %>
		</div>
		<div class="col-sm-9 index_title index-show-list-fields hidden">
			<h3 class="index_title ellipsis"><%= project[:name] %></h3>
		<ul>
			<li><strong>Description:</strong><%= project[:description] %></li>
			<%= '<li>'.html_safe + link_to('View Content', dcv_search_link) + '</li>'.html_safe if dcv_search_link.present? %>
			<%= '<li>'.html_safe + link_to('Jump to Project Site', project[:external_url]) + '</li>'.html_safe if project[:external_url].present? %>
		</ul>
		</div>
		<div class="clearfix"></div>
  </div>
</div>
