<div class="row">
  <div id="nav" class="col-md-12">
    <div id="sortAndPerPage" style="border-bottom:0; margin-bottom:0;">
      <div id="browse-lists" class="page_links btn-group btn-group-sm">
        <a class="btn btn-secondary" href="/browse/projects">Projects</a>
        <a class="btn btn-secondary btn-success <%= (params[:action] == 'formats') ? 'active' : params[:action] -%>" href="#">Formats</a>
        <a class="btn btn-secondary" href="/browse/names">Names</a>
        <a class="btn btn-secondary" href="/browse/libraries">Library Locations</a>
      </div>
    </div>
  </div>

  <div id="content" class="col-md-12">
    <% facet_name = 'lib_format_sim' -%>
    <% data = @browse_lists[facet_name] -%>
    <div class="inner" id="tab_<%= facet_name %>">
      <small><%= data['short_description'] %></small>
      <br /><br />
      <ul class="nopad-rl cols-two">
        <% data['value_pairs'].each do |value, count| %>
          <% search_link = search_action_path(:f => {facet_name => [value]}) %>
          <li><%= link_to value, search_link %> (<%= count %>)</li>
        <% end %>
      </ul>
    </div>
  </div>

</div>
