<div class="row">
  <div id="content" class="col-md-12">
    <div id="home-page-content">
      <%= render 'featured_items' %>
      <%- cache [@subsite, @page] do -%>
        <div class="container container-fluid<%= @page.site_text_blocks.first&.label.blank? ? ' mt-3' : '' %>">
          <%- @page.site_text_blocks.sort { |a,b| a.sort_label <=> b.sort_label }.each do |text_block| -%>
            <div class="row pl-0">
              <%- if text_block.label.present? -%>
                <h2 class="h4 text-center text-uppercase my-3 w-100"><%= text_block.label %></h2>
              <%- end -%>
              <%= controller.render_markdown(text_block.markdown) %>
            </div>
          <%- end -%>
          <div class="row pl-0">
            <p>
              <%- if (about_link = @subsite.about_link) -%>
                <%= link_to("Read more &raquo;".html_safe, site_page_path(site_slug: @subsite.slug, slug: about_link.link), class: ["btn", "btn-primary"]) %>
              <%- end -%>
              <%= link_to_site_browse("Browse content &raquo;", "Visit site &raquo;", class: ["btn", "btn-primary"]) %>
            </p>
          </div>
        </div>
      <%- end -%>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
