<div class="row">
  <div id="sidebar" class="col-md-3">
    <div class="inner">
      <%- cache [@subsite, 'home-content'] do -%>
        <div id="home-sidebar-news">
          <h2 class="home-sidebar-heading h5"><%= @subsite.title.html_safe %></h2>
            <p>
              <a href="<%= search_action_url %>">
                <img src="<%= thumbnail_for_site(@subsite) %>" class="thumbnail pull-right" alt="<%= @subsite.title.html_safe %>">
              </a>
            </p>
            <%- @page.site_text_blocks.sort { |a,b| a.sort_label <=> b.sort_label }.each do |text_block| -%>
              <%- if text_block.label.present? -%>
                <div class="collection-title"><%= text_block.label %></div>
              <%- end -%>
              <div>
                <%= controller.render_markdown(text_block.markdown) %>
                <hr class="visible-sm">
              </div>
            <%- end -%>
            <div class="clearfix"></div>
          </div>
        </div>
        <div id="home-sidebar-about">
            <%- if (about_link = @subsite.about_link) -%>
              <p><%= link_to("About the collection &raquo;".html_safe, site_page_path(site_slug: @subsite.slug, slug: about_link.link)) %></p>
            <%- end -%>
            <p>
              <%= link_to("Browse the collection &raquo;".html_safe, search_action_url(search_field: (controller.blacklight_config.search_fields.inject(:all_text_teim) {|m, key_val| key_val[1].default ? key_val[0] : m }))) %>
            </p>
        </div>
      <%- end -%>
      <%- if @subsite.show_facets -%>
        <%- @response ||= controller.load_facet_response -%>
        <%= render partial: 'facets', locals: {hide_refine_heading: true, no_id_attr: true} %>
      <%- end -%>
  </div>

  <div id="content" class="col-md-9">
        <div id="home-page-content">

            <div id="home-page-tabs" class="inner">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#featured" data-toggle="tab">Featured</a></li>
                    <% controller.browse_lists&.each do |facet_name, data| %>
                        <li><a href="#tab_<%= facet_name %>" data-toggle="tab"><%= data['display_label'] %></a></li>
                    <% end %>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane fadein active" id="featured">
                        <%= render 'featured_items' %>
                    </div>
                    <% controller.browse_lists&.each do |facet_name, data| %>
                      <%= render template: "pages/#{facet_name}", locals: {facet_name: facet_name, data: data} if data['value_pairs'].present? %>
                    <% end %>
                </div>
            </div> <!--/.inner-->
        </div>
  </div>

</div>
