<div class="row">
  <%- if @subsite.show_facets -%>
    <div id="sidebar" class="col-md-3">
      <div class="inner outline">
          <%- @response ||= controller.load_facet_response -%>
          <%= render partial: 'facets', locals: {hide_refine_heading: true, no_id_attr: true} %>
      </div>
    </div>
  <%- end -%>

  <div id="content" class="col-md-<%= @subsite.show_facets ? 9 : 12 %>">
        <div id="home-page-content">

            <div id="home-page-tabs" class="inner outline">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#featured" data-toggle="tab">Featured</a></li>
                    <% controller.browse_lists&.each do |facet_name, data| %>
                        <li><a href="#tab_<%= facet_name %>" data-toggle="tab"><%= data['display_label'] %></a></li>
                    <% end %>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane fadein active" id="featured">
                        <%= render 'featured_items' %>
                    </div>
                    <% controller.browse_lists&.each do |facet_name, data| %>
                      <%= render template: "pages/#{facet_name}", locals: {facet_name: facet_name, data: data} if data['value_pairs'].present? %>
                    <% end %>
                </div>
            </div> <!--/.inner-->
        </div>
  </div>

</div>
