<% doc_presenter = show_presenter(document) %>
<% alignment ||= 'vertical' %>
<% link_helpers ||= [] %>
<div class="inner" <%= "style=\"margin-top:1em;\"".html_safe if alignment != 'vertical' %>>
	<dl class="dl-<%= alignment %>">
		<% document_show_fields(document).each do |solr_fname, field| %>
			<% if solr_fname.to_s == 'dynamically_generated_published_field' %>
				<% publisher_field_value = combined_field_published_string(document) %>
				<% if publisher_field_value.present? %>
					<dt><%= render_document_show_field_label document, :field => solr_fname %></dt>
					<dd><%= publisher_field_value %></dd>
				<% end %>
			<% elsif field.pattern %>
				<% document.to_h.select {|k,v| k =~ field.pattern }.each do | k,v| %>
					<% field_clone = field.clone; field_clone.tap { |c| c.field = k } %>
					<% if should_render_show_field?(document, field_clone) %>
						<dt class="blacklight-<%= k.parameterize %>"><%= render_generated_field_label document, field_clone %></dt>
						<% Array(render_document_dynamic_field_value document, field: k, field_config: field_clone).each do |field_value| -%>
							<dd class="blacklight-<%= k.parameterize %>"><%= field_value %></dd>
						<% end -%>
					<% end %>
				<% end %>
			<% elsif should_render_show_field?(document, field) %>
				<dt class="blacklight-<%= solr_fname.parameterize %>"><%= render_document_show_field_label document, :field => solr_fname %></dt>
				<% Array(doc_presenter.field_value field).each do |field_value| -%>
					<dd class="blacklight-<%= solr_fname.parameterize %>"><%= field_value %></dd>
				<% end -%>
			<% end %>
		<% end %>
		<% document_citation_fields(document).each do |solr_fname, field| %>
			<% if should_render_citation_field?(document, field) %>
				<dt class="blacklight-<%= solr_fname.parameterize %>"><%= render_document_citation_field_label document, :field => solr_fname %></dt>
				<% Array(render_document_citation_field_value document, field: solr_fname).each do |field_value| -%>
					<dd class="blacklight-<%= solr_fname.parameterize %>"><%= field_value %></dd>
				<% end -%>
			<% end %>
		<% end %>
	</dl>
	<% link_helpers.each do |link_helper| %>
		<%= send link_helper, document %>
	<% end %>
</div>
