<% doc_presenter = geo_presenter(document) %>
<div class="inner" style="margin-bottom:1em;padding-bottom:0;">
	<dl class="dl-vertical">
		<% doc_presenter.fields_to_render.each do |solr_fname, field, field_presenter| %>
			<dt class="blacklight-<%= solr_fname.parameterize %>"><%= field_presenter.label('show') %></dt>
			<dd class="blacklight-<%= solr_fname.parameterize %>">
				<ul>
					<% Array(doc_presenter.field_value field).each do |val| -%>
						<li class="<%= 'coordinates' if field.field == 'geo' %>"><%= field.link ? link_to(val, local_facet_search_url(field.field, val)) : val %></li>
					<% end -%>				
				</ul>
			</dd>
		<% end %>
	</dl>
</div>