<nav class="navbar navbar-expand d-flex flex-md-row flex-sm-column" id="site-banner">
    <%= render 'site_title' %>
    <%= render_search_bar  %>
</nav>
<%= render 'secondary_nav' %>

<% if params[:action] == 'home' %>
    <% if controller.carousel_image_paths.present? %>
        <%= render 'home/banner_carousel' %>
    <% else %>
        <%= render 'home/signature_overlay' %>
    <% end %>
    <%= render 'map_search/home' %>
<% end %>
