<div id="content">
<div class="row">
	<div class="col-md-4 order-3">
		<div class="home inner">
			<%- cache ['home-sidenav', @subsite] do -%>
				<div id="link-panel" class="facets sidenav">
					<div class="panel-group">
						<div class="card panel-ui">
							<div class="card-header">
								<h3 class="card-title"><%= link_to_site_browse("BROWSE THE COLLECTION", "VISIT SITE") %></h3>
							</div>
						</div>
						<div class="card panel-ui">
							<%- if (about_link = @subsite.about_link) -%>
								<div class="card-header">
									<h3 class="card-title"><%= link_to("ABOUT THE COLLECTION", site_page_path(site_slug: @subsite.slug, slug: about_link.link)) %></h3>
								</div>
							<%- end -%>
						</div>
					</div>
				</div>
			<%- end -%>
			<%- if @subsite.show_facets -%>
				<%- @response ||= controller.load_facet_response -%>
				<%= render(Dcv::Response::FacetsComponent.new(blacklight_config: (blacklight_config if defined?(blacklight_config)), hide_heading: true, response: @response)) %>
			<%- end -%>
			<hr class="hidden-md hidden-lg">
		</div> <!--/.inner-->
	</div><!--/-->
	<%- cache [@subsite, @page] do -%>
		<%- if @page.has_columns? -%>
			<%- @page.text_block_columns.each_with_index do |column, index| -%>
				<div class="col-md-4 order-1">
					<div class="home inner">
						<%- column.each do |text_block| -%>
							<%- if text_block.label.present? -%>
								<h2 class="h5 text-uppercase"><%= text_block.label %></h2>
							<%- end -%>
							<%= controller.render_markdown(text_block.markdown) %>
							<hr class="visible-sm">
						<%- end -%>
					</div>
				</div>
			<%- end -%>
		<%- else -%>
			<div class="col-md-8 col-md-pull-4">
				<div class="home inner">
					<%- @page.site_text_blocks.sort { |a,b| a.sort_label <=> b.sort_label }.each do |text_block| -%>
						<%- if text_block.label.present? -%>
							<h2 class="h5 text-uppercase"><%= text_block.label %></h2>
						<%- end -%>
						<%= controller.render_markdown(text_block.markdown) %>
						<hr class="visible-sm">
					<%- end -%>
				</div>
			</div>
		<%- end -%>
	<%- end -%>
</div>
</div>
