<% alignment ||= 'vertical' %>
<div class="inner" <%= "style=\"margin-top:1em;\"" if alignment != 'vertical' %>>
	<dl class="dl-<%= alignment %>">
		<% document_show_fields(document).each do |solr_fname, field| %>
			<% if solr_fname.to_s == 'dynamically_generated_published_field' %>
				<% publisher_field_value = combined_field_published_string(document) %>
				<% if publisher_field_value.present? %>
					<dt><%= render_document_show_field_label document, :field => solr_fname %></dt>
					<dd><%= publisher_field_value %></dd>
				<% end %>
			<% elsif should_render_show_field?(document, field) %>
				<dt class="blacklight-<%= solr_fname.parameterize %>"><%= render_document_show_field_label document, :field => solr_fname %></dt>
				<dd class="blacklight-<%= solr_fname.parameterize %>"><%= render_document_show_field_value document, :field => solr_fname %></dd>
			<% end %>
		<% end %>
	</dl>
	<%= render_url_and_catalog_links(document)  if alignment != 'vertical' %>
</div>
