<%- config_form.object.facets.each_with_index do |facet_field, ix| %>
<%= config_form.fields_for "facets", facet_field, index: ix do |field_form| %>
	<div class="form-group panel panel-info" id="facet_fields_<%= field_form.index %>">
		<div class="panel-heading form-inline">
			<div class="panel-heading"><h3 class="panel-title"><%= field_form.object.label %></h3></div>
		</div>
		<div class="panel-body" id="search_fields_<%= field_form.index %>_atts">
			<div class="form-group">
				<label for="site[search_configuration][facets][<%= field_form.index %>][label]">Field Name <span class="glyphicon glyphicon-question-sign" data-tooltip="tooltip-facets-field"></span></label>
				<%= field_form.text_field :field_name %>
			</div>
			<div class="form-group">
				<label for="site[search_configuration][facets][<%= field_form.index %>][label]">Field Label <span class="glyphicon glyphicon-question-sign" data-tooltip="tooltip-facets-label"></span></label>
				<%= field_form.text_field :label %>
			</div>
			<div class="form-group">
				<label for="site[search_configuration][facets][<%= field_form.index %>][limit]">Value Limit <span class="glyphicon glyphicon-question-sign" data-tooltip="tooltip-facets-label"></span></label>
				<%= field_form.text_field :limit %>
			</div>
			<div class="form-group">
				<label for="site[search_configuration][facets][<%= field_form.index %>][limit]">Value Sort <span class="glyphicon glyphicon-question-sign" data-tooltip="tooltip-facets-sort"></span></label>
				<%= field_form.select :sort, Site::FacetConfiguration::VALID_SORTS %>
			</div>
			<div class="form-group">
				<label for="facet_exclusions">Value Exclusions <span class="glyphicon glyphicon-question-sign" data-tooltip="tooltip-facets-exclusions"></span></label>
				<%- (Array(field_form.object.exclusions) + ['']).compact.each_with_index do |exclusion, ix| %>
				<fieldset name="facet_exclusions" class="paneled">
					<%= field_form.text_field :exclusions, multiple: true, value: exclusion, index: ix, placeholder: "Add a value to exclude" %>
					<%- if exclusion.present? %>
						<button class="btn btn-danger" type="button" onclick="this.parentElement.remove();">
						<span class="glyphicon glyphicon-remove"></span> Remove
						</button>
					<%- end %>
				</fieldset>
				<%- end %>
			</div>
			<div class="form-group">
				<label for="facet_value_transforms">Value Transforms <span class="glyphicon glyphicon-question-sign" data-tooltip="tooltip-facets-transforms"></span></label>
				<br>
				<%= field_form.select :value_transforms, Site::FacetConfiguration::VALID_VALUE_TRANSFORMS, {}, multiple: true %>
			</div>
			<div class="form-group">
				<label for="site[search_configuration][facets][<%= field_form.index %>][value_map]">Value Map <span class="glyphicon glyphicon-question-sign" data-tooltip="tooltip-facets-value-map"></span></label>
				<%= field_form.text_field :value_map, disabled: true %>
			</div>
			<div class="form-group">
				<button class="btn btn-danger" type="button" onclick="this.parentElement.remove();">
				<span class="glyphicon glyphicon-remove"></span> Remove Facet Field
				</button>
			</div>
		</div>
	</div>
<%- end %>
<%- end %>
<fieldset id="add_search_field" style="border-width: 0;">
	<button class="btn btn-info" type="button" onclick="addFacetFieldFieldSet(this.parentElement);">
		<span class="glyphicon glyphicon-plus"></span> Add a search field
	</button>
</fieldset>
<div class="hidden tooltips">
  <span id="tooltip-facets-field" title="Facet Field Name">Solr field name to facet on; this field name is subject to the general DLC indexing rules</span>
  <span id="tooltip-facets-label" title="Facet Field Label">How this field should be labeled in the facet sidebar and search interface</span>
  <span id="tooltip-facets-limit" title="Value Limit">The number of facet values to display in the facet sidebar and search interface. Additional values are browsable in a "More" modal window.</span>
  <span id="tooltip-facets-sort" title="Value Sort">How this facet's values should be sorted in the facet sidebar and search interface, either by "natural order" (index) or by number of matching results (count)</span>
  <span id="tooltip-facets-exclusions" title="Value Exclusions">Values that should be excluded from display for this facet in the facet sidebar and search interface</span>
  <span id="tooltip-facets-transforms" title="Value Transforms">How this facet's values should be labeled in facet sidebar and search interface</span>
  <span id="tooltip-facets-value-map" title="Value Map">A translation map for facet value labels; this requires developer support</span>
</div>
