<%= config_form.fields_for :map_configuration, @subsite.search_configuration.map_configuration do |map_form| %>
	<div class="panel panel-info">
		<div class="panel-heading"><h3 class="panel-title">Enable/Disable Result Displays</h3></div>
		<div class="panel-body">
			<div class="form-group">
				<label for="site_search_configuration_map_configuration_enabled">Enabled <span class="glyphicon glyphicon-question-sign" data-tooltip="tooltip-map-enable"></span></label>
				<%= map_form.check_box :enabled, {}, "true", "false" %>
			</div>
			<div class="form-group">
				<label for="site_search_configuration_map_configuration_show_sidebar">Show Sidebar <span class="glyphicon glyphicon-question-sign" data-tooltip="tooltip-map-show-sidebar"></span></label>
				<%= map_form.check_box :show_sidebar, {}, "true", "false" %>
			</div>
		</div>
	</div>
	<div class="panel panel-info">
		<div class="panel-heading"><h3 class="panel-title">Map Interface Configuration</h3></div>
		<div class="panel-body">
			<div class="form-group">
				<label for="site_search_configuration_map_configuration_default_lat">Default Latitude <span class="glyphicon glyphicon-question-sign" data-tooltip="tooltip-map-default-coords"></span></label>
				<%= map_form.text_field :default_lat %>
			</div>
			<div class="form-group">
				<label for="site_search_configuration_map_configuration_default_long">Default Longitude <span class="glyphicon glyphicon-question-sign" data-tooltip="tooltip-map-default-coords"></span></label>
				<%= map_form.text_field :default_long %>
			</div>
			<div class="form-group">
				<label for="site_search_configuration_map_configuration_granularity_search">Default Search Granularity <span class="glyphicon glyphicon-question-sign" data-tooltip="tooltip-map-granularity"></span></label>
				<%= map_form.select(:granularity_search, options_for_select(Site::MapConfiguration::VALID_GRANULARITY_VALUES.keys.map {|v| [v.titlecase, v]}, @subsite.search_configuration.map_configuration.granularity_search || 'country'), {class: ['form-control']}) %>
			</div>
			<div class="form-group">
				<label for="site_search_configuration_map_configuration_granularity_data">Coordinate Data Granularity <span class="glyphicon glyphicon-question-sign" data-tooltip="tooltip-map-granularity"></span></label>
				<%= map_form.select(:granularity_data, options_for_select(Site::MapConfiguration::VALID_GRANULARITY_VALUES.keys.map {|v| [v.titlecase, v]}, @subsite.search_configuration.map_configuration.granularity_data || 'city'), {class: ['form-control']}) %>
			</div>
			<div class="form-group">
				<label for="site_search_configuration_map_configuration_show_items">Show Items on Map <span class="glyphicon glyphicon-question-sign" data-tooltip="tooltip-map-show-items"></span></label>
				<%= map_form.check_box :show_items, {disabled: true}, "true", "false" %>
			</div>
		</div>
	</div>
<%- end %>
<div class="hidden tooltips">
  <span id="tooltip-map-enable" title="Enable Mapped Results">Configure the site to display items on a map.</span>
  <span id="tooltip-map-show-sidebar" title="Show Map Sidebar in Search">Configure the site to display the current page of search results on a sidebar map.</span>
  <span id="tooltip-map-show-items" title="Show Individual Items in Mapped Results">When enabled and search results on a map have multiple results in a location, clicking the location pin should show a thumbnail list. When disabled, the map will display a link back to a traditional search. Editing is currently disabled.</span>
  <span id="tooltip-map-granularity" title="Default Search/Coordinate Data Granularity">These properties indicate the presumed granularity of mapped results display (indicating default zoom level of map) and coordinate data (maximum zoom level). The coordinate data granularity should be at least as specific as the search granularity. Valid values are 'street', 'city', 'country', and 'global'.</span>
  <span id="tooltip-map-default-coords" title="Default Latitude/Longitude">These properties indicate the default center point for mapped search results.</span>
</div>
