<div class="form-group card bg-info search_field" id="search_fields_<%= field_form.index %>">
	<div class="card-heading form-inline">
		<div class="card-heading"><h3 class="card-title"><%= field_form.object.new_record? ? 'New' : field_form.object.type.titlecase %> Search</h3></div>
	</div>
	<div class="card-body" id="search_fields_<%= field_form.index %>_atts">
		<div class="form-group">
			<%- if field_form.object.new_record? %>
				<label for="site[search_configuration][search_fields][<%= field_form.index %>][type]">Field Type <span class="fa fa-question-circle" data-tooltip="tooltip-search-fields-label"></span></label>
				<%= field_form.select :type, Site::SearchFieldConfiguration::VALID_TYPES %>
			<%- else %>
				<%= field_form.hidden_field :type %>
			<%- end %>
			<label for="site[search_configuration][search_fields][<%= field_form.index %>][label]">Field Label <span class="fa fa-question-circle" data-tooltip="tooltip-search-fields-label"></span></label>
			<%= field_form.text_field :label %>
		</div>
		<div class="form-group">
			<button class="btn btn-danger" type="button" onclick="$(this).closest('.search_field').remove();">
			<span class="fa fa-remove"></span> Remove Search Field
			</button>
		</div>
	</div>
</div>
