<%- 
	if @subsite.slug =~ /restricted\//
		slug_param = @subsite.slug.sub('restricted/', '')
		site_edit = edit_restricted_site_path(slug: slug_param)
	else
		site_edit = edit_site_path(slug: @subsite.slug)
	end
-%>
<h1>Editing <%= @subsite.slug %> search configuration</h1>
<%= render partial: "sites/edit/edit_buttons" %>
<div class="container">
  <div class="card swatch-info" id="site_edit_context_about">
    <div class="card-header"><h2 class="card-title">About Search Configuration <button type="button" class="btn btn-primary collapse-toggle collapsed" data-toggle="collapse" data-target="#site_edit_context_about_content" aria-expanded="false" aria-controls="site_edit_context_about_content" data-parent="#site_edit_context_about"><%= collapse_labels("") %></button></h2></div>
    <div class="card-body collapse collapsed" id="site_edit_context_about_content">
      <p>Sites with <strong>local</strong> searches may configure search behaviors within the scope of their search. The facet, search type, and search field configurations managed here apply only to the site's search: The general catalog (or any other site that also includes an item here) have independently configured searches.</p>
      <p>If a site has the <strong>catalog</strong> search type, it delegates its search to the catalog and the configurations here will have no effect.</p>
    </div>
  </div>
</div>
<%- if @subsite.search_type != 'local' %>
	<div class="container">
		<div class="card bg-warning">
			<div class="card-header"><h2 class="card-title">Configuration May Not Apply!</h2></div>
			<div class="card-body">The properties configured below are for sites with a local search. This site has a <%= @subsite.search_type %> search. This can be changed in the <%= link_to('site properties', site_edit) %>.</div>
		</div>
	</div>
<% end -%>
<div class="container"><%= render 'sites/search_configuration/form' %></div>
<div class="hidden widget-templates">
<%- buffer = "" %>
<%- form_for(@subsite, builder: ::ValueIndexableFormBuilder) do |site_form| %>
	<%- site_form.fields_for(:search_configuration, @subsite.search_configuration)  do |config_form| %>
		<%- config_form.fields_for "search_fields", Site::SearchFieldConfiguration.new, index: '9fieldIndex9' do |field_form| %>
			<%- buffer << render(partial: 'sites/search_configuration/search_field_form', locals: {field_form: field_form }) %>
		<%- end %>
		<%- config_form.fields_for "facets", Site::FacetConfiguration.new, index: '9fieldIndex9' do |field_form| %>
			<%- buffer << render(partial: 'sites/search_configuration/facet_field_form', locals: {field_form: field_form }) %>
		<%- end %>
	<%- end %>
<%- end %>
<%= buffer.html_safe %>
</div>