<div id="child-viewer" class="inner">
  <% parent_title = document.title %>
  <p id="child-viewer-subtitle">&nbsp;</p>
  <div id="child-viewer-carousel">
    <!-- Borrow carousel layout from ContentAggregator -->
    <div class="carousel-inner">
        <% can_access = can_access_asset?(document) %>
        <% doc_title = document.title %>
        <% doc_pid = document[:fedora_pid_uri_ssi].split('/')[-1] %>
        <% dc_type = document[:dc_type_ssm]&.first %>
        <% is_image = is_image_document?(document) %>
        <% fake_child = document.to_h.merge({id: doc_pid, pid: doc_pid, dc_type: dc_type}) %>
        <% local_downloads = is_publicly_available_asset?(document) %>
        <div class="carousel-item active"
          role="option" data-child-number="0" data-child-title="<%= h(doc_title) %>"
          >
          <div class="child-content">
            <% dc_type_string = dc_type.underscore.gsub(/\s+/, '_').sub('audio', 'sound').sub('video', 'moving_image') %>
            <% if can_access && ['sound', 'moving_image', 'software'].include?(dc_type_string) %>
              <%= render partial: "content_aggregator/child_viewer/#{dc_type_string}", locals: { child: fake_child, child_index: 0, document: document, local_downloads: local_downloads } %>
            <% else %>
              <%- # Render image (or placeholder) -%>
              <%= render partial: "content_aggregator/child_viewer/image", locals: { child: fake_child, child_index: 0, document: document, local_downloads: local_downloads } %>
            <% end %>
          </div>
          <%= render partial: 'content_aggregator/disclaimer', locals: { document: document, asset: fake_child.with_indifferent_access } %>
        </div>
    </div>
  </div>

  <%- use_unavailable_image_placeholder = false %>
  <% unless defined?(use_unavailable_image_placeholder) && use_unavailable_image_placeholder == false %>
    <div>
      <img id="image-unavailable-img" class="img-responsive" src="<%= get_asset_url(id: 'placeholder:unavailable', size: 256, type: 'full', format: 'jpg') %>" />
    </div>
  <% end %>
</div>