<h1>Editing <%= link_to(@subsite.slug, site_path(slug: @subsite.slug)) %></h1>
<div class="container"><%= form_for @subsite, url: { action: "update",  }, html: { } do |site_form| %>
  <div class="panel panel-primary">
    <div class="panel-heading"><h2 class="panel-title">Site Properties</h2></div>
    <div class="panel-body site_properties">
      <div class="form-group">
        <label for="site_title">Title</label>
        <%= site_form.text_field :title, {disabled: true, class: ['form-control', 'disabled']} %>
      </div>
      <div class="form-group">
        <label for="site_title">Alternative Title</label>
        <%= site_form.text_field :alternative_title, class: ['form-control'] %>
      </div>
      <div class="form-group">
        <label for="site_palette">Site Palette</label>
        <%= site_form.select(:palette, options_for_select([['DLC Default', 'default'], ['Dark', 'monochromeDark'], ['Light', 'monochromeLight'], ['Blue', 'blue']], @subsite.palette), {class: ['form-control']}) %>
      </div>
      <div class="form-group">
        <label for="site_layout">Site Layout</label>
        <%= site_form.select(:layout, options_for_select([['DLC Default', 'default'], ['Portrait', 'portrait'], ['Gallery', 'gallery'], ['Signature', 'signature']], @subsite.layout), {class: ['form-control']}) %>
      </div>
      <div class="form-group">
        <label for="site_search_type">Search Type</label>
        <%= site_form.select(:search_type, options_for_select(Site::VALID_SEARCH_TYPES.map {|v| [v.titlecase, v]}, @subsite.search_type), {class: ['form-control']}) %>
      </div>
      <div class="form-group">
        <label for="site[show_facets]">Show Home Page Facets</label>
        <div class="radio">
          <label>
            <%= site_form.radio_button :show_facets, true %>Show facet panel on home page
          </label>
        </div>
        <div class="radio">
          <label>
            <%= site_form.radio_button :show_facets, false %>No home page facet panel
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading"><h2 class="panel-title">Site Homepage Images</h2></div>
    <div class="panel-body site_homepage_images">
      <div class="form-group">
        <label for="site_image_uris">Site Image PID URIs</label>
        <%- site_form.object.image_uris.each_with_index do |image_uri, ix| %>
          <fieldset name="site_image_uris" class="paneled">
              <%= site_form.text_field :image_uris, multiple: true, value: image_uri, id: "site_image_uris[#{ix}]" %>
              <%- if ix > 0 %>
                <input type="button" class="btn btn-danger" value="Remove" onclick="this.parentElement.remove();"/>
              <%- end %>
          </fieldset>
        <%- end %>
        <fieldset id="add_site_image_uri" style="border-width: 0;">
            <input type="button" class="btn btn-info" value="Add a URI" onclick="addSiteImageUriFieldSet(this.parentElement);" />
        </fieldset>
      </div>
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading"><h2 class="panel-title">Site Editors</h2></div>
    <div class="panel-body site_editors">
      <div class="form-group">
        <label for="site_editor_uids">Site Editor UNIs</label>
        <p>DLC admins: Enter the comma-separated UNIs of CUL employees authorized to edit this site.</p>
        <%= site_form.text_area(:editor_uids, {value: @subsite.editor_uids.join(",\n"), class: ['form-control'], disabled: !can?(:admin, @subsite)}) %>
      </div>
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading"><h2 class="panel-title">Site Pages</h2></div>
    <div class="panel-body site_pages">
      <%- @subsite.site_pages.each do |page| -%>
        <div class="row">
          <div class="col-md-3"><%= page.slug %></div>
          <div class="col-md-3"><%= page.title %></div>
          <div class="col-md-3"><%= link_to("Edit", edit_site_page_path(site_slug: @subsite.slug, slug: page.slug)) %></div>
          <div class="col-md-3"><%= link_to("Delete", site_page_path(site_slug: @subsite.slug, slug: page.slug), method: :delete) unless page.slug == 'home' %></div>
        </div>
      <%- end -%>
      <div class="row">
        <div class="col-md-3"><%= link_to("Add Page", new_site_page_path(site_slug: @subsite.slug)) %></div>
      </div>
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading"><h2 class="panel-title">Site Navigation</h2></div>
    <div class="panel-body site_navigation">
      <%= site_form.fields_for :nav_menus do |menu_form| %>
        <div class="panel panel-info site_navigation_menu" id="site_navigation_menu_<%= menu_form.index %>">
          <div class="panel-heading form-inline">
            <div class="form-group">
              <span class="glyphicon glyphicon-move site_navigation_menu_handle"></span>
              <label for="site[nav_menus_attributes][<%= menu_form.index %>][label]">Group Label</label>
              <%= menu_form.text_field :label, { disabled: true, :class => ['form-control', 'disabled'] } %>
              <button type="button" class="btn btn-primary collapse-toggle collapsed" data-toggle="collapse" data-target="#site_navigation_links_<%= menu_form.index %>" aria-expanded="false" aria-controls="site_navigation_links_<%= menu_form.index %>" data-parent="site_navigation_menu_<%= menu_form.index %>">Links</a>
            </div>
            <div class="pull-right">
              <a class="btn btn-danger remove" onclick="removeNavMenu(this); return false;"><span class="glyphicon glyphicon-remove"></span> Remove Group</a>
            </div>
          </div>
          <div class="panel-body collapse site_navigation_links" id="site_navigation_links_<%= menu_form.index %>">
            <%= menu_form.fields_for :links do |link_form| %>
              <div class="panel panel-default site_navigation_link">
                <div class="panel-heading form-horizontal">
                  <div class="form-group">
                    <label class="control-label col-md-2" for="site[nav_menus_attributes][<%= menu_form.index %>][links_attributes][<%= link_form.index %>][label]"><span class="glyphicon glyphicon-move site_navigation_link_handle pull-left"></span> Link Label</label>
                    <div class="col-md-8">
                      <%= link_form.text_field :label, { disabled: true, :class => ['form-control', 'disabled'] } %>
                    </div>
                    <div class="col-md-2">
                      <a class="btn btn-danger remove" onclick="removeNavLink(this); return false;"><span class="glyphicon glyphicon-remove"></span> Remove Link</a>
                    </div>
                  </div>
                </div>
                <div class="panel-body">
                  <div class="form-group">
                    <label for="site[nav_menus_attributes][<%= menu_form.index %>][links_attributes][<%= link_form.index %>][link]">Links To</label>
                    <%= link_form.text_field :link, { disabled: true, :class => ['form-control', 'disabled'] } %>
                  </div>
                  <div class="form-group">
                    <label for="site[nav_menus_attributes][<%= menu_form.index %>][links_attributes][<%= link_form.index %>][external]">Link Type</label>
                    <div class="radio">
                      <label>
                        <%= link_form.radio_button :external, true, { disabled: true, :class => ['disabled'] } %>Links to a full or relative url
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <%= link_form.radio_button :external, false, { disabled: true, :class => ['disabled'] } %>Links to an in-site page by slug
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            <%- end %>
            <input type="button" onclick="addNavLink(this);" value="Add Link" class="btn btn-primary" />
          </div>
        </div>
      <%- end %>
      <input type="button" onclick="addNavMenu(this);" value="Add Navigation Menu" class="btn btn-primary" />
    </div>
    <div class="hide nav-templates">
        <div class="panel panel-info site_navigation_menu" id="site_navigation_menu_9menuIndex9">
          <div class="panel-heading form-inline">
            <div class="form-group">
              <span class="glyphicon glyphicon-move site_navigation_menu_handle"></span>
              <label for="site[nav_menus_attributes][9menuIndex9][label]">Group Label</label>
              <input disabled="disabled" class="form-control disabled" type="text" value="" name="site[nav_menus_attributes][9menuIndex9][label]" id="site_nav_menus_attributes_9menuIndex9_label" />
              <button type="button" class="btn btn-primary collapse-toggle collapsed" data-toggle="collapse" data-target="#site_navigation_links_9menuIndex9" aria-expanded="false" aria-controls="site_navigation_links_9menuIndex9" data-parent="site_navigation_menu_9menuIndex9">Links</a>
            </div>
            <div class="pull-right">
              <a class="btn btn-danger remove" onclick="removeNavMenu(this); return false;"><span class="glyphicon glyphicon-remove"></span> Remove Group</a>
            </div>
          </div>
          <div class="panel-body collapse site_navigation_links" id="site_navigation_links_9menuIndex9">
            <input type="button" onclick="addNavLink(this);" value="Add Link" class="btn btn-primary" />
          </div>
        </div>
        <div class="panel panel-default site_navigation_link">
          <div class="panel-heading form-horizontal">
            <div class="form-group">
              <label class="control-label col-md-2" for="site[nav_menus_attributes][9menuIndex9][links_attributes][9linkIndex9][label]"><span class="glyphicon glyphicon-move site_navigation_link_handle"></span> Link Label</label>
              <div class="col-md-8">
                <input disabled="disabled" class="form-control disabled" type="text" value="" name="site[nav_menus_attributes][9menuIndex9][links_attributes][9linkIndex9][label]" id="site_nav_menus_attributes_9menuIndex9_links_attributes_9linkIndex9_label">
              </div>
              <div class="col-md-2">
                <a class="btn btn-danger remove" onclick="removeNavLink(this); return false;"><span class="glyphicon glyphicon-remove"></span> Remove Link</a>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <label for="site[nav_menus_attributes][9menuIndex9][links_attributes][9linkIndex9][link]">Links To</label>
              <input disabled="disabled" class="form-control disabled" type="text" value="" name="site[nav_menus_attributes][9menuIndex9][links_attributes][9linkIndex9][link]" id="site_nav_menus_attributes_9menuIndex9_links_attributes_9linkIndex9_link">
            </div>
            <div class="form-group">
              <label for="site[nav_menus_attributes][9menuIndex9][links_attributes][9linkIndex9][external]">Link Type</label>
              <div class="radio">
                <label>
                  <input disabled="disabled" class="disabled" type="radio" checked="checked" value="true" name="site[nav_menus_attributes][9menuIndex9][links_attributes][9linkIndex9][external]" id="site_nav_menus_attributes_9menuIndex9_links_attributes_9linkIndex9_external_true">Links to a full or relative url
                </label>
              </div>
              <div class="radio">
                <label>
                  <input disabled="disabled" class="disabled" type="radio" value="false" name="site[nav_menus_attributes][9menuIndex9][links_attributes][9linkIndex9][external]" id="site_nav_menus_attributes_9menuIndex9_links_attributes_9linkIndex9_external_false">Links to an in-site page by slug
                </label>
              </div>
            </div>
          </div>
      
    </div>
  </div>
  <div class="panel">
    <%= submit_tag "Update Site Information", {class: ['btn', 'btn-default']} %>
  </div>
<% end %></div>