<%-
  if @subsite.slug =~ /restricted\//
    slug_param = @subsite.slug.sub('restricted/', '')
    search_edit = edit_restricted_site_search_configuration_path(site_slug: slug_param)
    site_view = restricted_site_path(slug: slug_param)
  else
    search_edit = edit_site_search_configuration_path(site_slug: @subsite.slug)
    site_view = site_path(slug: @subsite.slug)
  end
-%>
<h1>Editing <%= @subsite.slug %> site properties</h1>
<%= render partial: "sites/edit/edit_buttons" %>
<div class="container">
  <div class="card border-info" id="site_edit_context_about">
    <div class="card-header swatch-info"><h2 class="card-title">About Site Properties <button type="button" class="btn btn-secondary collapse-toggle collapsed" data-toggle="collapse" data-target="#site_edit_context_about_content" aria-expanded="false" aria-controls="site_edit_context_about_content" data-parent="#site_edit_context_about"><%= collapse_labels %></button></h2></div>
    <div class="card-body collapse collapsed" id="site_edit_context_about_content">
      <p>The site properties managed here govern the overall appearance and function of the site. More detailed configuration of the content in scope for the site, its search functions, permissions, and site page content is available on the other admin pages linked here.</p>
      <p>The properties managed here also include the secondary navigation bar of the site. Individual page content is managed under the Edit Page menu.</p>
    </div>
  </div>
</div>
<div class="container"><%= form_for @subsite, builder: ::ValueIndexableFormBuilder, url: site_view do |site_form| %>
  <div class="card border-secondary">
    <div class="card-header swatch-secondary"><h2 class="card-title">Site Properties</h2></div>
    <div class="card-body site_properties">
      <div class="form-group">
        <label for="site_title">Title <span class="fa fa-question-circle" data-tooltip="tooltip-title"></span></label>
        <%= site_form.text_field :title, class: ['form-control', 'disabled'], disabled: true %>
      </div>
      <div class="form-group">
        <label for="site_title">Alternative Title <span class="fa fa-question-circle" data-tooltip="tooltip-subtitle"></span></label>
        <%= site_form.text_field :alternative_title, class: ['form-control'], placeholder: (repository_physical_location(@subsite.repository_id) if @subsite.repository_id) %>
      </div>
      <div class="form-group">
        <label for="site_palette">Site Palette <span class="fa fa-question-circle" data-tooltip="tooltip-palette"></span></label>
        <%= site_form.select(:palette, options_for_select([['DLC Default', 'default'], ['Dark', 'monochromeDark'], ['Light', 'monochrome'], ['Blue', 'blue']], @subsite.palette), {class: ['form-control']}) %>
      </div>
      <div class="form-group">
        <label for="site_layout">Site Layout <span class="fa fa-question-circle" data-tooltip="tooltip-layout"></span></label>
        <%= site_form.select(:layout, options_for_select([['DLC Default', 'default'], ['Portrait', 'portrait'], ['Gallery', 'gallery'], ['Signature', 'signature']], @subsite.layout), {class: ['form-control']}) %>
      </div>
      <div class="form-group">
        <label for="site_search_type">Search Type <span class="fa fa-question-circle" data-tooltip="tooltip-search-type"></span></label>
        <%= site_form.select(:search_type, options_for_select(Site::VALID_SEARCH_TYPES.map {|v| [v.titlecase, v]}, @subsite.search_type), {class: ['form-control']}) %>
        <%= link_to("Edit local search configurations", search_edit) %>
      </div>
      <div class="form-group">
        <label for="site[show_facets]">Show Home Page Facets <span class="fa fa-question-circle" data-tooltip="tooltip-homepage-facets"></span></label>
        <div class="radio">
          <label>
            <%= site_form.radio_button :show_facets, true %>Show facet panel on home page
          </label>
        </div>
        <div class="radio">
          <label>
            <%= site_form.radio_button :show_facets, false %>No home page facet panel
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="card border-secondary">
    <div class="card-header swatch-secondary"><h2 class="card-title">Site Homepage Images</h2></div>
    <div class="card-body site_homepage_images">
      <div class="form-group card swatch-info" id="portrait_images">
        <div class="card-header form-inline">
          <div class="form-group">
            <label for="site_image_uris">Portrait Layout Images <span class="fa fa-question-circle" data-tooltip="tooltip-images-portrait"></span></label>
            <button type="button" class="btn btn-primary collapse-toggle <%= @subsite.layout == Site::LAYOUT_PORTRAIT ? 'show' : 'collapsed' %>" data-toggle="collapse" data-target="#portrait_image_pids" aria-expanded="false" aria-controls="portrait_image_pids" data-parent=".site_homepage_images"><%= collapse_labels("Image PIDs") %></button>
          </div>
        </div>
        <div class="card-body collapse <%= @subsite.layout == Site::LAYOUT_PORTRAIT ? 'show' : 'collapsed' %>" id="portrait_image_pids">
          <%- site_form.object.image_uris.each_with_index do |image_uri, ix| %>
            <%= render partial: "sites/edit/text_list_value", locals: { list_name: [:image_uris], value: image_uri, index: ix, removable: (ix > 0) } %>
          <%- end %>
          <fieldset id="add_site_image_uri" style="border-width: 0;">
            <button class="btn btn-info" type="button" onclick="addValueFieldsetFromTemplate(this.parentElement, 'site_image_uris');">
              <span class="fa fa-plus"></span> Add a PID
            </button>
          </fieldset>
        </div>
      </div>
      <div class="form-group card border-info" id="signature_images">
        <div class="card-header form-inline swatch-info">
          <div class="form-group">
            <label for="site_signature_images">Signature Layout Images <span class="fa fa-question-circle" data-tooltip="tooltip-images-signature"></span></label>
            <button type="button" class="btn btn-primary collapse-toggle <%= @subsite.layout == Site::LAYOUT_SIGNATURE ? 'show' : 'collapsed' %>" data-toggle="collapse" data-target="#signature_image_assets" aria-expanded="false" aria-controls="signature_image_assets" data-parent=".site_homepage_images"><%= collapse_labels("Image Information") %></button>
          </div>
        </div>
        <div class="card-body collapse <%= @subsite.layout == Site::LAYOUT_SIGNATURE ? 'show' : 'collapsed' %>" id="signature_image_assets">
          <fieldset class="paneled">
            <div class="col-md-6">
              <label for="site_banner">Signature Banner Image&nbsp;</label><span class="fa fa-question-circle" data-tooltip="tooltip-images-signature-banner"></span>
              <%= site_form.file_field :banner %>
            </div>
            <div class="col-md-6">
              <%= render partial: "edit/signature_image_preview" %>
            </div>
          </fieldset>
          <fieldset class="paneled">
            <div class="col-md-6">
              <label for="site_watermark">Signature/Watermark Image&nbsp;</label><span class="fa fa-question-circle" data-tooltip="tooltip-images-signature-watermark"></span>
              <%= site_form.file_field :watermark %>
            </div>
            <div class="col-md-6">
              <div class="well banner image-preview palette-<%= @subsite.palette %><%= ' default' unless @subsite.has_watermark_image?%>" style="background-image: url('<%= signature_image_path %>');">
                <%- if @subsite.has_watermark_image? %>
                  <div class="overlay download">
                    <a href="<%= signature_image_path %>" download="<%= "#{@subsite.slug}-#{File.basename(signature_image_path)}"%>">Download Current Watermark Image</a>
                  </div>
                <%- else %>
                  <div class="overlay">DEFAULT IMAGE</div>
                <%- end %>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
  <div class="card border-secondary">
    <div class="card-header swatch-secondary"><h2 class="card-title">Site Pages</h2></div>
    <div class="card-body site_pages">
      <table class="container">
        <tbody>
      <%- @subsite.site_pages.each do |page| -%>
        <tr class="row">
          <td class="col-md-3"><%= page.slug %></td>
          <td class="col-md-5"><%= page.title %></td>
          <td class="col-md-2"><%= @subsite.restricted ? link_to(edit_restricted_site_page_path(site_slug: @subsite.slug.sub('restricted/',''), slug: page.slug)) : link_to(edit_site_page_path(site_slug: @subsite.slug, slug: page.slug), class: ['btn', 'btn-primary']) do %>
                <span class="fa fa-pencil"></span> Edit
            <% end %>
          </td>
          <td class="col-md-2">
            <%- unless page.slug == 'home' %>
              <%= link_to(site_page_path(site_slug: @subsite.slug, slug: page.slug), method: :delete, data: {confirm: "Are you sure you want to delete page and content at #{page.slug}? It cannot be undone."}, class: ['btn btn-danger']) do  %>
                <span class="fa fa-remove"></span> Delete
                <% end %>
            <%- end %>
          </td>
        </tr>
      <%- end -%>
        </tbody>
        <tfoot class="row">
          <tr>
            <td>
            <%= link_to(new_site_page_path(site_slug: @subsite.slug), class: ['btn btn-info']) do %>
              <span class="fa fa-plus"></span> Add Page
            <% end %>
          </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <div class="card border-secondary">
    <div class="card-header swatch-secondary"><h2 class="card-title">Site Navigation</h2></div>
    <div class="card-body site_navigation">
      <%= site_form.fields_for :nav_menus do |menu_form| %>
        <%= render partial: "sites/edit/navigation_menu_form", locals: { menu_form: menu_form } %>
      <%- end %>
      <button type="button" onclick="addNavMenu(this);" value="Add Navigation Menu" class="btn btn-info" >
        <span class="fa fa-plus"></span> Add Navigation Group
      </button>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <%= submit_tag "Update Site Information", {class: ['btn', 'btn-warning']} %>
    </div>
  </div>
<% end %>
<div class="hidden tooltips">
  <span id="tooltip-title" title="Site Title">The title of the site. This is data published from Hyacinth and should not be edited here.</span>
  <span id="tooltip-subtitle" title="Alternative Title">The subtitle of the site. If blank and the Hyacinth data for the site includes a Library Location, that library's name will be used in some layouts.</span>
  <span id="tooltip-nav-menu-label" title="Link Group Label">The label for this group of links, which will be presented as a drop-down menu if there are multiple links. If the group has only one link, the group label will not be displayed and the link will be presented directly in the site navigation bar.</span>
  <span id="tooltip-nav-link-label" title="Link Label">The label used for a link in a drop-down menu or, if it is the only link in a group, the site navigation bar.</span>
  <span id="tooltip-nav-link" title="Link To">The URL associated with this link. Full URLs will indicate that they are links to external resources. If a page slug is given and the link is marked as internal, a link to the named page will be built.</span>
  <span id="tooltip-layout" title="Site Layout">The overall layout of markup for the site, governing the homepage and any configured site pages. "DLC default" defers to the design team's default configurations. See the <a href="https://resolver.library.columbia.edu/dlc-editor-docs" target="_blank">site editor documentation</a> for details.</span>
  <span id="tooltip-palette" title="Site Palette">The color scheme for the site, governing the homepage and any configured site pages. "DLC default" defers to the design team's default configurations. See the <a href="https://resolver.library.columbia.edu/dlc-editor-docs" target="_blank">site editor documentation</a> for details.</span>
  <span id="tooltip-search-type" title="Search Type">The search type for the site indicates how search results should be presented. "Catalog" indicates that search results should be presented in the context of filters on the general DLC catalog. "Local" indicates that search results should be presented as an isolated corpus, with the configured site layout and palettes. "Custom" indicates that a developer-implemented custom site provides this site's search, and should generally not be selected. See the <a href="https://resolver.library.columbia.edu/dlc-editor-docs" target="_blank">site editor documentation</a> for details.</span>
  <span id="tooltip-homepage-facets" title="Show Homepage Facets">Configures the display of a facet panel on the site homepage, if supported by the configured layout. Facets are determined by the general DLC Catalog facets, but limited to facets for which the site's content has two or more values. See the <a href="https://resolver.library.columbia.edu/dlc-editor-docs" target="_blank">site editor documentation</a> for details.</span>
  <span id="tooltip-images-portrait" title="Portrait Layout Images">Configures the repository PIDs of images for the site homepage, where supported by the configured layout. See the <a href="https://resolver.library.columbia.edu/dlc-editor-docs" target="_blank">site editor documentation</a> for details.</span>
  <span id="tooltip-images-signature" title="Signature Layout Images">Manages the design assets for a site homepage configured with the signature layout. See the <a href="https://resolver.library.columbia.edu/dlc-editor-docs" target="_blank">site editor documentation</a> for details.</span>
  <span id="tooltip-images-signature-banner" title="Signature Banner Image">The banner image for a site homepage configured with the signature layout. See the <a href="https://resolver.library.columbia.edu/dlc-editor-docs" target="_blank">site editor documentation</a> for details.</span>
  <span id="tooltip-images-signature-watermark" title="Signature/Watermark Image">The signature/watermark image for a site homepage configured with the signature layout. This is an SVG that is overlaid on the banner image. See the <a href="https://resolver.library.columbia.edu/dlc-editor-docs" target="_blank">site editor documentation</a> for details.</span>
</div>
<%- buffer = "" %>
<%- form_for(@subsite, builder: ::ValueIndexableFormBuilder) do |site_form| %>
  <%- buffer << render(partial: "sites/edit/text_list_value", locals: { list_name: [:image_uris], value: "", index: "9valueIndex9", removable: true }) %>
  <%- site_form.fields_for :nav_menus, NavMenu.new(nil), child_index: "9menuIndex9" do |menu_form| %>
    <%- buffer << render(partial: "sites/edit/navigation_menu_form", locals: { menu_form: menu_form }) %>
    <%- menu_form.fields_for :links, NavLink.new, include_id: false, child_index: "9linkIndex9" do |link_form| %>
      <%- buffer << render(partial: "sites/edit/navigation_link_form", locals: { menu_form: menu_form, link_form: link_form }) %>
    <%- end %>
  <%- end %>
<%- end %>
<div class="hidden widget-templates">
  <%= buffer.html_safe %>
</div>
