<% logo_path ||= nil %>
<% if is_image_document?(document) %>
<div id="zoom-gallery" data-url="<%= child_url(parent_id: document['cul_member_of_ssim'].first.split('/')[-1], id: params[:id], :format=>'json') %>">
  <div id="zoom-content" class="openseadragon">
      <div id="zoom-toolbar" class="btn-toolbar mb-0">
        <%= render 'zoom/controls' -%>
      </div>
  </div>
</div>
<% elsif is_text_document?(document) %>
    <object data="<%= bytestream_content_url({catalog_id: document[:id], filename: 'content.pdf', bytestream_id: preferred_content_bytestream(document, /\.pdf$/i), download: false}) %>" type="<%= document.fetch('dc_format_ssm',[]).first || 'application/pdf' %>" width="100%" height="1200px">
    <p>Required plugin appears to be missing.</p>
    <%= link_to '<span class="fa fa-download"></span> Download Original'.html_safe, bytestream_content_url({catalog_id: document[:id], filename: 'content.pdf', bytestream_id: preferred_content_bytestream(document, /\.pdf$/i), download: true}), class: 'btn btn-primary btn-sm' %>
    </object>
<% elsif (document.fetch('dc_type_ssm',[]) & ['Sound', 'Audio']).present? %>
  <%= render partial: 'generic_resource/audio', locals: { child: document, logo_path: logo_path } -%>
<% elsif (document.fetch('dc_type_ssm',[]) & ['MovingImage', 'Video']).present? %>
  <%= render partial: 'generic_resource/video', locals: { child: document, logo_path: logo_path } -%>
<% end %>
<div id="children-links" style="visibility: hidden;">
    <a rel="child"
        data-src="<%= catalog_url(id: CGI.escape(params[:id])) %>.json"
        data-id="<%=params[:id]%>"
        data-zoom-info-url="<%= get_iiif_zoom_info_url(id: document[:id]) %>"
        data-info-url="<%= get_asset_info_url(id: document[:id], image_format: 'jpg') %>"
        data-bytestreams="<%= bytestreams_path(catalog_id: document[:id], :format=>'json') %>"
        data-rftId="<%= get_resolved_iiif_zoom_info_url(id: document[:id]) -%>"></a>
</div>
