<% puts 'structured_children: ' + structured_children.inspect %>

<% if zoomable_image_exists?(document[:id]) %>
	<div id="zoom-gallery" data-url="<%= children_url(document[:id], :per_page=>999) %>">
		<div id="zoom-content" class="openseadragon">
			<div id="zoom-toolbar" class="btn-toolbar">
			<%= render 'zoom/controls' -%>
			</div>
		</div>
	</div>
	<div id="children-links" style="visibility: hidden;">
		<% structured_children.each_with_index do |child, ix| -%>
			<a rel="child" data-src="<%= resolve_catalog_url(id: CGI.escape(child[:id])) %>.json" data-id="<%=child[:id]%>" data-info-url="<%= catalog_resolve_asset_info_path(id: child[:id], format: 'png') %>" data-bytestreams="<%= resolve_catalog_bytestreams_url(catalog_id: child[:id], :format=>'json') %>" data-rftId="<%= child[:rft_id]-%>"></a>
		<% end -%>
	</div>
<% else %>
	The zoomable version of this image is not yet available.
<% end %>
