<% children = structured_children %>
<% if children.present? && zoomable_image_exists_for_resource?(children.first[:pid]) %>
	<div id="zoom-gallery" data-url="<%= children_path(document[:id], :per_page=>999) %>">
		<div id="zoom-content" class="openseadragon">
			<div id="zoom-toolbar" class="btn-toolbar">
			<%= render 'zoom/controls' -%>
			</div>
		</div>
	</div>
	<div id="children-links" style="visibility: hidden;">
		<% children.each_with_index do |child, ix| -%>
			<a rel="child" data-src="<%= resolve_catalog_url(id: CGI.escape(child[:id])) %>.json" data-id="<%=child[:id]%>" data-zoom-info-url="<%= get_resolved_iiif_zoom_info_url(id: child[:id]) %>" data-info-url="<%= get_resolved_asset_info_url(id: child[:id], image_format: 'jpg') %>" data-bytestreams="<%= resolve_catalog_bytestreams_path(catalog_id: child[:id], :format=>'json') %>" data-rftId="<%= child[:rft_id]-%>"></a>
		<% end -%>
	</div>
<% else %>
	The zoomable version of this image is not yet available.
<% end %>
