<div class="panel-group" id="title-accordion">
  <div class="panel">
  	<div class="panel-heading">
      <h2 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#title-accordion" href="#collapseDesc"><%= @page_title -%> <i class="more small glyphicon glyphicon-chevron-right"></i></a>
      </h2>
    </div>
    <div id="collapseDesc" class="panel-collapse collapse">
      <div class="panel-body">
        <dl class="dl-horizontal">
          <% document_show_fields(document).each do |solr_fname, field| -%>
            <% if should_render_show_field? document, field -%>
              <dt class="blacklight-<%= solr_fname.parameterize %>"><%= render_document_show_field_label document, :field => solr_fname %></dt>
              <dd class="blacklight-<%= solr_fname.parameterize %>"><%= render_document_show_field_value document, :field => solr_fname %></dd>
            <% end -%>
          <% end -%>
        </dl>
      </div>
    </div>
  </div>
</div>
