<div class="show-document w-100 my-0" id="content">
	<div id="document" class="document <%= render_document_class %>" itemscope itemtype="<%= @document.itemtype %>">
	  <div id="doc_<%= @document.id.to_s.parameterize %>" class="w-100">
		<%= render_document_partial @document, 'title' unless (params[:title].to_s == 'false')  -%>
		<%= render_document_partial @document, 'show' %>
	  </div>
	</div>
</div>
