<% unless !has_search_parameters? && params[:action] == 'index' %>
<div class="container">
  <div id="site-banner">
	<div class="row">
        <div id="site-banner-inner">
            <div class="col-sm-6">
							<%= link_to 'The Papers of John Jay'.html_safe, jay_index_path, { :id => 'site-title' } %>
            </div>
            <div class="col-sm-6">
							<div id="search-navbar" class="navbar navbar-default slim" role="navigation">
									<%= render_search_bar(false)  %>
							</div>
            </div>
         </div>
	</div><!--/row-->
  </div>
            <div id="secondary-nav" class="">
                 <div class="subnav">
                    <div class="row">
                        <div class="col-sm-12">
                        <ul class="nav nav-pills pull-left" style="font-size: 11px;">
                            <li class="hidden-phone"><a href="<%= jay_index_path %>" class="opacity_50" style="
                                line-height: 0;
                                margin-top: -6px;
                                padding-right: 22px;"><i class="glyphicon glyphicon-home"></i></a>
                            </li>
                                      <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Background Material <b class="caret"></b></a>
                                        <ul class="dropdown-menu list-unstyled dropdown-menu-left">
											<li><a href="<%=jay_biography_path()%>">Biographical Essay</a></li>
											<li><a href="<%=jay_jay_constitution_path()%>">Jay and the Constitution</a></li>
											<li><a href="<%=jay_jayandny_path()%>">Jay and New York</a></li>
										</ul>
                                      </li>
                                      <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">About the Project <b class="caret"></b></a>
                                        <ul class="dropdown-menu list-unstyled dropdown-menu-left">
											<li><a href="<%=jay_about_path()%>">History &amp; Description</a></li>
											<li><a href="<%=jay_collection_path()%>">Source Collections</a></li>
											<li><a href="<%=jay_bibliography_path()%>">Bibliography</a></li>
											<li><a href="http://library.columbia.edu/about/policies/copyright-online-collections.html">Rights &amp; Permissions</a></li>
											<li><a href="<%=jay_participating_institutions_path()%>">Participating Institutions</a></li>
										</ul>
                                      </li>
                        </ul>
                        </div><!--/-->
                            </div><!--/row-->
                         </div><!--/subnav-->
                    </div>

</div>
<% end %>
