<h3 class="nomar-t">Jay and Slavery</h3>

                <p>Although John Jay’s father, Peter Jay, 
                    was one of the largest slave owners in New York, the son became 
                    a leading advocate of manumission. Immediately after Independence 
                    in 1777, while helping to draft New York State’s first constitution, 
                    Jay sought to abolish slavery but was overruled <a href="<%= jay_url_converter("columbia.jay.02819") %>">(see 
                    John Jay to Robert R. Livingston, Gouverneur Morris, 4/29/1777, 
                    Jay ID #2819)</a>. He continued his call for emancipation 
                    in private correspondence. “I should also have been 
                    for a clause against the continuation of domestic slavery,” 
                    wrote Jay to political colleagues while reviewing drafts of the 
                    constitution. </p>
                
                          <p>In 1785 Jay and a few close friends, mostly slave 
                            owners, founded the New York State Society for Promoting the Manumission 
                            of Slaves <a href="<%= jay_url_converter("columbia.jay.00630") %>">(see 
                            Minutes of the Manumission Society of New York, v.1, 1785).</a> The 
                            Society entered lawsuits on behalf of slaves and organized boycotts. 
                            Jay also advocated subsidizing black education. “I consider 
                            education to be the soul of the republic,” he wrote to Benjamin Rush 
                            in 1785. “I wish to see all unjust and all unnecessary discriminations 
                            everywhere abolished, and that the time may soon come when all our inhabitants 
                            of every colour and denomination shall be free and equal partakers of 
                            our political liberty” <a href="<%= jay_url_converter("columbia.jay.09450") %>">(see 
                            John Jay to Dr. Benjamin Rush, 3/24/1785, Jay ID #9450)</a>. In 
                            1787, he helped found New York’s African Free School, which by December 
                            1788 had fifty-six students and which he continued to support financially 
                            <a href="<%= jay_url_converter("columbia.jay.09603") %>">(see 
                            John Jay to John Murray, Jr., 10/18/1805, Jay ID #9603)</a>.  By 
                            the time the Manumission Society surrendered management to New York City 
                            in 1834, the school had educated well over 1,000 students. </p>
                                <p>Although he owned slaves himself, Jay had 
                                    an explanation for this seemingly contradictory practice:  “I 
                                    purchase slaves and manumit them at proper ages and when their 
                                    faithful services shall have afforded a reasonable retribution.” 
                                    His attitude toward slavery in New York followed the same gradualist 
                                    line <a href="<%= jay_url_converter("columbia.jay.07513") %>">(see 
                                    John Jay to Egbert Benson, 9/18/1780, Jay ID #1713)</a>. In 
                                    1799 as governor of the state, Jay signed into law An Act for 
                                    the Gradual Abolition of Slavery. The measure provided that, 
                                    from July 4th of that year, all children born to slave parents 
                                    would be free (subject only to apprenticeship) and that slave 
                                    exports would be prohibited. These same children would be 
                                    required to serve the mother’s owner until age twenty-eight 
                                    for males and age twenty-five for females. The law thus 
                                    defined the children of slaves as a type of indentured servant 
                                    while slating them for eventual freedom.</p>
                                <p>Some idea of the father’s values can 
                                    be learned from the record of his sons. Jay’s son William 
                                    (1789-1858) was one of the most significant American abolitionists 
                                    of the nineteenth century. William Jay actively participated in 
                                    peace, temperance and anti-slavery movements while serving as 
                                    judge of the county court of Westchester County, New York, for 
                                    most of the period between 1818 and 1843. His son, John 
                                    Jay II (1817-1894) also actively participated in the anti-slavery 
                                    movement. He was a prominent member of the Free Soil Party, 
                                    and was one of the organizers of the Republican Party in New York.</p>
                                <p>When honoring William Jay for his anti-slavery 
                                    labors in 1854, Horace Greeley harked back to the work of John 
                                    Jay: “To Chief Justice Jay may be attributed, more than to 
                                    any other man, the abolition of Negro bondage in this [New York] 
                                    state.”
                                    </p>


<p class="small">
Jake Sudderth<br>
Columbia University
</p>
