<div id="secondary-nav" class="">
	<div class="subnav">
		<div class="row">
			<div class="col-sm-12">
			<ul class="nav nav-pills pull-left">
			  <li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
					<ul class="dropdown-menu list-unstyled dropdown-menu-left">
						<li><a href="<%=carnegie_about_path()%>#about_the_project">About the Project</a></li>
						<li><a href="<%=carnegie_about_path()%>#oral_history_projects">Oral History Projects</a></li>
						<li><a href="<%=carnegie_about_path()%>#about_the_corporation">About the Corporation</a></li>
					</ul>
  			</li>
				<li>
					<a href="<%=carnegie_index_path()%>">Carnegie Digital Archive</a>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="hidden-xs">Related </span>Resources <b class="caret"></b></a>
					<ul class="dropdown-menu list-unstyled dropdown-menu-left">
						<li><a target="_blank" rel="noopener noreferrer" href=" https://library.columbia.edu/locations/rbml/units/carnegie.html">Carnegie Collections at Columbia <sup class="glyphicon glyphicon-new-window" aria-hidden="true"></sup></a></li>
						<li><a target="_blank" rel="noopener noreferrer" href="http://www.columbia.edu/cu/lweb/archival/collections/ldpd_4079753/">Archival Finding Aid <sup class="glyphicon glyphicon-new-window" aria-hidden="true"></sup></a></li>
						<li><a target="_blank" rel="noopener noreferrer" href="https://www.carnegie.org/">Carnegie Corporation of New York <sup class="glyphicon glyphicon-new-window" aria-hidden="true"></sup></a></li>
					</ul>
				</li>
			<li>
				<a href="<%=carnegie_faq_path()%>" title="Frequently Asked Questions">FAQ</a>
			</li>
			</ul>
			<ul class="nav nav-pills pull-right">
			  <li class="inline"><a style="margin-top:-5px;" href="<%= carnegie_map_search_path %>"><span class="glyphicon glyphicon-map-marker"></span> Map<span class="hidden-xs"> Search</span></a></li>
			</ul>
			</div><!--/-->
		</div><!--/row-->
	</div><!--/subnav-->
</div>
