<%#
    This is the layout wrapping the admin UI React app.
    The view file located at app/views/admin/index.html.erb renders the root element for the React app to attach to,
    and the React app's entrypoint is located at app/frontend/entrypoints/admin_ui.tsx -- which is here served
    by Vite.
%>

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta name="robots" content="noindex" />
    <%# <script type="module" crossorigin src="https://toolkit.library.columbia.edu/v5/assets/main.js"></script>
    <%# <link rel="stylesheet" crossorigin href="https://toolkit.library.columbia.edu/v5/assets/main.css"> %>
    <%= vite_client_tag %>
    <%= vite_typescript_tag 'admin_ui.tsx' %>
    <%= vite_stylesheet_tag 'admin_ui.scss' %>

    <%= yield :head %>
  </head>

    <body id="main-content">
      <%= yield %>
    </body>
</html>
