<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <!-- Mobile viewport optimization h5bp.com/ad -->
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <!-- Mobile IE allows us to activate ClearType technology for smoothing fonts for easy reading -->
    <!--[if IEMobile]>
      <meta http-equiv="cleartype" content="on">
    <![endif]-->

    <title><%= render_page_title %></title>
    <%= opensearch_description_tag application_name, opensearch_catalog_path(:format => 'xml', :only_path => false) %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= stylesheet_link_tag    "dcv" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= content_for(:head) %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>
  <body class="<%= render_body_class %> dcv">
  <div id="outer-wrapper" class="container">
    <div class="row">

	  <%= render :partial => 'shared/header_navbar' %>

	  <%= render partial: 'shared/ajax_modal' %>

	  <div id="main-container" class="container">
		<%= render :partial=>'/flash_msg', layout: 'shared/flash_messages' %>

		<%= yield %>

	  </div>

	  <%= render :partial => 'shared/footer' %>

    </div><!--/.row-->
  </div><!--/#outer-wrapper-->

<!-- CULTNBW CUSTOM RIGHT MENU -->
<ul id="cultnbw-custom-right" style="display:none;">
 <!--li><%= link_to application_name, root_path, class: "brand" %></li-->
 <li>
   <%= render :partial=>'/user_util_links' %>
 </li>
</ul><!--//cultnbw-custom-right-->

<!-- CULTNBW START -->
<script type="text/javascript">
  CULh_colorfg = '#000000'; // topnavbar foreground color. hex value. ex: #002B7F
  CULh_colorbg = '#444444'; // topnavbar background color. hex value. ex: #779BC3
  CULh_nobs = 1; // uncomment to NOT load our bootstrap javascript file and or use your own (v2.3.x required)
</script>
<script src="//cdn.cul.columbia.edu/ldpd-toolkit/widgets/cultnbw.min.js"></script>
<!-- /CULTNBW END -->

  </body>
</html>
