<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <%= render partial: 'shared/head_includes' %>
    <%= stylesheet_pack_tag "gallery-#{Dcv::Sites::Constants.default_palette}", :media => 'all'  %>
  </head>
  <body class="<%= render_body_class %> blacklight-dcv %> dcv catalog <%= params[:action] %>" onload="initTiles(<%= params[:initial_page] if params[:initial_page] %>);">

  <div id="outer-wrapper" class="d-flex p-0 mb-0">
    <div id="main-container" class="p-0 w-100">
      <%= render :partial=>'shared/flash_msg', layout: 'shared/flash_messages' %>
      <%= yield %>
    </div>
  </div>
  </body>
</html>
