<% subsite_key = 'durst' %>
<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
		<%= render partial: 'shared/head_html' %>
		<%= stylesheet_link_tag subsite_key %>
		<%= javascript_include_tag subsite_key %>
  </head>
  <body class="<%= render_body_class %> <%= subsite_key %> <%= params[:action] %>" style="padding-top: 50px;">

  <%= render :partial => 'shared/topnavbar' %>

  <div id="outer-wrapper" class="container">
		<div class="row">

		<%#= render partial: 'shared/header_navbar' %>
		<div class="container">
			<div id="site-banner" class="slim" style="margin-bottom:0;">
				<div class="row">
				 <div id="site-banner-inner">
					<div class="col-sm-6">
					 <%= link_to '<span class="hidden-sm">Seymour B. </span>Durst Old York Library'.html_safe, root_path+'durst', { :id => 'site-title' } %>
                     <div id="site-banner-subtitle" class="trajanpro">Avery Architectural &amp; Fine Arts Library</div>
					</div>
					<div class="col-sm-6">
						<div id="search-navbar" class="navbar navbar-default slim" role="navigation">
							<%= render_search_bar(false)  %>
						</div>
					</div>
				 </div>
				</div><!--/row-->
			</div>
			<div id="secondary-nav">
				 <div class="subnav">
					<div class="row">
						<div class="col-sm-8">
						<ul class="nav nav-pills pull-left" style="
							font-size: 11px;
						">
							<li class="hidden-phone"><a href="<%=root_path+'durst'%>" class="opacity_50" style="
							line-height: 0;
							margin-top: -6px;
							padding-right: 22px;
						"><i class="glyphicon glyphicon-home"></i></a></li>
							<li class="hidden-phone"><a href="<%=root_path+'durst'%>#help" title="Collection Help" class="opacity_50" style="
							line-height: 0;
							margin-top: -6px;
							padding-right: 22px;
							padding-left: 22px;
						"><i class="glyphicon glyphicon-question-sign"></i></a></li>
							<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">LEARN MORE <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="#">About the collection</a></li>
									<li><a href="#">About the project</a></li>
									<li><a href="#">Acknowledgements</a></li>
								</ul>
								</div><!--/-->
									<div id="navbar_right_wrapper" class="col-sm-3 pull-right" style="
									font-size: 12px;
									text-align: right;
								">
									<ul class="nav nav-pills pull-right nav-collapse" id="user_util_links">
										<li class="inline">
										<a class="hidden" href="#" id="durst-search-home" title="Toggle Map Search View" style="line-height: 0; margin-top: -7px;"><span class="glyphicon glyphicon-map-marker"></span></a>
										</li>
										<!--li class="inline">
										<a class="text-warning" href="#" id="durst-full-width" title="Toggle Full Width ALT View [dev only]" data-toggle="tooltip" style="line-height: 0; margin-top: -7px;"><span class="glyphicon glyphicon-resize-full"></span></a>
										</li-->
									</ul>
									</div>
							</div><!--/row-->
						 </div><!--/subnav-->
					</div>
				</div>

				<%= render partial: 'shared/ajax_modal' %>

				<div id="main-container" class="container">
				<%= render :partial=>'/flash_msg', layout: 'shared/flash_messages' %>

				<%= yield %>

				</div>

				<%= render :partial => 'shared/footer' %>

		</div><!--/.row-->
	</div><!--/#outer-wrapper-->

  </body>
</html>
