<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
		<%= render partial: 'shared/head_includes' %>
		<%= stylesheet_link_tag subsite_layout, :media => 'all' %>
		<%= javascript_include_tag subsite_layout %>
		
		<script>
			window.CULh_feedback_url = 'https://feedback.cul.columbia.edu/feedback_submission/ifp';
		</script>
  </head>
  <body class="<%= render_body_class %> <%= render_subsite_body_classes %> <%= params[:action] %>" style="padding-top: 50px;">

  <%= render :partial => 'shared/topnavbar' %>

  <div id="outer-wrapper" class="container">
    <div class="row">

	  <%= render partial: 'ifp/header_navbar' %>

	  <%= render partial: 'shared/ajax_modal' %>

	  <div id="main-container" class="col-md-12">
		<%= render :partial=>'/flash_msg', layout: 'shared/flash_messages' %>

		<%= yield %>

	  </div>

	  <%= render :partial => 'ifp/footer' %>

    </div><!--/.row-->
  </div><!--/#outer-wrapper-->

	<%= render :partial => 'shared/footer_includes' %>

  </body>
</html>
