<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<%= render partial: 'shared/head_includes' %>
		<%= stylesheet_pack_tag *Array(subsite_styles) %>
		<script>
			window.CULh_feedback_url = '<%= t("feedback.#{@subsite&.slug}", default: t('feedback.default'))%>';
		</script>
	</head>
	<body class="<%= render_body_class %> dcv <%= render_subsite_body_classes %> <%= params[:action] %>">

	<%= render :partial => 'shared/topnavbar' %>

	<div id="outer-wrapper" class="container-fluid p-0">
		<%= render partial: 'header_navbar' %>

		<%= render partial: 'shared/modal' %>

		<div id="main-container" class="container py-4">
			<%= render :partial=>'shared/flash_msg', layout: 'shared/flash_messages' %>
			<%= render partial: 'shared/alert' %>
			<%= yield %>
		</div>
	</div><!--/#outer-wrapper-->
	<%= render Dcv::FooterComponent.new(subsite: @subsite, repository_id: params[:repository_id]) %>
	</body>
</html>
