<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <!-- Mobile viewport optimization h5bp.com/ad -->
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <!-- Mobile IE allows us to activate ClearType technology for smoothing fonts for easy reading -->
    <!--[if IEMobile]>
      <meta http-equiv="cleartype" content="on">
    <![endif]-->

    <title><%= render_page_title %></title>
    <%= opensearch_description_tag application_name, opensearch_catalog_path(:format => 'xml', :only_path => false) %>
    <%= favicon_link_tag asset_path('favicon.ico') %>

    <script data-turbolinks-eval="false">
      var DCV = {}; // DCV Namespace
    </script>

    <%= stylesheet_link_tag    "dcv" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "dcv" %>
    <%= javascript_include_tag "d3" %>
    <%= javascript_include_tag "freelib" %>
    <%= csrf_meta_tags %>
    <%= content_for(:head) %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  <!-- prototype styles -->
  <style data-turbolinks-eval="false">
    html,body.home {
      height:100%;
      padding-top:0!important;
    }
    a:hover { text-decoration:none; }
    h4.lead { border-bottom:1px solid #888; }
    #topnavbar { background-color:rgba(100,100,100,.4); min-height:44px; }
    #topnavbar * { text-shadow:0 0 2px #000; }
    #topnavbar, #pane-1 .cover, .culpanel, .hide-until-load { display:none; }
    #topnavbar:hover { opacity:1!important; }
    #navbar-container { width:100%; }
    #cul_top-nosearch, #crowndown-nosearch { background:transparent !important; }
    #topnavbar #cul_top-nosearch .dropdown-menu { background:rgba(0,0,0,.7); margin-top:0; }
    #navholder { position:relative; }
    .bgParallax {
      background-size:cover;
      background-repeat:no-repeat;
      background-position:top center;
      background-attachment:fixed;
      display:table;
      vertical-align:middle;
      margin:0 auto;
      width:100%;
      height:100%;
      box-shadow: 0 -5px 5px -5px #888;
    }
    #discover {
      background-color: #111;
      background-image:url(<%= image_path('dcv/ldpd.treasures.243.jpg')%>);
      background-position:center center;
    }
    #explore {
      background-image:url(<%= image_path('dcv/rbml_0819r.jpg')%>);
    }
    #about {
      /*background-image:url(<%= image_path('dcv/rbml_css_0912r.png')%>);*/
      background-image:url(<%= image_path('dcv/1836760843_267e9c947f_o.jpg')%>);
    }
    #home {
      /*background-image:url(<%= image_path('dcv/1836760843_267e9c947f_o-sepc.jpg')%>);*/
      background-image:url(<%= image_path('dcv/1836760843_267e9c947f_o.jpg')%>);
    }
    #home a { color:#fff; }
    #home .carousel-indicators {
      left:0;
      margin-left:0;
      padding-left:15px;
      width:100%;
    }
    #home .carousel-indicators li {
      box-shadow:0 0 1px rgba(0,0,0,.3);
      background-color:rgba(255,255,255,.5);
    }
    #home .carousel-indicators li.active {
      background-color:#fff;
    }
    #slidecaps { position:absolute;bottom:20px;left:10px;z-index:26;display:inline-block;/*width:98%;*/ }
    #home .bgslider-captions {
      text-shadow:0 0 1px rgba(0,0,0,.9);
    }
    .culinner {
      display:table-cell;
      vertical-align:middle;
      text-align:center;
    }
    .culcontainer {
      position:relative;
      max-width:800px;
      margin:0 auto;
    }
    .culpanel {
      width:100%;
      /*min-height:340px;*/
      vertical-align:middle;
      background-color:rgba(0,0,0,.5);
      padding:20px 40px;
      border:1px dotted #666;
      margin:0 auto 0 auto;
      /*box-shadow:0 0 86px rgba(255,255,255,.4);*/
    }
    #about .culpanel {
      max-width:1200px;
      padding:50px 10%;
    }
    #home .culpanel {
      max-width:768px;
      padding:20px;
    }
    #menuholder a:hover { color:#429cec; }
    #menuholder {
      font-size:85%;
    }
/*
    @media (min-width: 768px) {
      .culpanel { width:740px; }
    }
    @media (min-width: 992px) {
      .culpanel { width:970px; }
    }
    @media (min-width: 1200px) {
      .culpanel { width:1190px; }
    }
*/
    .blurb {
      font-size:.9em;
      text-transform:uppercase;
      font-weight:200;
      margin: 2em 0 0;
    }
    .aligncenter { text-align:center; }
    .alignleft { text-align:left; }
    .alignjustify { text-align:justify; }
    .trajanpro { font-family: "trajan pro", trajan, serif; }
    .text-dim { color:rgba(255,255,255,.8); }
    .bgParallax {
		margin: 0 auto;
		width: 100%;
		/*text-shadow:0 0 10px rgba(0,0,0,0.7);*/
		background-position: 50% 0;
		background-repeat: no-repeat;
        background-size:cover;
		background-attachment: fixed;
    }
  a.browse-link {
    font-size: 70%;
    color: white;
    text-transform: uppercase;
  }
  .updown {
    position:fixed;
    z-index:25;
    bottom:24px;
    right:20px;
    font-size:1.16em;
    text-align:center;
  }
  .updown a {
    color:rgba(255,255,255,.8);
    text-shadow:0 0 1px rgba(0,0,0,0.9);
  }
  .updown a:hover {
    color:#429cec; /*rgba(155,155,255,.9);*/
  }
  #spinner {
    position:fixed;
    top:46%;
    left:48%;
    font-size: 14px;
    text-transform:uppercase;
  }
  .icon-spin {
    display:block;
    margin-bottom:8px;
    font-size: 28px;
    color:#eee;
	-moz-animation: spin 2s infinite linear;
	-o-animation: spin 2s infinite linear;
	-webkit-animation: spin 2s infinite linear;
	animation: spin 2s infinite linear;
  }
	@-moz-keyframes spin {
		from { -moz-transform: rotate(0deg); }
		to { -moz-transform: rotate(360deg); }
	}
	@-webkit-keyframes spin {
		from { -webkit-transform: rotate(0deg); }
		to { -webkit-transform: rotate(360deg); }
	}
	@keyframes spin {
		from {transform:rotate(0deg);}
		to {transform:rotate(360deg);}
	}

  /* D3 Styles */
  text {
  pointer-events: none;
}
  text.small {
    font-size: 66%;
  }
  text.large {
    font-size: 80%;
  }

text.parent {
  fill: #333;
}

circle {
  fill: #ccc;
  stroke: #999;
  pointer-events: all;
}

circle.parent {
  fill: #666;
  fill-opacity: .2;
  stroke: #999;
}

circle.parent:hover {
  stroke: #ff7f0e;
  stroke-width: .5px;
}

circle.child {
  /** need to be able to zoom to a child **/
  /** pointer-events: none; **/
}

.brick {
    overflow: hidden;
    border: thin solid black;
    padding: 0;
  }
    img.img-responsive {
      width: 100%;
      opacity: .8;
  }
  img.img-responsive:hover {
    opacity: 1;
  }

  </style>
  <!-- end prototype styles -->

  </head>
  <body class="<%= render_body_class %> dcv <%= params[:action] %>" data-no-turbolink>
    <%= render :partial => 'shared/topnavbar' %>

    <div id="spinner" style="text-align:center;"><i class="glyphicon glyphicon-refresh icon-spin icon-large"></i>Loading</div>

    <div class="updown hide-until-load">
           <a id="prev" href="#"><i class="glyphicon glyphicon-arrow-up"></i></a><br>
           <a id="next" href="#"><i class="glyphicon glyphicon-arrow-down"></i></a>
    </div>

<div id="home" class="section bgParallax" data-speed="2">

	<div id="slidecaps">
				 <ul class="hide-until-load bgslider-captions list-unstyled" style="font-size:95%;text-align:left;margin-bottom:10px;">
				   <li><span class="text-dim">Title:</span> <a id="slide-title" href="#"></a></li>
				   <li><span class="text-dim">Project:</span> <a id="slide-projssm" href="#"></a></li>
				 </ul>
	</div>

     <div class="culinner">
		<%= yield %>
     </div>

	  <div class="carousel-controls">
		  <a class="left carousel-control" href="#prev" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left hide"></span>
		  </a>
		  <a class="right carousel-control" href="#next" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right hide"></span>
		  </a>
	  </div>

</div>

<div id="discover" class="section bgParallax" data-speed="3">
  <div class="culinner container" style="padding-top:60px;">
    <div class="culpanel alignleft row">
     <h4 class="lead">DISCOVER PROJECTS <%= link_to 'Browse projects &raquo;'.html_safe, browse_url(action:'projects'), class: 'browse-link pull-right' %></h4>
        <div id="project-info" class="col-sm-12" style="padding:0;">
          <div style="height:150px;margin-bottom:5px;">
            <div class="row">
              <div class="col-sm-2">
                <div data-style="border:1px solid #888;" style="padding:2px;background-color:#1d1d1d;background-position:center center;background-repeat:no-repeat;background-size:100%;background-image:url('<%= asset_url("digital_projects_page/chinese_paper_gods.jpeg")%>');height:150px;width:100%;" id="burrito">
                  <!--img data-id="burrito" style="max-width:100%; padding:0; max-height:100%;" src="<%=  asset_url("digital_projects_page/chinese_paper_gods.jpeg")%>" /-->
                </div>
              </div>
              <div class="col-sm-10">
               <div style="">
                <form id="mosaic-switch" action="#">
					<select name="mosaic-project" id="mosaic-project" class="pull-right btn btn-default alignleft" style="font-size:.8em;padding:0;margin:0;">
					  <option value="cpg">Chinese Paper Gods</option>
					  <option value="ricop">Russian Imperial Corps of Pages</option>
					</select>
                </form>
                <h4 id="mosaic-project-title">Chinese Paper Gods</h4>
                <p id="mosaic-project-blurb" class="lead">An online visual catalog of over 200 woodcuts used in folk religious practices in Beijing and other parts of China in the 1930s.</p>
                <p><a id="mosaic-project-link" href="/catalog?f%5Blib_project_sim%5D%5B%5D=Chinese+paper+gods">View Content &raquo;</a></p>
               </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12" id="discover-content" data-style="max-height:520px;overflow-y:auto;" style="padding:0;position:relative;">
          <%# @per_row = 2 %>
          <%#= render template: 'pages/digital_projects', :locals => { :per_row => 2 } -%>
        </div>
    </div>
  </div>
</div>

<div id="explore" class="section bgParallax" data-speed="6">
  <div class="culinner container">
    <div class="culpanel row">
        <h4 class="lead alignleft">EXPLORE FORMATS        <%= link_to 'Browse formats &raquo;'.html_safe, browse_url(action:'formats'), class: 'browse-link pull-right' %>
</h4>
        <div class="alignjustify" id="bubbles" style="width:100%;">
<h5 class="zoom-label">Flare code size circle packing</h5>
        </div>
    </div>
  </div>
</div>

<div id="about" class="section bgParallax" data-speed="4">
  <div class="culinner container">
    <div class="culpanel row">
        <h4 class="lead alignleft">ABOUT DIGITAL LIBRARY COLLECTIONS</h4>
        <div class="lead alignjustify">
        Digital Library Collections is a gateway to many of the digital projects that <a href="http://library.columbia.edu">Columbia University Libraries / Information Services</a> has completed over the past ten years. It includes scans of photographs, posters, objects, manuscripts and other archival material from our special and archival collections. The site will continue to grow as more of our special collections are digitized and cataloged. (It does not at present include digitized books, however; these can be located by searching the CLIO catalog.) All site content is intended to be used for education and research.
        </div>
    </div>
  </div>
</div>

<ul class="hide">
	<li id="culnavitems" class="dropdown menu pull-left"><a class="dropdown-toggle menu" data-toggle="dropdown" href="#">DLC <b class="caret"></b></a>
		<ul class="dropdown-menu menu-dropdown dropdown-menu-right">
			<li><a href="#home" class="scrollto">Search</a></li>
			<li><a href="#discover" class="scrollto">Discover</a></li>
			<li><a href="#explore" class="scrollto">Explore</a></li>
			<li><a href="#about" class="scrollto">About</a></li>
		</ul>
	</li>
</ul>


<script data-turbolinks-eval="false">
$(window).load(function() {
  $('#spinner').remove();
  $('#culnavitems').hide().prependTo($('#cul_top-right'));
  $(window).scroll(function(){
    if($(this).scrollTop()>=$('#home').height()/1.6){
        //$('#topnavbar').css('opacity','1');
        $('#cul_top-right > li:not(:last-child)').show();
        $('#menuholder li:not(:last-child)').show();
    } else {
        //$('#topnavbar').css('opacity','0.3');
        $('#cul_top-right > li:not(:last-child)').hide();
        $('#menuholder li:not(:last-child)').show();
    }
  });
  $('#topnavbar, #pane-1 .cover, .culpanel, .hide-until-load').fadeIn(900);
  $('.carousel-indicators li').first().addClass('active');
  $('#slide-title').attr('href', $('.carousel-indicators').find('li.active').attr('data-caturl')).html($('.carousel-indicators').find('li.active').attr('data-titlessm'));
  $('#slide-projssm').attr('href', $('.carousel-indicators').find('li.active').attr('data-searchurl')).html($('.carousel-indicators').find('li.active').attr('data-projssm'));

/*
  if($(window).scrollTop()<$('#home').height()/1.6) {
    $('#topnavbar').fadeTo('slow','0.3');
  }
*/

  var wtop = $('#topnavbar').height();
  if($(this).scrollTop()>=wtop){
      $('#cul_top-right > li:not(:last-child)').show();
      $('#menuholder li:not(:last-child)').show();
  }

  new DCV.Bubbles("div#bubbles").chart("<%= flare_data_url(format: 'json', fields: 'lib_format_sim,lib_repo_sim,lib_collection_sim')%>");

  $(window).on('resize', function() {
	var  svg = $("#bubble-box").get(0);
	//var w = svg.width.baseVal.value;
	//var h = svg.height.baseVal.value;
	//svg.setAttribute('viewBox', '0 0 '+w+' '+h);
	svg.setAttribute('width', '100%');
	svg.setAttribute('height', '100%');
  });

});

$(document).ready(function() {

  /* home bg carousel */
  var $bgimgs = [
    {
      'image' : "<%= image_path('dcv/ldpd_113670.jpg')%>",
      'title' : 'Autograph album',
      'project' : 'Jewels in her Crown',
      'item-link' : "<%= catalog_url(id: 'ldpd:113670') -%>",
      'project-link' : "<%= catalog_index_url(:'f[lib_project_sim][]'=> 'Jewels in her Crown') -%>"
    },
    {
      'image' : "<%= image_path('dcv/ldpd_134685.jpg')%>",
      'title' : 'Footbridge over Little White River, Rosebud Reservation, South Dakota',
      'project' : 'G.E.E. Lindquist Native American Photographs',
      'item-link' : "<%= catalog_url(id: 'ldpd:134685') -%>",
      'project-link' : "<%= catalog_index_url(:'f[lib_project_sim][]'=> 'Lindquist Photographs') -%>"
    },
    {
      'image' : "<%= image_path('dcv/ldpd_85504.jpg')%>",
      'title' : 'Document, 1821 June 29',
      'project' : 'The Papers of John Jay',
      'item-link' : "<%= catalog_url(id: 'ldpd:85504') -%>",
      'project-link' : "<%= catalog_index_url(:'f[lib_project_sim][]'=> 'John Jay Papers') -%>"
    },
    {
      'image' : "<%= image_path('dcv/ldpd_114725.jpg')%>",
      'title' : 'Zhong Kui',
      'project' : 'Chinese Paper Gods',
      'item-link' : "<%= catalog_url(id: 'ldpd:114725') -%>",
      'project-link' : "<%= catalog_index_url(:'f[lib_project_sim][]'=> 'Chinese paper gods') -%>"
    },
    {
      'image' : "<%= image_path('dcv/ldpd_111727.jpg')%>",
      'title' : 'Drawing of an air battle',
      'project' : 'Children&apos;s Drawings of the Spanish Civil War',
      'item-link' : "<%= catalog_url(id: 'ldpd:111727') -%>",
      'project-link' : "<%= catalog_index_url(:'f[lib_project_sim][]'=> 'Spanish Civil War') -%>"
    },
    {
      'image' : "<%= image_path('dcv/ldpd_113939.jpg')%>",
      'title' : 'Coronation. Photograph, Ceremonial Departure',
      'project' : 'Russian Imperial Corps of Pages',
      'item-link' : "<%= catalog_url(id: 'ldpd:113939') -%>",
      'project-link' : "<%= catalog_index_url(:'f[lib_project_sim][]'=> 'Russian Corps of Pages') -%>"
    },
    {
      'image' : "<%= image_path('dcv/ldpd_136160.jpg')%>",
      'title' : 'Boys Playing in Open Fire Hydrants, Lower East Side',
      'project' : 'Community Service Society Photographs',
      'item-link' : "<%= catalog_url(id: 'ldpd:136160') -%>",
      'project-link' : "<%= catalog_index_url(:'f[lib_project_sim][]'=> 'Community Service Society Photographs') -%>"
    },
    /*
    "<%= image_path('dcv/1836760843_267e9c947f_o.jpg')%>",
    "<%= image_path('dcv/columbia_university_library___night_by_never4getthis-d57w6dl-cropped.jpg')%>",
    "<%= image_path('dcv/1836760843_267e9c947f_o-sepc.jpg')%>",
    "<%= image_path('dcv/ldpd-112745.jpg')%>"*/
  ];

  var imgs = [];
  for(var i = 0; i < $bgimgs.length; i++) { imgs[i] = $bgimgs[i]['image']}
  $("#home").bgswitcher({
	images: imgs,
    start: false,
    shuffle: false,
	  loop: true,
    effect: "fade"
  });
  var homeCarousel = $("#home");
  homeCarousel.append("<ol class='carousel-indicators hide-until-load'></ol>");
  var indicators = $(".carousel-indicators");
  var dt = '';
  var proj = '';
  for (var i = 0; i < $bgimgs.length; i++) {
    indicators.append("<li data-caturl='"+$bgimgs[i]['item-link']+"' data-titlessm='"+$bgimgs[i]['title']+"' data-projssm= '"+$bgimgs[i]['project']+"' data-target='#homeCarousel' data-slide-to='"+i+"' data-searchurl='" + $bgimgs[i]['project-link'] + "'></li> ");
  };
  $('.bgswitcher').addClass('bgParallax').attr('data-speed','2');
  $("#home .carousel-indicators").on("click", 'li', function() {
    $(this).parent().find('.active').removeClass('active')
    $('#home').bgswitcher("select", $(this).index());
    $('#slide-title').attr('href', $(this).attr('data-caturl')).html($(this).attr('data-titlessm'));
    $('#slide-projssm').attr('href', $(this).attr('data-searchurl')).html($(this).attr('data-projssm'));
    $(this).addClass('active');
  });

  $("#home .carousel-control").on("click", function() {
    var nextprev = $(this).attr('data-slide');
    $('#home').bgswitcher(nextprev);
    if (nextprev == 'next') {
     var $next = $('#home .carousel-indicators li').parent().find('.active').removeClass('active').next();
     if ($next.length) {
       $next.addClass('active');
     } else {
       $('#home .carousel-indicators li:first').addClass('active');
     }
    } else {
     var $prev = $('#home .carousel-indicators li').parent().find('.active').removeClass('active').prev();
     if ($prev.length) {
       $prev.addClass('active');
     } else {
       $('#home .carousel-indicators li:last').addClass('active');
     }
    }
    $('#slide-title').attr('href', $('.carousel-indicators').find('li.active').attr('data-caturl')).html($('.carousel-indicators li.active').attr('data-titlessm'));
    $('#slide-projssm').attr('href', $('.carousel-indicators').find('li.active').attr('data-searchurl')).html($('.carousel-indicators li.active').attr('data-projssm'));
    return false;
  });

  /* /END home bg carousel */

  parallasse();

  $('body').on('click', '.scrollto', function() {
    var where = $(this).attr('href');
    $('body,html').animate({ scrollTop: $(where).offset().top /*- $('#topnavbar').height()*/ }, 900, 'swing');
    $('#culnavitems').removeClass('open');
    $(this).blur();
    return false;
  });

  $('.updown').on('click', 'a', function(e) {
      var t = $(this).attr('id'),
      $par = $('.section.current');

    if (t === 'next' && $par.next('div.section').length > 0) {
        var $next = $par.next('.section');
        var top = $next.offset().top;

        $('body,html').animate({
          scrollTop: top
        }, function () {
        });
    } else if (t === 'prev' && $par.prev('div.section').length > 0) {
        var $prev = $par.prev('.section');
        var top = $prev.offset().top;

        $('body,html').animate({
          scrollTop: top
        }, function () {
        });
    }
    return false;
  });

  var projMap = {
    'cpg' : {
      'title' : 'Chinese Paper Gods',
      'thumb' : '<%=  asset_url("digital_projects_page/chinese_paper_gods.jpeg")%>',
      'link' : '/catalog?f%5Blib_project_sim%5D%5B%5D=Chinese+paper+gods',
      'blurb' : 'An online visual catalog of over 200 woodcuts used in folk religious practices in Beijing and other parts of China in the 1930s.'
    },
    'ricop' : {
      'title' : 'Russian Imperial Corps of Pages',
      'thumb' : '<%=  asset_url("digital_projects_page/russian_corps.jpeg")%>',
      'link' : '/catalog?f%5Blib_project_sim%5D%5B%5D=Russian+Corps+of+Pages',
      'blurb' : 'An online exhibition catalog containing selections from the Columbia University Libraries exhibition, "The Russian Imperial Corps of Pages."'
    }
  };

  $('#mosaic-project').change(function(e) {
    var $proj = $(this).val();
    var $projtitle = projMap[$proj]['title'];
    var $projthumb = projMap[$proj]['thumb'];
    var $projblurb = projMap[$proj]['blurb'];
    var $projlink = projMap[$proj]['link'];
    $('#discover-content').empty();
    $('#mosaic-project-title').html($projtitle);
    $('#mosaic-project-blurb').html($projblurb);
    $('#mosaic-project-link').attr('href',$projlink);
    $('#burrito').css('background-image','url('+$projthumb+')');
    mosaicDemo('#discover-content', $proj);
  });

  mosaicDemo('#discover-content', 'cpg');

});

$(window).scroll(function() {
    var windowTop = Math.max($('body').scrollTop(), $('html').scrollTop());
    $('.section').each(function (index) {
        if (windowTop > ($(this).position().top - 100))
        {
            $('.section.current').removeClass('current');
            $('.section:eq(' + index + ')').addClass('current');
        }
    });
}).scroll();

function parallasse() {
		var $window = $(window);
		//$('section[data-type="background"]').each(function() {
		$('.bgParallax').each(function() {
			//$(this).css('background-attachment', 'fixed').css('background-position', '50% -800px');
			var $bgobj = $(this); // assigning the object
			$(window).scroll(function() {
				// Scroll the background at var speed
				// the yPos is a negative value because we're scrolling it UP!
				var yPos = -(($window.scrollTop() - $bgobj.offset().top) / $bgobj.data('speed'));
				var coords = '50% ' + yPos.toFixed(0) + 'px';
				// Move the background
				$bgobj.css({
					backgroundPosition: coords
				});
			});
		});
//		document.createElement("article");
//		document.createElement("section");
}

</script>

  </body>
</html>
