<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>

    <%= render partial: 'shared/head_html' %>

    <%= stylesheet_link_tag    "welcome" %>
    <%= javascript_include_tag "d3" %>
    <%= javascript_include_tag "welcome" %>

  </head>
  <body class="<%= render_body_class %> dcv <%= params[:action] %>" data-no-turbolink>
    <%= render :partial => 'shared/topnavbar' %>

    <div id="spinner" style="text-align:center;"><i class="glyphicon glyphicon-refresh icon-spin icon-large"></i>Loading</div>

    <div class="updown hide-until-load">
           <a id="prev" href="#"><i class="glyphicon glyphicon-arrow-up"></i></a><br>
           <a id="next" href="#"><i class="glyphicon glyphicon-arrow-down"></i></a>
    </div>

<div id="home" class="section bgParallax" data-speed="2">

	<div id="slidecaps">
				 <ul class="hide-until-load bgslider-captions list-unstyled hidden-xs" style="font-size:95%;text-align:left;margin-bottom:10px;">
				   <li><span class="text-dim">Title:</span> <a id="slide-title" href="#"></a></li>
				   <li><span class="text-dim">Project:</span> <a id="slide-projssm" href="#"></a></li>
				 </ul>
	</div>

     <div class="culinner">
		<%= yield %>
     </div>

	  <div class="carousel-controls hidden-xs">
		  <a class="left carousel-control" href="#prev" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left hide"></span>
		  </a>
		  <a class="right carousel-control" href="#next" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right hide"></span>
		  </a>
	  </div>

</div>

<div id="discover" class="section bgParallax" data-speed="3">
  <div class="culinner container" style="padding-top:60px;">
    <div class="culpanel alignleft row">
     <h4 class="lead">DISCOVER PROJECTS <%= link_to 'Browse projects &raquo;'.html_safe, browse_url(action:'projects'), class: 'browse-link pull-right' %></h4>
        <div id="project-info" class="col-sm-12" style="padding:0;">
          <div style="height:160px;margin-bottom:5px;">
            <div class="row">
              <div class="col-sm-2">
                <div data-style="border:1px solid #888;" style="padding:2px;background-color:#1d1d1d;background-position:center center;background-repeat:no-repeat;background-size:100%;background-image:url('<%= asset_url("digital_projects_page/chinese_paper_gods.jpeg")%>');height:160px;width:100%;" id="burrito">
                  <!--img data-id="burrito" style="max-width:100%; padding:0; max-height:100%;" src="<%=  asset_url("digital_projects_page/chinese_paper_gods.jpeg")%>" /-->
                </div>
              </div>
              <div class="col-sm-10">
               <div style="">
                <form id="mosaic-switch" action="#">
					<select name="mosaic-project" id="mosaic-project" class="pull-right btn btn-default alignleft" style="font-size:.8em;padding:0;margin:0;">
					  <option value="cpg">Chinese Paper Gods</option>
					  <option value="ricop">Russian Imperial Corps of Pages</option>
					</select>
                </form>
                <h4 id="mosaic-project-title">Chinese Paper Gods</h4>
                <p id="mosaic-project-blurb" class="lead">An online visual catalog of over 200 woodcuts used in folk religious practices in Beijing and other parts of China in the 1930s.</p>
                <p><a id="mosaic-project-link" href="/catalog?f%5Blib_project_short_ssim%5D%5B%5D=Chinese+paper+gods">View Content &raquo;</a></p>
               </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12" id="discover-content" data-style="max-height:520px;overflow-y:auto;" style="padding:0;position:relative;">
          <%# @per_row = 2 %>
          <%#= render template: 'pages/digital_projects', :locals => { :per_row => 2 } -%>
        </div>
    </div>
  </div>
</div>

<div id="visualize" class="section bgParallax" data-speed="6">
  <div class="culinner container">
    <div class="culpanel row">
        <h4 class="lead alignleft">VISUALIZE FORMATS        <%= link_to 'Browse formats &raquo;'.html_safe, browse_url(action:'formats'), class: 'browse-link pull-right' %>
</h4>
        <div class="alignjustify" id="bubbles" style="width:100%;">
<h5 class="zoom-label">Flare code size circle packing</h5>
        </div>
    </div>
  </div>
</div>

<div id="colophon" class="section bgParallax" data-speed="4">
  <div class="culinner container">
    <div class="culpanel row">
        <h4 class="lead alignleft">ABOUT DIGITAL LIBRARY COLLECTIONS</h4>
        <div class="lead alignjustify">
        Digital Library Collections is a gateway to many of the digital projects that <a href="http://library.columbia.edu">Columbia University Libraries / Information Services</a> has completed over the past ten years. It includes scans of photographs, posters, objects, manuscripts and other archival material from our special and archival collections. The site will continue to grow as more of our special collections are digitized and cataloged. (It does not at present include digitized books, however; these can be located by searching the CLIO catalog.) All site content is intended to be used for education and research.
        </div>
        <p class="small alignleft"><a href="https://www.flickr.com/photos/mmj171188/1836760843">"Empty steps, 1 AM"</a> by <a href="https://www.flickr.com/photos/mmj171188/">Mira (on the wall)</a> is licensed under <a href="https://creativecommons.org/licenses/by-nc-sa/2.0/">CC BY NC SA 2.0</a>.</p>
        <hr>
        <div class="row">
		  <div class="col-sm-6">
			<p class="alignleft small">535 West 114th St. New York, NY 10027 Telephone (212) 854-7309 Fax (212) 854-9099</p>
		  </div>
		  <div class="col-sm-6 text-right">
			<p class="alignright small"><%= link_to 'Terms of Use', terms_of_use_path %> | <a href="#" onclick="return DCV.FeedbackModal.show();">Suggestions &amp; Feedback</a></p>
		  </div>
	    </div>
    </div>
  </div>
</div>

<ul class="hide">
	<li id="culnavitems" class="dropdown menu pull-left"><a class="dropdown-toggle menu" data-toggle="dropdown" href="#">DLC <b class="caret"></b></a>
		<ul class="dropdown-menu menu-dropdown dropdown-menu-right">
			<li><a href="#home" class="scrollto">Search</a></li>
			<li><a href="#discover" class="scrollto">Discover</a></li>
			<li><a href="#visualize" class="scrollto">Visualize</a></li>
			<li><a href="#colophon" class="scrollto">Colophon</a></li>
		</ul>
	</li>
</ul>

  </body>
</html>
